@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: "Helvetica";
    src: local("Helvetica"), url("/site_media/fonts/Helvetica/Helvetica.ttf");
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: "Helvetica";
    src: local("Helvetica Bold"), local("Helvetica-Bold"), url("/site_media/fonts/Helvetica/Helvetica-Bold.ttf");
    font-weight: bold; font-style: normal;
}
@font-face {
    font-family: "Helvetica";
    src: local("Helvetica Oblique"), local("Helvetica-Oblique"), url("/site_media/fonts/Helvetica/Helvetica-Oblique.ttf");
    font-weight: normal; font-style: italic;
}
@font-face {
    font-family: "Helvetica";
    src: local("Helvetica Oblique"), local("Helvetica-Oblique"), url("/site_media/fonts/Helvetica/Helvetica-Oblique.ttf");
    font-weight: normal; font-style: oblique;
}
@font-face {
    font-family: "Helvetica";
    src: local("Helvetica Bold Oblique"), local("Helvetica-BoldOblique"), url("/site_media/fonts/Helvetica/Helvetica-BoldOblique.ttf");
    font-weight: bold; font-style: italic;
}
@font-face {
    font-family: "Helvetica";
    src: local("Helvetica Bold Oblique"), local("Helvetica-BoldOblique"), url("/site_media/fonts/Helvetica/Helvetica-BoldOblique.ttf");
    font-weight: bold; font-style: oblique;
}

* { font-family: "Helvetica", Arial, sans-serif; }

.checkbox > label {
  padding-left: 0px;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    /*margin-right: .5em;*/
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 15%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
    color: #fff;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:checked + .cr,
.radio label input[type="radio"]:checked + .cr {
    background-color: #5496d7;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}


body {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.bgimg {
  background-image: url("/site_media/images/bg_rna.png");
  background-repeat: no-repeat;
  background-position: right 200px bottom 25px;
  background-size: 30%;
}
.bgimg-md {
  background-image: url("/site_media/images/bg_rna.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
.bgimg-lg {
  background-image: url("/site_media/images/bg_rna.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 90%;
}
.bgimg2 {
  background-image: url("/site_media/images/bg_rna_2.png");
  background-repeat: no-repeat;
  background-position: right 25px bottom 25px;
  background-size: 50%;
}
.bgimg2-md {
  background-image: url("/site_media/images/bg_rna_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
.bgimg2-lg {
  background-image: url("/site_media/images/bg_rna_2.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 90%;
}

.place_holder {
  height: 200px;
  background-size: 48px;
  opacity: 0.5;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: url("/site_media/images/fg_load.gif");  
  background-position: center;
}


html { 
  overflow-y: scroll; 
}

label {
  font-weight: normal;
}

.starter-template {
  padding: 40px 15px 15px 15px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}

.navbar {
  background-color: #011e46;
  border-color: #112d52;
}
.navbar .navbar-brand {
  color: #fef159;
  font-weight: bold;
  background-image: url("/site_media/images/bg_rna.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #fec78a;
  text-decoration: blink;
}
.navbar .navbar-text {
  color: #7cafd3;
}
.navbar .navbar-nav > li > a {
  color: #7cafd3;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #011e46;
  text-shadow: 2px 2px 5px #7cafd3;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #112d52;
  text-decoration: underline;
  text-shadow: 2px 2px 5px #ff0;
}
.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #112d52;
}
.navbar .navbar-toggle {
  border-color: #112d52;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: #112d52;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #7cafd3;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #7cafd3;
}
.navbar .navbar-link {
  color: #7cafd3;
}
.navbar .navbar-link:hover {
  color: #fff;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #7cafd3;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #112d52;
  }
}

.nav-general, .nav-puzzle, .nav-eterna {
  border-width: 2px 10px;
  border-color: #fff;
  border-style: solid;
}

li.nav-general {
  background-color: #ff5c2b; /*#903;*/
}

li.nav-general > a:hover {
  background-color: #ff7c55; /*#eaa;*/
}

li.nav-puzzle {
  background-color: #29be92; /*#080;*/
}

li.nav-puzzle > a:hover {
  background-color: #53cba7; /*#aea;*/
}

li.nav-eterna {
  background-color: #5496d7; /*#112d52;*/
}

li.nav-eterna > a:hover {
  background-color: #76abdf; /*#7cafd3;*/
}

li.nav-general > a, li.nav-puzzle > a, li.nav-eterna> a  {
  color: #fff;
  font-weight: bold;
}

.nav-tab {
  background-color: #112d52;
}

.nav-tab > li > a {
  color: #7cafd3;
  font-weight: normal;
}

.nav-tab > li > a:hover {
  background-color: #011e46;
  color: #fff;
  text-shadow: 2px 2px 5px #7cafd3; 
}

.nav-tab > .active, .nav-tab > .active:hover, .nav-tab > .active:focus {
  background-color: #011e46;
}

.nav-tab > .active > a, .nav-tab > .active > a:hover, .nav-tab > .active > a:focus {
  background-color: #fff;
  color: #011e46;
  font-weight: bold !important;
  text-shadow: 2px 2px 5px #7cafd3;
}

.nav-panel{
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #112d52;
    margin: 0px;
}

.nav-list{
  padding-left: 20px;
}

.tutorial{
  opacity:0.5;
}


a:link, a:visited {
  color: #011e46;
  text-decoration: none;
}

a:hover {
  color: #7cafd3;
  text-decoration: underline;
}

h1.section {
  background-color: #000;
  color: #7cafd3;
  padding: 15px;
  box-shadow: 0 0 15px #000;
  -moz-box-shadow: 0 0 15px #000;
  -webkit-box-shadow: 0 0 15px #000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

h1.section>span.sec {
  color: #fff;
}

h1.section>span.num {
  color: #ff0;
}

.comment {
  color: #080;
  font-style: italic;
}

.excerpt {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.8em;
}

.excerpt:hover {
  height: auto;
}

.popover-title{
    background-color: #000;
    border-color: #fbad24;
    color: #fff;
    opacity:0.9;
}

.popover-content {
    background-color: #000;
    border-color: #fbad24;
    color: #7cafd3;
    opacity:0.8;
}

#wait.modal {
  display:    none;
  position:   fixed;
  z-index:    99999;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background-position: center center;
  background-size: 72px;
  opacity: 0.5;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: url("/site_media/images/fg_load.gif");  
}

.modal-dialog { 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
}

.active > p > .badge {
  color: #428bca;
  background-color: #fff;
}
a.nav-list-item {
  opacity:0.5;
}
a.nav-list-item.active {
  color: #428bca;
  border: none;
  opacity: 1;
}
a.nav-list-item.active > p {
  color: #428bca !important;
}
a.nav-list-item.active > p > .badge {
  color: #fff;
  background-color: #428bca;
}
a.nav-list-item.active > h4 {
  color: #000 !important;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top: 75px;
  }
  
  #sidebar.affix {
    position: fixed;
    top: 75px;
  }
}

.affix,.affix-top {
   position:static;
}

.entry-list {
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position:relative;
}

.browse-rotate{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    position: relative;
    display: inline-block;
}

.eterna-panel{
    display: block;
    max-height: 280px !important;
    overflow: hidden;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.fileUpload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.btn-inverse {
  background-color: #000;
  color: #fff;
}

.btn-inverse:hover {
  background-color: #333;
  color: #fff;
}

a.btn {
  color: #fff !important;
}

a.btn-default {
  color: #000 !important;
}

img.logo {
  clear: both;
  float: right;
  margin-left: 15px;
  margin-bottom: 5px;
  max-height: 72px;
  max-width: 200px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-indicators li {
  background-color: #7cafd3;
}

.carousel-indicators .active {
  background-color: #112d52;
}

.carousel-indicators {
  top:0px;
}


.view_panel {
  position: fixed;
  float: right;
  width: 600px;
  right: 0px;
  margin-right: -1200px;
  background-color: #111;
  opactiy: 0.9;
  border: 1px solid #fbad24;
  color: #fff !important;
}

.side_panel {
  position: fixed;
  float: left;
  width: 600px;
  left: 0px;
  margin-left: -1200px;
  background-color: #fff;
  border: 1px solid #7cafd3;
  z-index: 10;
}
.side_tab {
  float: right;
  margin-right: -70px;
  background-color: #fff;
  border: 1px solid #7cafd3;
  border-radius: 0 5px 5px 0;
  z-index: 10;
}
.side_block {
  word-wrap: break-word;
  overflow: auto;
}
.side-table{
  table-layout: fixed;
}
.side-td {
  word-wrap: break-word;
}
.left_tab {
  transform: rotate(90deg) translate(-12%, 1%);
  -ms-transform: rotate(90deg) translate(-12%, 1%);
  -webkit-transform: rotate(90deg) translate(-12%, 1%);
  padding: 12px 0px;
  margin: 8px -10px 8px -20px;
  width: 80px;
}
.left_tab > a {
  width: 100px;
  text-align: center;
}
.left_close { 
  border-left: 1px solid #ddd;
}
.left_close > a {
  background-color: #fff !important;
}
li.left_alone > a {
  border-top: 5px solid #ff69bc !important;
  background-color: #ffd2ea !important;
}
.left_setting {
  margin: 0px -10px 16px -20px;
  height: 90px;
}
.left_setting > a {
  background-color: #3c763d !important;
  width: 120px;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none;
}
.tab-content > .active, .pill-content > .active {
  display: block;
}

.tabs-right > .nav_tabs {
  float: right;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav_tabs > li.left_tab > a {
  margin-left: -1px;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  color: #011e46;
  border-top: 5px solid #a19193;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.tabs-right > .nav_tabs > li.left_tab > a:hover,
.tabs-right > .nav_tabs > li.left_tab > a:focus {
  background-color: #eee;
}

.tabs-right > .nav_tabs > li.left_tab.active > a,
.tabs-right > .nav_tabs > li.left_tab.active > a:hover,
.tabs-right > .nav_tabs > li.left_tab.active > a:focus {
  border-top: 5px solid #3ed4e7;
  background-color: #c5f2f7;
  font-weight: bold;
}

.tab-inner {
  padding-top: 10px;
}


.test {
  border: #0f0 solid 2px;
}

.scroll_nav > ul > li.active > a,
.scroll_nav > ul > li.active > ul > li.active > a {
  background-color: #eee;
}


.nav_top {
  background: url("/site_media/images/nav_top.png") no-repeat;
  width: 60px;
  height: 60px;
  background-position: 0 0;
}
.nav_top:hover { background-position: -60px 0; }


.i_cc_by_64, .i_cc_sa_64, .i_cc_zero_64, .i_cc_64 {
  background: url("/site_media/images/logo_cc_64.png") no-repeat;
  width: 64px;
  height: 64px;
  display: inline-block;
}
.i_cc_by_64 {  background-position: -65px 0; }
.i_cc_sa_64 { background-position: -130px 0; }
.i_cc_zero_64 { background-position: -195px 0; }
.i_cc_64 { background-position: 0 0; }

