!.gitignore

backup/*.*gz
cache/*.txt
cache/*.json
cache/*.log

data/*
!data/**/.gitignore
dist/*

*.pyc

media/js/admin/min/*.js
media/js/public/min/*.js
media/js/suit/min/*.js
media/css/min/*.css

config/t47_dev.py
config/*.conf
config/sys/*
