{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div id="content-main" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<table class="table table-overview applist">
					<tr>
		                <th scope="row"><b><span class="glyphicon glyphicon-globe"></span> Link</th>
		                <td class="active"><a href="https://www.google.com/analytics/web/?hl=en#report/visitors-overview/a36037648w100053524p103952031/" target="_blank" class="addlink icon">https://www.google.com/analytics/web/?hl=en#report/visitors-overview/a36037648w100053524p103952031/</a></td>
		                <td class="active"><span class="glyphicon glyphicon-lock"></span> Google Analytics Authorization Required</td>
		              </tr>
				</table>
			</div>
		</div>

		<h4>Last 30 Days</h4>
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-primary">Bounce Rate</p>
							<p class="lead text-right place_holder" style="margin-bottom:0px;" id='br'></p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="br_prv_ico"></small>
								<span class="pull-right" id="br_prv"></span>
							</p>
						</div>
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-primary">User</p>
							<p class="lead text-right place_holder" style="margin-bottom:0px;" id='u'></p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="u_prv_ico"></small>
								<span class="pull-right" id="u_prv"></span>
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-inverse">Session Duration</p>
							<p class="lead text-right place_holder" style="margin-bottom:0px;" id="sd"></p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="sd_prv_ico"></small>
								<span class="pull-right" id="sd_prv"></span>
							</p>
						</div>
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-inverse">Session</p>
							<p class="lead text-right place_holder" style="margin-bottom:0px;" id="s"></p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="s_prv_ico"></small>
								<span class="pull-right" id="s_prv"></span>
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-violet">Page View / Session</p>
							<p class="lead text-right place_holder" style="margin-bottom:0px;" id="pvs"></p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="pvs_prv_ico"></small>
								<span class="pull-right" id="pvs_prv"></span>
							</p>
						</div>
						<div class="thumbnail" style="padding:10px 20px;">
							<p class="label label-violet">Page View</p>
							<p class="lead text-right place_holder" style="margin-bottom:0px;" id="pv"></p>
							<p class="lead" style="margin-bottom:30px;">
								<small class="pull-left" id="pv_prv_ico"></small>
								<span class="pull-right" id="pv_prv"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div id="chart_24h" class="thumbnail place_holder" style="padding:20px;"></div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div id="chart_7d" class="thumbnail place_holder" style="padding:20px;"></div>
					</div>
				</div>
				<!-- <h1 style="margin-bottom:5px;" class="text-center"><span class="label label-orange">Last 1 Month</span></h1> -->
				<div id="chart_1m" class="thumbnail place_holder" style="padding:20px;"></div>
				<!-- <h1 style="margin-bottom:5px;" class="text-center"><span class="label label-warning">Last 3 Months</span></h1> -->
				<div id="chart_3m" class="thumbnail place_holder" style="padding:20px;"></div>
			</div>		
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
				<div id="geo_session" class="thumbnail place_holder" style="padding:0px 20px;"></div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div id="pie_user" class="thumbnail place_holder" style="padding:0px 20px;"></div>
						<div id="pie_browser" class="thumbnail place_holder" style="padding:0px 20px;"></div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div id="pie_session" class="thumbnail place_holder" style="padding:0px 20px;"></div>
						<div id="pie_pageview" class="thumbnail place_holder" style="padding:0px 20px;"></div>
					</div>
				</div>
			</div>
		</div>	

	</div>

<div id="embed-api-auth-container"></div>
<div id="view-selector-container"></div>

{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function() {
			$("#view-selector-container").hide();
			$("ul.breadcrumb").append('<li class="active"><img src="/site_media/images/icons/ga.png" height="21px" style="vertical-align:text-top;">&nbsp;&nbsp;Google Analytics</li>');
		});
	</script>
	<script type="text/javascript" src="/site_media/js/admin/ga.js"></script>
{% endblock %}

