.spectable {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 8px;
}
.spectable td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 8px;
}
.spectable th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 8px;
	background-color: red;
	color: white;
}
#advanced_search_heatmap {
	margin-left:100px;
}

.help_text {
	font-style:italic;
	font-weight:bold;
}
.sectionheader { 
	background-color:#E6E6E3; 
	margin:10px; 
	padding:10px;
}
.form_description { 
	font-style:italic;
}

#logo {
	margin-left:4px;
}

#content {
	padding-top:70px;
	padding-left:20px;
	padding-right:20px;
}
#id_refstruct {
	width:400px;
}
#id_temperature {
	width:30px;
}
.hidden {
	display:none;
}
.svg_disabled {
	display:none;
}
.error_message{
    	background-color:red;
	color:white;
	font-weight:bold;
}

.form_errors ul {
	color:red;
}

.form_errors{
	color:red;
}

pre {
	background-color:#FFFF66;
	color:black;
	border-style:solid;
	border-color:gray;
	overflow:auto;
        padding:0;
        margin:0;
}


#slideshow {
}
.details {
	position:relative;
	height:450px;
}
.index {
    position:relative;
    height:200px;
    width:600px;
}
#slideshow .indexitem {
    float:left;
    padding:10px;
    height:190px;
    width:400px;
    border-style:solid;
    border-width:1px;
    border-color:#CFCFCF;
    position:absolute;
    background-color:#FFFFFF;
    top:0;
    left:0;
    z-index:8;
}


#slideshow .detailsitem {
    padding:0px;
    height:450px;
    width:550px;
    border-style:solid;
    border-width:1px;
    border-color:#CFCFCF;
    position:absolute;
    background-color:#FFFFFF;
    top:0;
    left:0;
    z-index:8;
}

#slideshow p {
    line-height:160%;
}
#slideshow .detailsimg {
	width:500px;
}

#slideshow img {
	margin:10px;
	float:left;
}

#slideshow div.active {
    z-index:10;
}

#slideshow div.last-active {
    z-index:9;
}

#rightlinks{
	width:200px;
	line-height:180%;
}

#rightlinks ul{
	list-style:none;
	margin:0px;
	padding:0;
}

#browser_warning a{
	color:#FFFFFF
}
h1 {
	color:#C63333;
	font-size:14px;
	font-style:bold;	
}
h2 {
	color:#C63333;
	font-size:14px;
}
h3 {
	color:#FF3333;
	font-style:bold;
}
body {
        background-image:url(/site_media/img/bg_body.gif);
        background-repeat:repeat-x;
	margin-left:10px;
	margin-right:10px;
	font-family:Arial;
	color:#848484;
}

a {
	color:#E60000;
}

.annotation_table table {
	color:red;
}


#topbar li a {
	display:block;
	padding:10px 5px;
	text-decoration:none;
	text-align:center;
	font-size:13px;
	color:#585858;
	border:1px solid #BDBDBD;
}

#topbar li a:hover {
	color:#FFFFFF;
	background-color:#000000;
	border-color:#BDBDBD;

}


#bottombar {
	margin-top:50px;
	background-color:#1C1C1C;
	height:35px;
	color:#A4A4A4;
}

#bottombar a {
	color:#A4A4A4;
}

#bottombar p {
	float:left;
	padding-left:40px;
	padding-top:10px;
}


#nativeapplet {
	overflow:scroll;
}

