.axis text {
  font: 12px Arial;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect.bar.active {
	stroke: #7d9fc9 !important;
	stroke-width: 5px !important;
}
