<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/site_media/css/rmdb.css" />
    <link rel="stylesheet" href="/site_media/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/site_media/css/theme.css" />

    <link rel="stylesheet" type="text/css" href="/site_media/jquery-ui-1.9.2/themes/base/jquery-ui.css" /> 
    <link rel="shortcut icon" href="/site_media/favicon.ico" />
    <link rel="icon" type-"image/gif" href="/site_media/animated_favicon1.gif" />
    <title>RMDB: RNA Mapping DataBase</title>

    <script type="text/javascript" src="/site_media/js/jquery-1.11.2.min.js"> </script> 
	
	<script type="text/javascript" src="/site_media/jquery-ui-1.9.2/ui/jquery-ui.js"> </script> 
    <script type="text/javascript" src="/site_media/js/jquery.cycle.all.latest.js"></script>
    <script type="text/javascript" src="/site_media/js/protovis-3.2/protovis-d3.2.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/site_media/js/bootstrap.min.js"> </script> 


   <script type="text/javascript">
	$(document).ready(function(){
	browser = navigator.appName;
	if(browser.indexOf("Explorer") != -1){
	    $("#browser_warning").show();
            $(".svg_disabled").show();
            $(".svg_enabled").hide();
        }
	function preventDefault(e) {
	  e = e || window.event;
	  if (e.preventDefault)
	      e.preventDefault();
	  e.returnValue = false;  
	}
	function wheel(e) {
	  preventDefault(e);
	}
	function disable_scroll() {
	  if (window.addEventListener) {
	      window.addEventListener("DOMMouseScroll", wheel, false);
	  }
	  window.onmousewheel = document.onmousewheel = wheel;
	}

	function enable_scroll() {
	    if (window.removeEventListener) {
		window.removeEventListener("DOMMouseScroll", wheel, false);
	    }
	    window.onmousewheel = document.onmousewheel = null;  
	}
        var wheelDistance = function(evt){
		if (!evt) evt = event;
		var w=evt.wheelDelta, d=evt.detail;
		if (d){
			if (w) return w/d/40*d>0?1:-1; // Opera
			else return -d/3;              // Firefox;         TODO: do not /3 for OS X
		} else return w/120;             // IE/Safari/Chrome TODO: /3 for Chrome OS X
	};
	var wheelDirection = function(evt){
		if (!evt) evt = event;
		return (evt.detail<0) ? 1 : (evt.wheelDelta>0) ? 1 : -1;
	};
	$(".appletdiv").bind("mousewheel", function(evt, delta){
		var distance  = wheelDistance(evt);
		var direction = wheelDirection(evt);
		console.log("event.wheelDelta: "+evt.wheelDelta+"<br>event.detail: "+evt.detail+"<br>Normalized Wheel Distance: "+distance+"<br>Wheel Direction: "+direction);
	});
	$(".appletdiv").mouseover(function() {
            disable_scroll();
	});
	$(".appletdiv").mouseout(function() {
            enable_scroll();
	});
	$("#submitform").click(function() {
		    $("#advanced_search_form").submit();
		    return false;
	});
	$("#help").click(function(){ $("#helpdialog").removeClass("hidden"); $("#helpdialog").dialog({width:800, height:500});});
	$("#submitform").button();

	});
    </script>

    {% block head %}{% endblock %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-36037648-1"]);
      _gaq.push(["_trackPageview"]);

      (function() {
	var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
	ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
	var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body>
	<div id="wait" class="modal"></div>
	<script type="text/javascript">
		$("#wait").ready(function () {
			$("#wait").show().fadeOut(500);
		});
	</script>

	<div class="navbar navbar-fixed-top" id="nav_load">
		<div class="container">
			<div class="navbar-header clickable">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/repository/" id="nav_logo">&nbsp;&nbsp;RMDB&nbsp;&nbsp;</a>
			</div>

			<div class="navbar-collapse collapse" >
				<ul class="nav navbar-nav">
					<li class="dropdown clickable" id="nav_browse">
						<a href="/repository/browse"  class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-expanded="false">
							Browse
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu nav nav-pills nav-stacked clickable" role="menu">
							<li class="nav-general"><a href="/repository/browse#categoryGeneral" id="navGeneral">General</a></li>
							<li class="divider"></li>
							<li class="nav-puzzle"><a href="/repository/browse#categoryPuzzle" id="navPuzzle">RNA Puzzles</a></li>
							<li class="divider"></li>
							<li class="nav-eterna" ><a href="/repository/browse#categoryEteRNA" id="navEteRNA">EteRNA</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a id="nav_deposit" href="/repository/submit" class="dropdown-toggle clickable disabled" data-toggle="dropdown" role="button" aria-expanded="false">
							Deposit
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu nav nav-pills nav-stacked" role="menu">
							<li class="clickable"><a href="/repository/deposit/specs">RDAT Format Specifications
							</a></li>
							<li class="clickable"><a href="/repository/deposit/validate">Validation Tools</a></li>
							<li class="divider"></li>
							<li class="clickable" id="nav_submit"><a href="/repository/submit">Submit Entry</a></li>
						</ul>
					</li>
					<li class="dropdown" id="nav_analyze">
						<a href="/structureserver/" class="dropdown-toggle disabled clickable" data-toggle="dropdown" role="button" aria-expanded="false">
							Analyze
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu nav nav-pills nav-stacked" role="menu">
							<li><a class="clickable" href="/structureserver/">Secondary Structure Prediction</a></li>
							<li class="divider"></li>
							<li><a class="clickable" href="/repository/analyze/tools">Repository Packages</a></li>
							<li><a class="disabled">Tool Tutorials</a></li>
							<li><a class="clickable" href="/repository/analyze/docs/rdatkit">&nbsp;&nbsp;&nbsp;&nbsp;<i>RDATKit</i></a></li>
							<li><a class="clickable" href="/repository/analyze/docs/hitrace">&nbsp;&nbsp;&nbsp;&nbsp;<i>HiTRACE</i></a></li>
						</ul>
					</li>
					<li class="dropdown clickable" id="nav_about">
						<a href="/repository/about" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-expanded="false">
							About
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu nav nav-pills nav-stacked" role="menu">
							<li><a href="/repository/about#contact">Contact Us</a></li>
							<li><a href="/repository/about#citation">Cite RMDB</a></li>
							<li><a href="/repository/about#privacy">Privacy</a></li>
							<li class="divider"></li>
							<li><a href="#">Web API</a></li>
						</ul>
					</li>
				</ul>

				<div class="pull-right row">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<button class="btn btn-info navbar-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color: #ffffff;">
								MyRMDB Login
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu nav nav-pills nav-stacked" role="menu">
								{% if user.is_authenticated %}
									<li><p>&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-decoration:underline; color:gray;">Signed In As:</span></p></li>
									<li>
										<p>
											&nbsp;&nbsp;&nbsp;&nbsp;
											{{ user.first_name }} {{ user.last_name }}
											(<i>{{ user.username }}</i>)
										</p>
										<p>
											&nbsp;&nbsp;&nbsp;&nbsp;
											<u>{{ user.email }}</u>
											&nbsp;&nbsp;&nbsp;&nbsp;
										</p>
									</li>
									<li class="divider"></li>
									<li><a class="clickable" href="/repository/logout">Sign Out</a></li>
								{% else %}
									<li><a id="nav_login" data-toggle="modal" data-target=".login">Sign In</a></li>
									<li class="divider"></li>
									<li><a class="clickable" href="/repository/register">Sign Up</a></li>
								{% endif %}
							</ul>
						</li>

					</ul>
					<ul class="pull-right">
						<li>
							<a href="http://eterna.cmu.edu/" target="_blank"><img src="/site_media/images/logo_eterna.png" height="42"/></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="jumbotron row bgimg">
			<div class="col-md-6">
				<img src="/site_media/logo_mini.png" style="clear:both;float:left;padding-right:20px;"/>
				<p>
					aaa
				</p>
			</div>
			<div class="col-md-6">
				<form class="pull-right" action="/repository/search" method="get">
					<div class="input-group">
						<input type="text" class="form-control" name="searchtext" placeholder="Search by accession ID" style="padding: 22px 22px;"/>
						<div class="input-group-btn">
							<input type="submit" class="btn btn-lg btn-success clickable" value="Search"/> 
						</div>
					</div>
				</form>
				<br/><br/><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;<a href="/repository/advanced_search" class="clickable">Advanced Search</a>
			</div>
		</div>
	</div>
    <hr/>

	{% block content %}{% endblock %}
	
	<hr/>

	<div id="browser_warning" style="display:none" class="error_message">
		<p>Your browser is not currently supported by the RMDB. Please use <a href="http://www.mozilla.com">Mozilla Firefox</a> or <a href="http://www.google.com/chrome">Google Chrome</a> for full support. Alternatively, if you want to use Internet Explorer, you need to download the <a href=http://code.google.com/chrome/chromeframe/"">Google Chrome Frame</a> (compatible with IE 8, but not IE 9), or similar SVG-enabling, plugins.</p>
	</div>
	
	<div id="login" class="modal fade login" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content panel-primary">
				<div class="modal-header panel-heading">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">MyRMDB Login</h4>
				</div>
				<form action="/repository/login/" method="post">
					<div class="modal-body panel-body">
			  			<h3>Please sign in to your account</h3>
                        <div class="col-md-12 form-group">
                        	<br><br>
                            <div class="row form-inline">
                                <div class="col-md-5">
                                    <label for="id_username" class="pull-right">Username:</label>
                                </div>
                                <div class="col-md-7">
                                   {{ login_form.username }}
                                </div>
                            </div>
                            <br/>
                            <div class="row form-inline">
                                <div class="col-md-5">
                                    <label for="id_password" class="pull-right">Password:</label>
                                </div>
                                <div class="col-md-7">
                                    {{ login_form.password }}
                                </div>
                            </div>

							{% if messages %}
							<hr/>
							<br/>
                            <div class="alert alert-danger" role="alert">
                                <p>
                                    <b>ERROR</b>: The following messages were produced:
                                </p>
                                <br/>
                                <ul>
							    {% for message in messages %}
							    	<li>{{ message }}</li>
							    {% endfor %}
                                </ul>
                            </div>
							{% endif %}
						</div>
					</div>
					<div class="modal-footer panel-footer">
						<div class="row">
							<span class="pull-left">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#login_help" aria-expanded="false" aria-controls="login_help">&nbsp;&nbsp;Help&nbsp;&nbsp;</button>
							</span>
							<span class="pull-right">
								<input type="submit" value="&nbsp;&nbsp;Sign In&nbsp;&nbsp;" class="btn btn-info clickable"/>
								&nbsp;&nbsp;
								<button type="button" class="btn btn-default" data-dismiss="modal" >&nbsp;&nbsp;Cancel&nbsp;&nbsp;</button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</span>
						</div>
						<div class="row col-md-12">
							<div class="collapse" id="login_help">
								<br/>
								<span class="pull-left" style="text-align:left;">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									For assistance related with account login issues (e.g. forgot password), 
									<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									please contact <a href="/repository/about#conact">site admin</a>.
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="container starter-template" id="footer"></div>
    <a href="#" id="up"><img style="position:fixed;display:block;right:5%;bottom:5%;opacity:0.85;" src="/site_media/images/fg_top.png" height="60"/></a>

	<script type="text/javascript">
		$(document).ready(function () {
			$("#footer").load("/site_media/html/_footer.html", function () {
				var today = new Date();
				$("#cp_year").text(today.getFullYear());
			});

			$(".dropdown-toggle").dropdown();
			$(".dropdown").hover(
	            function(){ $(this).addClass("open") },
    	        function(){ $(this).removeClass("open") }
        	);
			$("#up").on("click", function () {
				$("html, body").stop().animate({scrollTop: 0}, 500);
			});
			$(".clickable").on("click", function () {
				if ($("#buttonAll").length && $(this).attr("id") == "nav_browse") {
					$("#wait").hide();
				} else {
					$("#wait").fadeIn(500);
				}
			});
			$("#nav_login").on("click", function () {
				if ($("#id_repeatpassword").length) {
					$(location).attr("href","/repository/?login=1");
				} else {
					$("#login").show();
				}
			});

            $("#id_username").addClass("form-control");
            $("#id_password").addClass("form-control");

            $("#nav_deposit, #nav_submit").on("click", function(e) {
            	{% if not user.is_authenticated %}
            	    e.preventDefault();
            	    if ($("#id_repeatpassword").length) {
						$(location).attr("href","/repository/?login=1");
					} else {
						$(location).attr("href",$(location).attr("href") + "?login=0");
					}
        	    {% endif %}
            })

            if (($(location).attr("href").indexOf("?login=1") != -1) || ($(location).attr("href").indexOf("?login=0") != -1)) {
				$("#login").modal("show");
            }
		});

		{% if messages %}
			$(window).load(function () {
				$("#login").modal("show");
			});
		{% endif %}

		$(window).on("beforeunload", function () {
			$("#wait").fadeIn(500);
		});
	</script>

	{% block script %}{% endblock %}

</body>
</html>
