{% extends "html/_framework.html" %}
{% load repository_extras %}

{% block content %}
<div class="panel-group" id="categories">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-info" id="sidebar" data-spy="affix">
				<div class="panel-heading">
		            <h3 class="panel-title">Categories</h3>
				</div>
				<div class="panel-body">
					<div class="list-group">
						<a class="list-group-item active" id="buttonAll">
							<h4 class="list-group-item-heading">All</h4>
							<p class="list-group-item-text">
								# Entries: 
								<span class="badge">{{ N_all }}</span>
							</p>
						</a>
						<a class="list-group-item" id="buttonGeneral">
							<h4 class="list-group-item-heading">General</h4>
							<p class="list-group-item-text">
								# Entries: 
								<span class="badge">{{ N_general }}</span>
							</p>
						</a>
						<a class="list-group-item" id="buttonPuzzle">
							<h4 class="list-group-item-heading">RNA Puzzles</h4>
							<p class="list-group-item-text">
								# Entries: 
								<span class="badge">{{ N_puzzle }}</span>
							</p>
						</a>
						<a class="list-group-item" id="buttonEteRNA">
							<h4 class="list-group-item-heading">EteRNA</h4>
							<p class="list-group-item-text">
								# Entries: 
								<span class="badge">{{ N_eterna }}</span>
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-9" id="main">
			<h2>Browse RMDB by category</h2>
			<br/>

			<div class="panel panel-success category" id="categoryGeneral" role="tablist" aria-multiselectable="true">

				<div class="panel-heading">
		            <h3 class="panel-title">General</h3>
				</div>
				<div class="panel-body">
				{% for c in constructs_general %}
					{% if c.entries %}
					<div class="panel panel-default subpanel">
						<div id="heading{{ c.name|slugify }}" class="panel-heading" role="tab" data-toggle="collapse" data-parent="#categoryGeneral" href="#{{ c.name|slugify }}" aria-expanded="true" aria-controls="{{ c.name|slugify }}">
							<h3 class="panel-title" >
								<span>{{ c.name }}</span>
							</h3>
						</div>
						<div id="{{ c.name|slugify }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ c.name|slugify }}">
							<div class="panel-body">
								<ul>
								{% with 'Standard Titration Mutate MOHCA' as list %}
								{% for i in list.split %}
									{% if c|get_construct_dataset_type:i %}
										<li>
											<h3>
												{% if i == "Standard" %}
													<span class="label label-primary">Standard State</span>
												{% endif %}
												{% if i == "Titration" %}
													<span class="label label-info">Titration</span>
												{% endif %}
												{% if i == "Mutate" %}
													<span class="label label-success">Mutate and Map</span>
												{% endif %}
												{% if i == "MOHCA" %}
													<span class="label label-danger">MOHCA</span>
												{% endif %}
											</h3>
										</li>
										<div class="row">
										{% for e in c.entries %}
										{% if i in e.get_type_display %} 
											<div class="col-md-4 entry-list">
												<a href="/repository/detail/{{ e.rmdb_id }}" class="thumbnail">
													<p class="lead">
														{% autoescape off %}
														<span class="label label-default">{{ e.rmdb_id|color_rmdb_id }}</span>
														{% endautoescape %}
														<br/>
														<img src='/site_media/construct_img/thumbs/{{ e.cid }}/{{ c.name|slugify }}.gif'/>
														<br/>
													</p>
												</a>
											</div>
										{% endif %}
										{% endfor %}
										</div>
									{% endif %}
								{% endfor %}
								{% endwith %}
								</ul>
							</div>
						</div>
					</div>
					{% endif %}
				{% endfor %}
				</div>
			</div>

			<div class="panel panel-warning category" id="categoryPuzzle" role="tablist" aria-multiselectable="true">

				<div class="panel-heading">
		            <h3 class="panel-title">RNA Puzzles</h3>
				</div>
				<div class="panel-body">
				{% for c in constructs_puzzle %}
					{% if c.entries %}
					<div class="panel panel-default subpanel">
						<div id="heading{{ c.name|slugify }}" class="panel-heading" role="tab" data-toggle="collapse" data-parent="#categoryPuzzle" href="#{{ c.name|slugify }}" aria-expanded="true" aria-controls="{{ c.name|slugify }}">
							<h3 class="panel-title" >
								<span>{{ c.name }}</span>
							</h3>
						</div>
						<div id="{{ c.name|slugify }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ c.name|slugify }}">
							<div class="panel-body">
								<ul>
								{% with 'Standard Titration Mutate MOHCA' as list %}
								{% for i in list.split %}
									{% if c|get_construct_dataset_type:i %}
										<li>
											<h3>
												{% if i == "Standard" %}
													<span class="label label-primary">Standard State</span>
												{% endif %}
												{% if i == "Titration" %}
													<span class="label label-info">Titration</span>
												{% endif %}
												{% if i == "Mutate" %}
													<span class="label label-success">Mutate and Map</span>
												{% endif %}
												{% if i == "MOHCA" %}
													<span class="label label-danger">MOHCA</span>
												{% endif %}
											</h3>
										</li>
										<div class="row">
										{% for e in c.entries %}
										{% if i in e.get_type_display %} 
											<div class="col-md-4 entry-list">
												<a href="/repository/detail/{{ e.rmdb_id }}" class="thumbnail">
													<p class="lead">
														{% autoescape off %}
														<span class="label label-default">{{ e.rmdb_id|color_rmdb_id }}</span>
														{% endautoescape %}
														<br/>
														<img src='/site_media/construct_img/thumbs/{{ e.cid }}/{{ c.name|slugify }}.gif'/>
														<br/>
													</p>
												</a>
											</div>
										{% endif %}
										{% endfor %}
										</div>
									{% endif %}
								{% endfor %}
								{% endwith %}
								</ul>
							</div>
						</div>
					</div>
					{% endif %}
				{% endfor %}
				</div>
			</div>

			<div class="panel panel-danger category" id="categoryEteRNA" role="tablist" aria-multiselectable="true">

				<div class="panel-heading">
		            <h3 class="panel-title">EteRNA</h3>
				</div>
				<div class="panel-body" id="panel-eterna">
				{% for c in constructs_eterna %}
					{% for e in c.entries %}
					<div class="panel panel-default subpanel eterna-panel">
						<div id="heading{{ e.rmdb_id|slugify }}" class="panel-heading" role="tab" data-toggle="collapse" data-parent="#categoryEteRNA" href="#{{ e.rmdb_id|slugify }}" aria-expanded="true" aria-controls="{{ e.rmdb_id|slugify }}">
							<div class="panel-title" >
								<span class="label label-default" style="font-size:16px;">
									{% autoescape off %}
									{{ e.rmdb_id|color_eterna_id }}
									{% endautoescape %}
								</span>
							</div>
						</div>
						<div id="{{ e.rmdb_id|slugify }}" class="panel-collapse collapse eterna-subpanel" role="tabpanel" aria-labelledby="heading{{ e.rmdb_id|slugify }}">
							<div class="panel-body">
								<a href="/repository/detail/{{ e.rmdb_id }}" class="row browse-rotate thumbnail pull-left">
									<img src='/site_media/construct_img/thumbs/{{ e.cid }}/{{ c.name|slugify }}.gif'/>
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
				{% endfor %}
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}


{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$(".dropdown-toggle").removeClass("active");
			$("#nav_browse").addClass("active");
	    	$("#nav_logo").css("text-decoration","none");

			$("#sidebar").css("width", $("#sidebar").width());
			$("#sidebar").affix({
      			offset: {
      		  	top: $("#main").position().top
      			}
			});	
			
			$(".category").each(function () {
				$(this).find(".panel-body>.subpanel:first>.panel-collapse").collapse("show");
			});

			$("#buttonAll, #buttonGeneral, #buttonPuzzle, #buttonEteRNA").on("click", function () {
				$("#categoryGeneral, #categoryPuzzle, #categoryEteRNA").hide();
				$("#buttonAll, #buttonGeneral, #buttonPuzzle, #buttonEteRNA").removeClass("active");
			});

			$("#buttonAll").on("click", function () {
				$("#categoryGeneral, #categoryPuzzle, #categoryEteRNA").show();
				$("#buttonAll").addClass("active");
			    $('html, body').stop().animate({scrollTop: 0}, 500);
			});

			$("#buttonGeneral").on("click", function () {
				$("#categoryGeneral").show();
				$("#buttonGeneral").addClass("active");
			    $('html, body').stop().animate({scrollTop: 0}, 500);
			});

			$("#buttonPuzzle").on("click", function () {
				$("#categoryPuzzle").show();
				$("#buttonPuzzle").addClass("active");
			    $('html, body').stop().animate({scrollTop: 0}, 500);
			});

			$("#buttonEteRNA").on("click", function () {
				$("#categoryEteRNA").show();
				$("#buttonEteRNA").addClass("active");
			    $('html, body').stop().animate({scrollTop: 0}, 500);
			});

		});
	</script>

{% endblock %}