{% extends "html/_framework.html" %}
{% load repository_extras %}

{% block head %}
<link rel="stylesheet" href="/site_media/css/svg.css" />
{% endblock %}


{% block content %}

{% if entry.revision_status == "PUB" %}
<div id="left_panel" class="side_panel well">
	<div role="tabpanel" class="tabbable tabs-right">
		<ul class="nav nav_tabs side_tab" role="tablist" id="left-buttons">
			<li class="left_close">
				<a class="text-center"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>
			</li>
			<br/>
			<li role="presentation" class="left_tab left_group active">
				<a href="#tab_left_1" aria-controls="tab_left_1" role="tab" data-toggle="tab">General</a>
			</li>
			<br/>
			<li role="presentation" class="left_tab left_group">
				<a href="#tab_left_2" aria-controls="tab_left_2" role="tab" data-toggle="tab">Construct</a>
			</li>
			<br/>
			<li role="presentation" class="left_tab left_group">
				<a href="#tab_left_3" aria-controls="tab_left_3" role="tab" data-toggle="tab">Annotation</a>
			</li>
			<br/>
			<li role="presentation" class="left_tab left_group">
				<a href="#tab_left_4" aria-controls="tab_left_4" role="tab" data-toggle="tab">Predict</a>
			</li>
			<br/>
			<li class="left_close">
				<a class="text-center"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>
			</li>
		</ul>
		<br/>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active fade in side_block" id="tab_left_1">
				<table class="table table-hover">
					<tr>
						<td class="lead text-right"><span class="label label-default" style="background:#000;">RMDB_ID</span></td>
						<td class="lead">
							{% autoescape off %}
			                <span class="label label-default">{{entry.rmdb_id|color_rmdb_id}}</span>
			                {% endautoescape %}
			            </td>
			        </tr>
					<tr>
						<td class="lead text-right align-center"><span class="label label-primary">NAME</span></td>
						<td class="lead">
						{% for c in constructs %}
							{{c.name}}
						{% endfor %}
			            </td>
			        </tr>
					<tr>
						<td class="lead text-right align-center"><span class="label label-info">Author</span></td>
						<td>{{entry.authors}}</td>
			        </tr>

					<tr>
						<td class="lead text-right align-center"><span class="label label-info">Publication</span></td>
						<td>
							<p><i>{{publication.authors}}</i>. <b>{{publication.title}}</b>. <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{publication.pubmed_id}}" target="_blank">PMID: {{publication.pubmed_id}} <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
						</td>
			        </tr>

					<tr>
						<td class="lead text-right align-center"><span class="label label-info">Description</span></td>
						<td>{{entry.description}}</td>
			        </tr>

					<tr>
						<td class="lead text-right align-center"><span class="label label-primary">COMMENT</span></td>
						<td>
							{% for c in comments %}
							<p>{% autoescape off %} {{c}} {% endautoescape %}.</p>
							{% endfor %}
						</td>
			        </tr>

					<tr>
						<td class="lead text-right align-center"><span class="label label-default">PDB_ID</span></td>
						<td>
							{% for pdb_id in entry.pdb_ids %}
							<li><a href="http://www.pdb.org/pdb/explore/explore.do?structureId={{pdb_id}}">{{pdb_id}}</a></li>
							{% endfor %}
						</td>
			        </tr>

					<tr>
						<td class="lead text-right align-center"><span class="label label-default">RDAT_VERSION</span></td>
						<td><code>{{rdat_ver}}</code></td>
			        </tr>

					<tr>
						<td class="lead text-right align-center"><span class="label label-info">Stats</span></td>
						<td>
							<p>
								<i>Version:</i> <mark>{{entry.version}}</mark>
								<br/>
								<i># of Construct:</i> <code>{{entry.constructcount}}</code>
								<br/>
								<i># of Data Point:</i> <code>{{entry.datacount}}</code>
								<br/>
								<i>Creation Date:</i> <mark>{{entry.creation_date|date:"SHORT_DATE_FORMAT"}}</mark>
								<br/>
								<i>Revision Status:</i>
								{% autoescape off %} {{entry.revision_status|get_rev_stat}} {% endautoescape %}
							</p>
						</td>
			        </tr>
								
					<tr>
						<th class="col-md-3"></th>
						<th class="col-md-9"></th>
					</tr>
				</table>
			</div>

			<div role="tabpanel" class="tab-pane fade side_block" id="tab_left_2">
				<table class="table table-hover" style="word-wrap:break-word;word-break:break-word;">
					<tr>
						<td class="lead text-right align-center"><span class="label label-primary">NAME</span></td>
						<td class="lead">
						{% for c in constructs %}
							{{c.name}}
						{% endfor %}
			            </td>
			        </tr>
					<tr>
						<td class="lead text-right"><span class="label label-primary">SEQUENCE</span></td>
						<td>
						{% for c in constructs %}
							<p><b><samp>{{c.sequence}}</samp></b></p>
							<code>1-by-{{c.sequence_len}}</code> <i>vector</i>
						{% endfor %}
			            </td>
			        </tr>
					<tr>
						<td class="lead text-right"><span class="label label-primary">STRUCTURE</span></td>
						<td>
						{% for c in constructs %}
							<p><b><samp>{{c.structure}}</samp></b></p>
							<code>1-by-{{c.structure_len}}</code> <i>vector</i>
						{% endfor %}
			            </td>
			        </tr>
					<tr>
						<td class="lead text-right"><span class="label label-primary">SEQPOS</span></td>
						<td >
						{% for c in constructs %}
							{% if c.seqpos %}
								{% autoescape off %}
								<p>{{c.seqpos}}</p>
								<code>1-by-{{c.seqpos_len}}</code> <i>vector</i>
								{% endautoescape %}
							{% endif %}
						{% endfor %}
			            </td>
			        </tr>
					<tr>
						<td class="lead text-right"><span class="label label-primary">OFFSET</span></td>
						<td>
						{% for c in constructs %}
							<code>{{c.offset}}</code>
						{% endfor %}
			            </td>
			        </tr>
					<tr>
						<td class="lead text-right"><span class="label label-success">REACTIVITY</span></td>
						<td >
						{% for c in constructs %}
							{% if c.datas %}
								{% autoescape off %}
								<code>{{c.data_nrow}}-by-{{c.data_ncol}}</code> <i>matrix</i>
								{% endautoescape %}
							{% endif %}
						{% endfor %}
			            </td>
			        </tr>
					<tr>
						<td class="lead text-right"><span class="label label-success">REACTIVITY_ERROR</span></td>
						<td >
						{% for c in constructs %}
							{% if c.datas %}
								{% autoescape off %}
								{% if c.err_ncol %}
								<code>{{c.data_nrow}}-by-{{c.err_ncol}}</code> <i>matrix</i>
								{% else %}
								<code>N/A</code> (not available)
								{% endif %}
								{% endautoescape %}
							{% endif %}
						{% endfor %}
			            </td>
			        </tr>
			        <tr>
						<td class="lead text-right"><span class="label label-success">XSEL</span></td>
						<td >
						{% for c in constructs %}
							{% if c.xsel_len %}
								{% autoescape off %}
								<code>1-by-{{c.xsel_len}}</code> <i>vector</i>
								{% endautoescape %}
							{% else %}
								<code>N/A</code> (not available)
							{% endif %}
						{% endfor %}
			            </td>
			        </tr>

					<tr>
						<th class="col-md-3"></th>
						<th class="col-md-9"></th>
					</tr>
				</table>
			</div>

			<div role="tabpanel" class="tab-pane fade side_block" id="tab_left_3">
				<table class="table table-hover" style="word-wrap:break-word;word-break:break-word;">
					<tr>
						<td class="lead text-right align-center"><span class="label label-primary">ANNOTATION</span></td>
						<td class="lead text-right align-center"><span class="label label-danger">experimentType</span></td>
						<td class="lead">
							<span class="label label-success">
							{% if entry.type == "MM" %}
								Mutate and Map
							{% endif %}
							{% if entry.type == "SS" %}
								Standard State
							{% endif %}
							{% if entry.type == "MA" %}
								MOHCA
							{% endif %}
							{% if entry.type == "TT" %}
								Titration
							{% endif %}
							</span>
						</td>
			        </tr>

			        {% for a in entry.annotations %}
					<tr>
						<td></td>
						<td class="lead text-right align-center"><span class="label label-danger">{{a}}</span></td>
						<td class="lead">
							{% autoescape off %}
							{{entry.annotations|get_annotation_item:a}}
							{% endautoescape %}
						</td>
			        </tr>
			        {% endfor %}

					<tr>
						<td class="lead text-right align-center"><span class="label label-primary">DATA_ANNOTATION</span></td>
						<td></td>
						<td></td>
			        </tr>

					{% if data_annotations_exist %}
					{% for c in constructs %}
					{% for d in c.datas %}
					{% for a in d.annotations %}
					<tr>
						<td class="text-right">
							{% if forloop.counter == 1 %}
							<b><i><u>{{forloop.parentloop.counter}}</u></i></b>
							{% endif %}
						</td>
						<td class="lead text-right align-center"><span class="label label-danger">{{a}}</span></td>
						<td class="lead">
							{% autoescape off %}
							{{d.annotations|get_annotation_item:a}}
							{% endautoescape %}
						</td>
			        </tr>
			        {% endfor %}
			        {% endfor %}
			        {% endfor %}
					{% endif %}

					<tr>
						<th class="col-md-3"></th>
						<th class="col-md-3"></th>
						<th class="col-md-6"></th>
					</tr>
				</table>

			</div>
			<div role="tabpanel" class="tab-pane active fade in side_block" id="tab_left_4">

			</div>
		</div>
	</div>
</div>

<div id="set_panel" class="view_panel">

</div>

<div id="img_panel" class="side_panel well">
	<div role="tabpanel" class="tabbable tabs-right">
		<ul class="nav nav_tabs side_tab" role="tablist" id="img-buttons">
			<br/>
			<li role="presentation" class="left_tab left_alone active">
				<a href="#panel_svg" role="tab" data-toggle="tab">Bar Plot</a>
			</li>
			<br/>
		</ul>
		<br/>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active fade in side_block" id="panel_svg">
				<div class="row">
					<div class="col-md-1" style="width:90px;">
						<p class="btn-group-vertical" role="group" style="padding-left:10px;">
							<button id="svg_top" class="btn btn-default">
								<span class="glyphicon glyphicon-fast-backward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
							<button id="svg_up" class="btn btn-default">
								<span class="glyphicon glyphicon-backward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
						</p>
						<p>
							<input type="text" class="form-control" id="page_num" style="text-align: center;"/>
						</p>
						<p class="btn-group-vertical" role="group" style="padding-left:10px;">
							<button id="svg_down" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-forward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
							<button id="svg_bottom" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-fast-forward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
						</p>
						<p class="btn-group-vertical" role="group" style="padding-left:10px;">
							<a id="svg_save" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
							</a>
							<button id="svg_setting" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							</button>
							<button id="svg_clear" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
							</button>
						</p>
					</div>
					<div class="col-md-11" id="svg_parent"><svg class="chart"></svg></div>
				</div>
			</div>
		</div> 
	</div>
</div>



{% for c in constructs %}

<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h2>{{c.name}}</h2>
			<div class="row">
				<div class="col-md-6">
					<h2 style="margin-top:0px;">
						{% autoescape off %}
					    <span class="label label-default">{{entry.rmdb_id|color_rmdb_id}}</span>
					    {% endautoescape %}
					</h2>
				</div>
				<div class="col-md-6">
					<div class="btn-group pull-right" role="group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
							&nbsp;&nbsp;Download&nbsp;&nbsp;
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu nav nav-pills nav-stacked" role="menu">
							<li><a href="/site_media/rdat_files/{{entry.rmdb_id}}/{{entry.rmdb_id}}.rdat" id="dl_rdat" download>
								<span class="glyphicon glyphicon-compressed" aria-hidden="true"></span>
								&nbsp;&nbsp;RDAT
							</a></li>
							{% if not maxlen_flag %} 
							<li><a href="/site_media/isatab_files/{{entry.rmdb_id}}/{{entry.rmdb_id}}_{{entry.version}}.xls" id="dl_isatab" download>
								<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								&nbsp;&nbsp;ISATAB
							</a></li>
							{% endif %} 
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
	        <p class="center-block well" style="text-align:center;">
	        	<b>Color Scale:</b>
	        	<br/>
	        	<img src="/site_media/img/graycolormap.gif"/>
	        	<br/>
	        	{{c.area_peaks_max|floatformat:2}} 
	        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        	{{c.area_peaks_min|floatformat:0}}
	        </p>
		</div>
	</div>
</div>
<br/>

<div class="row">
	<script type="text/javascript">

		var peaks = {% autoescape off %} {{c.area_peaks}} {% endautoescape %};
		var data_array = peaks;
		/* Convert from tabular format to array of objects. */
		var structures = {% autoescape off %}{{c.precalc_structures}} {% endautoescape %};
		var all_data = [], rows = [], peakst = [], tmp = [];
		for (i = 0; i < peaks.length; i++) {
			for (j = 0; j < peaks[i].length; j++) {
				if (j == 0) {
					rows.push(peaks[i][j]);
				} else {
					if (i == 0) {
						peakst.push([peaks[i][j]]);
					} else {
						peakst[j-1].push(peaks[i][j]);
						all_data.push(peaks[i][j]);
					}
				}
			}
		}

		var cols = peaks.shift();
		peakst = peakst.map(function(d){ return pv.dict(rows, function(){ return d[this.index];});});
		peaks = peaks.map(function(d){ return pv.dict(cols, function(){ return d[this.index];});});
		cols.shift();
		rows.shift();
		var ns = 0.7;
		/* The color scale ranges ns standard deviations in each direction. */
		var x = pv.mean(all_data),
			s = pv.deviation(all_data),
			fill = pv.dict(rows, function(f){ return pv.Scale.linear()
					//.by(function(d){ return d > x[f] + 2*s[f] ? x[f] + 2*s[f] : d; })
					.domain({{c.area_peaks_min}}, x + ns*s)
					.range("white", "black");});

		/* The cell dimensions. */
		var w = 10, h = 10,
			totwidth = Math.max(0, cols.length * w),
			totheight = Math.max(150, peaks.length * h),
			spacing = Math.max(60, totheight - peaks.length * h);

		var vis = new pv.Panel()
			.width(totwidth)
			.height(totheight)
			.top(spacing / 2)
			.left(150);

		vis.add(pv.Panel)
			.data(rows)
			.top(function(){ return this.index * 10;})
			.add(pv.Panel)
			.def("active", false)
			.height(10)
			.strokeStyle(function(){ if(this.active()){ return "blue";} else{ return "black";}})
			.lineWidth(function(){ if(this.active()){ return 2;} else{ return 1;}})
			.add(pv.Panel)
			.data(peakst)
			.left(function(){ return this.index * 10;})
			.width(10)
			.event("mouseover", function(){ this.parent.active(true); return this.parent;})
			.event("mouseout", function(){ this.parent.active(false); return this.parent;})
			.event("click", function(d, f){ 
				idx = rows.indexOf(f);
				make_barplot(idx);
				$("#page_num").val((idx+1).toString());
				$("#img_panel").addClass("visible").animate({"margin-left":"0px"}).css("z-index", "100");

				//The following lines are for viewing the secondary structure using another browser window
				$("[name=structure]").val("{{c.structure}}");
				$("[name=sequence]").val("{{c.sequence}}");
				$("[name=seqpos]").val("{{c.seqpos}}");
				$("[name=offset]").val("{{c.offset}}");
				$("[name=title]").val(f);
				$("[name=colormap]").val(data_array[this.parent.parent.index].slice(1));
				// $("#structureviewform").submit();
				//The following lines are for viewing the secondary structure using an inset dialog window
				/*		var struct = structures[this.parent.parent.index],
				applet = $("#rnaapplet");
				$("#dialog").dialog({width:400, height:400}); 
				if(struct == "NA"){
				$("#structure_info").text("Structure not available");
				applet.attr("width", 1);
				applet.attr("height", 1);
				applet[0].setRNA("", "");
				}
				else {
				$("#structure_info").text("");
				applet.attr("width", 350);
				applet.attr("height", 350);
				applet[0].setRNA("{{c.sequence}}", struct);
				}*/
			})

			.fillStyle(function(d, f){ 
				if (d[f] > x[f] + ns*s[f])
					val = x[f] + ns*s[f];
				else if (d[f] < x[f] -ns*s[f])
					val = x[f] - ns*s[f];
				else
					val = d[f];
				return fill[f](val);})
			.title(function(d, f){ return d.Annotation + "," + f + ": " + d[f];})
			.strokeStyle(function(){ if(this.parent.active()){ return "blue";} else{ return "black";}})
			.lineWidth(1)
			.antialias(false);

		vis.add(pv.Label)
			.data(cols)
			.left(function(){ return this.index * w + w / 2;})
			.textAngle(-Math.PI / 2)
			.textBaseline("middle");

		vis.add(pv.Label)
			.data(peaks)
			.top(function(){ return this.index * h + h / 2;})
			.textAlign("right")
			.textBaseline("middle")
			.text(function(d){ return d.Annotation;});

		vis.render();
	</script>
</div>
<!--
{% if entry.has_traces %}
    <div>
	<h3>Raw traces</h3>
	<img class="detailsimg" src="/site_media/construct_img/{{c.id}}/trace.png"/>
    </div>
{% endif %}
-->

{% endfor %}


{% else %}
	{% if entry.revision_status == "REC" %}
	<h1>Entry {{entry.rmdb_id}} has been received and is currently under review.</h1>
	{% else %}
	<h1>Entry {{entry.rmdb_id}} has been received and will undergo review shortly.</h1>
	{% endif %}
	<p>Please contact <a href="mailto:rhiju@stanford.edu">rhiju@stanford.edu</a> for further information. </p>
{% endif %}

<form class="hidden" id="structureviewform" target="popup"
	onsubmit='popup = window.open("Secondary structure with bonuses","popup","width=450,height=450");' 
	action="/repository/render_structure" method="post">
	<input name="structure" type="text"/>
	<input name="sequence" type="text"/>
	<input name="title" type="text"/>
	<input name="colormap" type="text"/>
	<input name="seqpos" type="text"/>
	<input name="offset" type="text"/>
	<input type="submit" value="sumbit"/>
</form>
{% endblock %}


{% block script %}
	<script type="text/javascript">
		var idx = 0;

		function init_panel_size() {
			$(".left_close").removeClass("visible").hide();
			$("#left_panel").css("width", $(window).width()/2);
			$("#left_panel").css("top", parseInt($(".navbar-fixed-top").css("height")));
			$("#left_panel").css("height", $(window).height() - parseInt($(".navbar-fixed-top").css("height")));
			$(".side_block").css("max-height", parseInt($("#left_panel").css("height")) - 20);
			$("#left-buttons").css("margin-top", parseInt($("#left_panel").css("height"))*0.8
				-parseInt($("#left-buttons").css("height"))-parseInt($(".left_close").css("height"))*2);

			$("#img_panel").css("width", $(window).width() - 75);
			$("#img_panel").css("height", "325px");
			$("#img_panel").css("top", $(window).height() - parseInt($("#img_panel").css("height")));
			$("#img-buttons").css("margin-top", 
				parseInt($("#left-buttons").css("height"))+parseInt($("#left-buttons").css("margin-top"))
				-parseInt($("#img_panel").css("top"))+parseInt($(".navbar-fixed-top").css("height"))-1);
			$("#svg_parent").css("width", parseInt($("#panel_svg").css("height"))-90);

			$("#set_panel").css("max-width", "400px");
			$("#set_panel").css("width", $(window).width()*0.33);
			$("#set_panel").css("top", parseInt($(".navbar-fixed-top").css("height")));
			$("#set_panel").css("height", $(window).height() - parseInt($(".navbar-fixed-top").css("height")));

			$("#left_panel").css({"margin-left":"-"+$("#left_panel").css("width")}).removeClass("visible");
			$("#img_panel").css({"margin-left":"-"+$("#img_panel").css("width")}).removeClass("visible");
			$("#set_panel").css({"margin-right":"-"+$("#set_panel").css("width")}).removeClass("visible");
		}

		function get_nt_color(nt) {
			switch (nt) {
				case "A":
				case "a":
					return "red"
				case "T":
				case "t":
				case "U":
				case "u":
					return "green"
				case "C":
				case "c":
					return "blue"
				case "G":
				case "g":
					return "magenta"
				case "X":
				case "x":
				default:
					return "black"
			}
		}

		function make_barplot(idx) {

			{% for c in constructs %}
				{% for hdata, xmin, xmax, ymin, ymax, title in c.hist_data %}
					if ( {{forloop.counter0}} == idx) {

						var margin = {top: 20, right: 140, bottom: 75, left: 75};
						var hdata = {% autoescape off %} {{hdata}} {% endautoescape %};
						var barWidth = 10,
							w = barWidth * hdata.length, h = 175, 
							x = d3.scale.linear().domain([ {{xmin}},{{xmax}} ]).range([0,w]),
							y = d3.scale.linear().domain([ {{ymin}},{{ymax}} ]).range([h,0]);

						d3.select(".chart").selectAll("g, text, line").remove();
						var chart = d3.select(".chart")
									.attr("width", w + margin.left + margin.right)
									.attr("height", h + margin.top + margin.bottom);

						var x_ticks = d3.range( {{xmin}} + (5-{{xmin}}%5), {{xmax}}, 5), y_ticks;
						if ({{ymax}} < 5) {
							y_ticks = d3.range( {{ymin}}, {{ymax}}, 0.5);
						} else {
							if ({{ymax}} < 100) {
								var y_intvl = Math.round({{ymax}} / 10);
							} else {
								var y_intvl = Math.round({{ymax}} / 100)*10;
							}
							y_ticks = d3.range( {{ymin}}, {{ymax}}, y_intvl);
						}
						var colors = d3.scale.linear().domain([0,( {{ymax}} - 0.5)/2, {{ymax}} - 0.5]).range(["white", "orange","red"]);

						for (i = 0; i < y_ticks.length; i++) {
							chart.append("line")
								.attr("x1", x( {{xmin}} )+margin.left).attr("x2", x( {{xmax}} )+margin.left+barWidth/2+5)
								.attr("y1", y(y_ticks[i])+margin.top).attr("y2", y(y_ticks[i])+margin.top)
								.attr("stroke", "#ccc").attr("stroke-width", "1px");
						}
						for (i = 0; i < x_ticks.length; i++) {
							chart.append("line")
								.attr("x1", x(x_ticks[i])+margin.left+5+barWidth / 2).attr("x2", x(x_ticks[i])+margin.left+5+barWidth / 2)
								.attr("y1", h+margin.top).attr("y2", margin.top)
								.attr("stroke", "#ccc").attr("stroke-width", "1px");
						}

						var bar = chart.selectAll("g").data(hdata).enter().append("g");
						bar.append("rect")
							.attr("x", function(d) { return x(d.position) - barWidth / 2 + 5 + margin.left; })
							.attr("y", function(d) { return y(d.value)+margin.top; })
							.attr("height", function(d) { 
								var rect_h = h-y(d.value);
								return Math.max(0, rect_h); })
							.attr("width", barWidth)
							.attr("stroke", "black").attr("stroke-width", "2px")
							.attr("fill", function(d) { return colors(d.value); });
						bar.append("line")
							.attr("x1", function(d) { return x(d.position) + 5 + margin.left; })
							.attr("x2", function(d) { return x(d.position) + 5 + margin.left; })
							.attr("y1", function(d) { 
								if (isNaN(d.error)) { err = 0 } else { err = d.error }
								return y(d.value-err)+margin.top; })
							.attr("y2", function(d) { 
								if (isNaN(d.error)) { err = 0 } else { err = d.error }
								return y(d.value-err)+margin.top; })
							.attr("stroke", "black");

						bar.append("line")
							.attr("x1", x( {{xmin}} )+margin.left).attr("x2", x( {{xmax}} )+margin.left+barWidth/2+5)
							.attr("y1", h+margin.top).attr("y2", h+margin.top)
							.attr("stroke", "black").attr("stroke-width", "1px");
						bar.append("text")
							.text(function(d) { return d.label.substring(d.label.length-1); })
							.attr("text-anchor", "end")
							.attr("transform", function(d) { return "rotate(-90)translate(" + (-h-margin.top-8) + "," + (x(d.position) + 9 + margin.left) + ")"; })
							.attr("font-size", 12).attr("font-family", "Arial").attr("font-weight", "bold")
							.attr("fill", function(d) { return get_nt_color(d.label.substring(d.label.length-1))});
						bar.append("text")
							.text(function(d) { return d.label.substring(0, d.label.length-1); })
							.attr("text-anchor", "end")
							.attr("transform", function(d) { return "rotate(-90)translate(" + (-h-margin.top-18) + "," + (x(d.position) + 9 + margin.left) + ")"; })
							.attr("font-size", 12).attr("font-family", "Arial");

						bar.append("line")
							.attr("x1", x( {{xmin}} )+margin.left).attr("x2", x( {{xmin}} )+margin.left)
							.attr("y1", h+margin.top).attr("y2", margin.top)
							.attr("stroke", "black").attr("stroke-width", "1px");
						bar.append("line")
							.attr("x1", x( {{xmax}} )+margin.left+barWidth/2+5).attr("x2", x( {{xmax}} )+margin.left+barWidth/2+5)
							.attr("y1", h+margin.top).attr("y2", margin.top)
							.attr("stroke", "black").attr("stroke-width", "1px");

						var	yAxis_left = d3.svg.axis().orient("left").scale(y)
										.tickValues(y_ticks),
							yAxis_right = d3.svg.axis().orient("right").scale(y)
										.tickValues(y_ticks);
						chart.append("g")
							.attr("class", "axis")
							.attr("transform", "translate(" + (margin.left+x( {{xmin}} )) + "," + margin.top + ")")
							.call(yAxis_left);
						chart.append("g")
							.attr("class", "axis")
							.attr("transform", "translate(" + (margin.left+x( {{xmax}} )+barWidth/2+5) + "," + margin.top + ")")
							.call(yAxis_right);

						chart.append("linearGradient")
							.attr("id", "color_grad")
							.attr("x1", "0%").attr("y1", "100%")
							.attr("x2", "0%").attr("y2", "0%")
							.selectAll("stop")
							.data([
								{offset: "0%", color: "white"},
								{offset: "50%", color: "orange"},
								{offset: "100%", color: "red"}
							])
							.enter().append("stop")
							.attr("offset", function(d) { return d.offset; })
							.attr("stop-color", function(d) { return d.color; });
						bar.append("rect")
							.attr("x", x( {{xmax}} )+margin.left+barWidth*5).attr("y", margin.top + h*0.4)
							.attr("height", h*0.5).attr("width", barWidth*2)
							.attr("fill", "url(#color_grad)")
							.attr("stroke", "black").attr("stroke-width", "1px");
						chart.append("text")
							.attr("x", x( {{xmax}} )+margin.left+barWidth*5).attr("y", margin.top + h*0.3)
							.text("Legend")
							.attr("font-weight", "bold");
						chart.append("text")
							.attr("x", x( {{xmax}} )+margin.left+barWidth*8).attr("y", margin.top + h*0.45)
							.text({{ymax|floatformat:2}}-0.5);
						chart.append("text")
							.attr("x", x( {{xmax}} )+margin.left+barWidth*8).attr("y", margin.top + h*0.9)
							.text({{ymin|floatformat:0}});

						chart.append("text")
							.text("Normalized Reactivity")
							.attr("text-anchor", "end")
							.attr("transform", "rotate(-90)translate(-30,35)")
							.attr("font-size", 15).attr("font-weight", "bold").attr("font-family", "Arial");
						chart.append("text")
							.text("Sequence Position")
							.attr("transform", "translate("+ (w/2+25) +","+ (margin.top+h+60) +")")
							.attr("font-size", 15).attr("font-weight", "bold").attr("font-family", "Arial");
						chart.append("text")
							.text("Barplot for row_#{{forloop.counter}}: {{title|wordbreak:80}}")
							.attr("transform", "translate("+ (w/2-10) +","+ (margin.top-5) +")")
							.attr("font-size", 18).attr("font-weight", "bold").attr("font-family", "Arial");
						chart.attr("num", "{{forloop.counter}}");
						chart.attr("ttl", "{{title}}");
					}
				{% endfor %}
			{% endfor %}
		}

		$(document).ready(function() {
			$(".dropdown-toggle").removeClass("active");
			$("#nav_browse").addClass("active");
	    	$("#nav_logo").css("text-decoration","none");

	    	init_panel_size();
			$(".left_group").on("click", function() {		
				if (!$("#left_panel").hasClass("visible")) {
					$("#left_panel").addClass("visible").animate({"margin-left":"0px"});
					$(".left_close").addClass("visible").show();
					$("#left-buttons").css("margin-top", parseInt($("#left-buttons").css("margin-top"))-parseInt($(".left_close").css("height")));
					$("#left_panel").css("z-index", "100");
					$("#img_panel").css("z-index", "1");
				}	
			});
			$(".left_close").on("click", function() {
				$("#left_panel").removeClass("visible").animate({"margin-left":"-"+$("#left_panel").css("width")});
				$(".left_close").removeClass("visible").hide();
				$("#left-buttons").css("margin-top", parseInt($("#left-buttons").css("margin-top"))+parseInt($(".left_close").css("height")));
			});
			$(".left_alone").on("click", function() {		
				if (!$("#img_panel").hasClass("visible")) {
					$("#img_panel").addClass("visible").animate({"margin-left":"0px"}).css("z-index", "100");
					$("#left_panel").css("z-index", "1");
				} else {
					$("#img_panel").removeClass("visible").animate({"margin-left":"-"+$("#img_panel").css("width")});
				}	
			});
			$(".right_group").on("click", function() {		
				if (!$("#set_panel").hasClass("visible")) {
					$("#set_panel").addClass("visible").animate({"margin-right":"0px"}).css("z-index", "100");
					$("#img_panel").css("z-index", "1");
				} else {
					$("#set_panel").removeClass("visible").animate({"margin-right":"-"+$("#set_panel").css("width")});
				}	
			});
			$(".right_close").on("click", function() {
				$("#set_panel").removeClass("visible").animate({"margin-right":"-"+$("#set_panel").css("width")});
				$(".right_close").removeClass("visible").hide();
				$("#set-buttons").css("margin-top", parseInt($("#set-buttons").css("margin-top"))+parseInt($(".right_close").css("height")));
			});

			$("#svg_top").on("click", function() {
				idx = 0;
				make_barplot(idx);
				$("#page_num").val((idx+1).toString());
			});
			$("#svg_bottom").on("click", function() {
				idx = rows.length-1;
				make_barplot(idx);
				$("#page_num").val((idx+1).toString());
			});
			$("#svg_up").on("click", function() {
				if (idx > 0) {
					idx -= 1;
					make_barplot(idx);
				}
				$("#page_num").val((idx+1).toString());
			});
			$("#svg_down").on("click", function() {
				if (idx < rows.length-1) {
					idx += 1;
					make_barplot(idx);
				}
				$("#page_num").val((idx+1).toString());
			});
			$("#svg_save").on("click", function () {
				var svg_dom = d3.select(".chart")
							.attr("version", 1.1)
							.attr("xmlns", "http://www.w3.org/2000/svg")
							.node().parentNode;

				var s = document.createElement("style");
				s.setAttribute('type', 'text/css');
				var svg_file = ""
				$.get("/site_media/css/svg.css", function(txt) { 
					s.innerHTML = "<![CDATA[\n" + txt + "\n]]>"
					var defs = document.createElement('defs');
					defs.appendChild(s);
					svg_dom.firstChild.insertBefore(defs, svg_dom.firstChild.firstChild);
					var svg_html = svg_dom.innerHTML;
					svg_file = "data:image/svg+xml;base64," + btoa(svg_html);
				}).done(function() {
					var svg_name = "barplot_row" + $(".chart").attr("num") + "_" 
									+ $(".chart").attr("ttl").replace(",","-").replace("/","-").replace("\\","-").replace(";","-").replace(":","-") 
									+ ".svg"
					var tmp = document.createElement("a");
					tmp.setAttribute("download", svg_name);
					tmp.setAttribute("href", svg_file);
					tmp.setAttribute("target", "_blank");
					tmp.click();
				});
				return false;
			});
			$("#svg_setting").on("click", function () {
				if ($("#set_panel").hasClass("visible")) {
					$("#set_panel").animate({"margin-right":"-"+$("#set_panel").css("width")}).removeClass("visible").css("z-index", "1");
				} else {
					$("#set_panel").animate({"margin-right":"0px"}).addClass("visible").css("z-index", "200");
				}
			});
			$("#svg_clear").on("click", function () {
				d3.select(".chart").selectAll("g, text, line").remove();
				$("#page_num").val("");
			});
			$("#page_num").on("focusout", function () {
				var idx_tmp = parseInt($(this).val());
				if (!isNaN(idx_tmp)){
					if (idx_tmp < 0) {idx_tmp = 0;}
					if (idx_tmp > rows.length-1) {idx_tmp = rows.length-1;}
					idx = idx_tmp-1;
					make_barplot(idx);
					$("#page_num").val((idx+1).toString());
				}
			});
			$("#page_num").on("keyup", function (e) {
				if(e.keyCode == 13) {$(this).trigger("focusout");}
			});

			$("#dl_rdat, #dl_isatab").on("click", function() {$(window).unbind();});
		});

		$(window).on("resize", function() {
			clearTimeout($.data(this, 'resizeTimer'));
			$.data(this, 'resizeTimer', setTimeout(function() {init_panel_size();}, 200));
		});
		$(window).on("load", function() {
			init_panel_size();
			$("#left_panel").animate({"margin-left":"0px"},0).removeClass("visible").animate({"margin-left":"-"+$("#left_panel").css("width")}, 1000);
			$(".left_close").removeClass("visible").hide();
			$("#img_panel").animate({"margin-left":"0px"},0).removeClass("visible").animate({"margin-left":"-"+$("#img_panel").css("width")}, 1000);
			$("#set_panel").animate({"margin-right":"0px"},0).removeClass("visible").animate({"margin-right":"-"+$("#set_panel").css("width")}, 1000);
		});

	</script>
{% endblock %}
