{% extends "html/_framework.html" %}
{% load repository_extras %}

{% block head %}
<link rel="stylesheet" href="/site_media/css/svg_barplot.css" />
<link rel="stylesheet" href="/site_media/css/svg_heatmap.css" />
{% endblock %}


{% block content %}

{% if entry.revision_status == "PUB" %}
<div id="left_panel" class="side_panel well">
	<div role="tabpanel" class="tabbable tabs-right">
		<ul class="nav nav_tabs side_tab" role="tablist" id="left-buttons">
			<li class="left_close">
				<a class="text-center"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>
			</li>
			<br/>
			<li role="presentation" class="left_tab left_group active">
				<a href="#tab_left_1" aria-controls="tab_left_1" role="tab" data-toggle="tab">Annotation</a>
			</li>
			<br/>
			<li role="presentation" class="left_tab left_group">
				<a href="#tab_left_4" aria-controls="tab_left_4" role="tab" data-toggle="tab">Prediction</a>
			</li>
			<br/>
			<li class="left_close">
				<a class="text-center"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>
			</li>
		</ul>
		<br/>

		<div class="tab-content" style="margin-top:-20px;">
			<div role="tabpanel" class="tab-pane active fade in side_block" id="tab_left_1">
				<ul class="nav nav-tabs tab-top" role="tablist">
					<li role="presentation" class="active"><a href="#gen" aria-controls="gen" role="tab" data-toggle="tab">General</a></li>
					<li role="presentation"><a href="#ann" aria-controls="ann" role="tab" data-toggle="tab">Annotations</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active tab-inner" id="gen">

						<table class="table table-hover">
							<tr>
								<td class="lead text-right"><span class="label label-default" style="background:#000;">RMDB_ID</span></td>
								<td class="lead">
									{% autoescape off %}
					                <span class="label label-default">{{entry.rmdb_id|color_rmdb_id}}</span>
					                {% endautoescape %}
					            </td>
					        </tr>
							<tr>
								<td class="lead text-right align-center"><span class="label label-primary">NAME</span></td>
								<td class="lead">
								{% for c in constructs %}
									{{c.name}}
								{% endfor %}
					            </td>
					        </tr>
							<tr>
								<td class="lead text-right"><span class="label label-primary">COMMENT</span></td>
								<td>{{entry.comments}}</td>
					        </tr>

							<tr>
								<td class="lead text-right"><span class="label label-primary">SEQUENCE</span></td>
								<td>
								{% for c in constructs %}
									<code>1-by-{{c.sequence_len}}</code> <i>vector</i>
								{% endfor %}
					            </td>
					        </tr>
							<tr>
								<td class="lead text-right"><span class="label label-primary">STRUCTURE</span></td>
								<td>
								{% for c in constructs %}
									<code>1-by-{{c.structure_len}}</code> <i>vector</i>
								{% endfor %}
					            </td>
					        </tr>
							<tr>
								<td class="lead text-right"><span class="label label-primary">SEQPOS</span></td>
								<td >
								{% for c in constructs %}
									{% if c.seqpos %}
										{% autoescape off %}
										<p>{{c.seqpos}}</p>
										<code>1-by-{{c.seqpos_len}}</code> <i>vector</i>
										{% endautoescape %}
									{% endif %}
								{% endfor %}
					            </td>
					        </tr>
							<tr>
								<td class="lead text-right"><span class="label label-primary">OFFSET</span></td>
								<td>
								{% for c in constructs %}
									<code>{{c.offset}}</code>
								{% endfor %}
					            </td>
					        </tr>
							<tr>
								<td class="lead text-right"><span class="label label-success">REACTIVITY</span></td>
								<td >
								{% for c in constructs %}
									{% if c.datas %}
										{% autoescape off %}
										<code>{{c.data_nrow}}-by-{{c.data_ncol}}</code> <i>matrix</i>
										{% endautoescape %}
									{% endif %}
								{% endfor %}
					            </td>
					        </tr>
							<tr>
								<td class="lead text-right"><span class="label label-success">REACTIVITY_ERROR</span></td>
								<td >
								{% for c in constructs %}
									{% if c.datas %}
										{% autoescape off %}
										{% if c.err_ncol %}
										<code>{{c.data_nrow}}-by-{{c.err_ncol}}</code> <i>matrix</i>
										{% else %}
										<code>N/A</code> (not available)
										{% endif %}
										{% endautoescape %}
									{% endif %}
								{% endfor %}
					            </td>
					        </tr>
					        <tr>
								<td class="lead text-right"><span class="label label-success">XSEL</span></td>
								<td >
								{% for c in constructs %}
									{% if c.xsel_len %}
										{% autoescape off %}
										<code>1-by-{{c.xsel_len}}</code> <i>vector</i>
										{% endautoescape %}
									{% else %}
										<code>N/A</code> (not available)
									{% endif %}
								{% endfor %}
					            </td>
					        </tr>

							<tr>
								<td class="lead text-right align-center"><span class="label label-default">RDAT_VERSION</span></td>
								<td><code>{{rdat_ver}}</code></td>
					        </tr>
					        
							<tr>
								<td class="lead text-right align-center"><span class="label label-violet">Stats</span></td>
								<td>
									<p>
										<i>Version:</i> <mark>{{entry.version}}</mark>
										<br/>
										<i># of Construct:</i> <code>{{entry.constructcount}}</code>
										<br/>
										<i># of Data Point:</i> <code>{{entry.datacount}}</code>
										<br/>
										<i>Creation Date:</i> <mark>{{entry.creation_date|date:"SHORT_DATE_FORMAT"}}</mark>
										<br/>
										<i>Revision Status:</i>
										{% autoescape off %} {{entry.revision_status|get_rev_stat}} {% endautoescape %}
									</p>
								</td>
					        </tr>
										
							<tr>
								<th class="col-md-3"></th>
								<th class="col-md-9"></th>
							</tr>
						</table>
					</div>

					<div role="tabpanel" class="tab-pane tab-inner" id="ann">
						<table class="table table-hover" style="word-wrap:break-word;word-break:break-word;">
							<tr>
								<td class="lead text-right align-center"><span class="label label-primary">ANNOTATION</span></td>
								<td class="lead text-right align-center"><span class="label label-danger">experimentType</span></td>
								<td class="lead">
									<span class="label label-success">
									{% if entry.type == "MM" %}
										Mutate and Map
									{% endif %}
									{% if entry.type == "SS" %}
										Standard State
									{% endif %}
									{% if entry.type == "MA" %}
										MOHCA
									{% endif %}
									{% if entry.type == "TT" %}
										Titration
									{% endif %}
									</span>
								</td>
					        </tr>

					        {% for a in entry.annotations %}
							<tr>
								<td></td>
								<td class="lead text-right align-center"><span class="label label-danger">{{a}}</span></td>
								<td class="lead">
									{% autoescape off %}
									{{entry.annotations|get_annotation_item:a}}
									{% endautoescape %}
								</td>
					        </tr>
					        {% endfor %}

							<tr>
								<td class="lead text-right align-center"><span class="label label-primary">DATA_ANNOTATION</span></td>
								<td></td>
								<td></td>
					        </tr>

							{% if data_annotations_exist %}
							{% for c in constructs %}
							{% for d in c.datas %}
							{% for a in d.annotations %}
							<tr>
								<td class="text-right">
									{% if forloop.counter == 1 %}
									<b><i><u>{{forloop.parentloop.counter}}</u></i></b>
									{% endif %}
								</td>
								<td class="lead text-right align-center"><span class="label label-danger">{{a}}</span></td>
								<td class="lead">
									{% autoescape off %}
									{{d.annotations|get_annotation_item:a}}
									{% endautoescape %}
								</td>
					        </tr>
					        {% endfor %}
					        {% endfor %}
					        {% endfor %}
							{% endif %}

							<tr>
								<th class="col-md-3"></th>
								<th class="col-md-3"></th>
								<th class="col-md-6"></th>
							</tr>
						</table>						
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane active fade in side_block" id="tab_left_4">

			</div>
		</div>
	</div>
</div>

<div id="set_panel" class="view_panel">
	<div class="col-md-12">
		<p>
			<a class="text-center" id="close-set" style="color:#fff;">
				<span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
			</a>
		</p>
		<br/>
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title"><b>Settings</b></h4>
			</div>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="show_seq">
				Show sequences overlay
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="show_area_pred" disabled>
				Show reactivity prediction
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="show_color_seq">
				Show nucleotides in color:
				<span id="seqA">A</span>,
				<span id="seqU">U</span>,
				<span id="seqG">G</span>,
				<span id="seqC">C</span>.
			</label>
		</div>
		<label>Adjust heatmap contrast:</label>
		<div class="row">
			<div class="col-md-8">
				<input type="range" id="color_slide">
			</div>
			<div class="col-md-4">
				<input type="number" class="form-control" id="color_text">
			</div>
		</div>
		<br/>
		<div class="panel panel-orange" >
			<div class="panel-heading">
				<h3 class="panel-title"><b>Help</b></h4>
			</div>
		</div>
		<ul>
			<li>Left Click: Data point information.</li>
			<li>Right Click: Data row barplot.</li>
			<br/>
			<li>Left Panel: Stats, Annotations, and Structural Predictions.</li>
			<li>Right Panel: Settings and Help.</li>
		</ul>
	</div>


</div>

<div id="img_panel" class="side_panel well">
	<div role="tabpanel" class="tabbable tabs-right">
		<ul class="nav nav_tabs side_tab" role="tablist" id="img-buttons">
			<br/>
			<li role="presentation" class="left_tab left_alone active">
				<a href="#panel_svg" role="tab" data-toggle="tab">Bar Plot</a>
			</li>
			<br/>
		</ul>
		<br/>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active fade in side_block" id="panel_svg">
				<div class="row">
					<div class="col-md-1" style="width:90px;">
						<p class="btn-group-vertical" role="group" style="padding-left:10px;">
							<button id="svg_top" class="btn btn-default">
								<span class="glyphicon glyphicon-fast-backward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
							<button id="svg_up" class="btn btn-default">
								<span class="glyphicon glyphicon-backward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
						</p>
						<p>
							<input type="text" class="form-control" id="page_num" style="text-align: center;"/>
						</p>
						<p class="btn-group-vertical" role="group" style="padding-left:10px;">
							<button id="svg_down" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-forward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
							<button id="svg_bottom" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-fast-forward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
						</p>
						<p class="btn-group-vertical" role="group" style="padding-left:10px;">
							<a id="svg_save" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
							</a>
							<button id="svg_setting" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							</button>
							<button id="svg_clear" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
							</button>
						</p>
					</div>
					<div class="col-md-11" id="svg_parent"><svg class="chart"></svg></div>
				</div>
			</div>
		</div> 
	</div>
</div>



{% for c in constructs %}

<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h2>{{c.name}}</h2>
			<div class="row">
				<div class="col-md-6">
					<h2 style="margin-top:0px;">
						{% autoescape off %}
					    <span class="label label-default">{{entry.rmdb_id|color_rmdb_id}}</span>
					    {% endautoescape %}
					</h2>
				</div>
				<div class="col-md-6">
					<div class="btn-group pull-right" role="group">
						<button type="button" class="btn btn-default" aria-expanded="false" id="btn-set">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							&nbsp;&nbsp;Settings&nbsp;&nbsp;
						</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
							&nbsp;&nbsp;Download&nbsp;&nbsp;
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu nav nav-pills nav-stacked" role="menu">
							<li><a href="/site_media/rdat_files/{{entry.rmdb_id}}/{{entry.rmdb_id}}.rdat" id="dl_rdat" download>
								<span class="glyphicon glyphicon-compressed" aria-hidden="true"></span>
								&nbsp;&nbsp;RDAT
							</a></li>
							{% if not maxlen_flag %} 
							<li><a href="/site_media/isatab_files/{{entry.rmdb_id}}/{{entry.rmdb_id}}_{{entry.version}}.xls" id="dl_isatab" download>
								<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								&nbsp;&nbsp;ISATAB
							</a></li>
							{% endif %} 
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
	        <p class="center-block well" style="text-align:center;">
	        	<b>Color Scale:</b>
	        	<br/>
	        	<img src="/site_media/img/graycolormap.gif"/>
	        	<br/>
	        	<span class="pull-left" id="peak_max"></span>
	        	<span class="pull-right" id="peak_min"></span>
	        	<br/>
	        </p>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-md-8">
		<div class="panel panel-violet">
			<div class="panel-heading">
				<h3 class="panel-title"><b>Construct</b></h3>
			</div>
			<div class="panel-body" id="panel_con">
				<table class="table table-hover" style="word-wrap:break-word;word-break:break-word;margin-bottom:0px;">
					<tr>
						<td class="lead text-right"><span class="label label-primary">SEQUENCE</span></td>
						<td>
						{% for c in constructs %}
							<p><b><samp>{{c.sequence}}</samp></b></p>
						{% endfor %}
			            </td>
			        </tr>
					<tr>
						<td class="lead text-right"><span class="label label-primary">STRUCTURE</span></td>
						<td>
						{% for c in constructs %}
							<p><b><samp>{{c.structure}}</samp></b></p>
						{% endfor %}
			            </td>
			        </tr>
								
					<tr>
						<th class="col-md-2"></th>
						<th class="col-md-10"></th>
					</tr>
				</table>
			</div>
		</div>	
	</div>

	<div class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title"><b>Citation</b></h3>
			</div>
			<div class="panel-body" id="panel_cit">
				<p><span class="lead"><span class="label label-brown">Publication</span></span></p>
				<p>
					<i>{{publication.authors}}</i>. 
					<br/>
					<b>{{publication.title}}</b>. 
					<br/>
					<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{publication.pubmed_id}}" target="_blank">PMID: {{publication.pubmed_id}} <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
				</p>

				{% if entry.description %}
				<p><span class="lead"><span class="label label-brown">Description</span></span></p>
				<p>{{entry.description}}</p>
				{% endif %}
				<p style="padding-top:5px;">
					<span class="lead"><span class="label label-default">PDB_ID</span></span>:
					{% if entry.pdb_ids %}
						{% for pdb_id in entry.pdb_ids %}
						<a href="http://www.pdb.org/pdb/explore/explore.do?structureId={{pdb_id}}">{{pdb_id}} <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
						{% endfor %}
					{% else %}
						N/A
					{% endif %}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row" id="main" style="margin-left: 70px;"></div>

<!--
{% if entry.has_traces %}
    <div>
	<h3>Raw traces</h3>
	<img class="detailsimg" src="/site_media/construct_img/{{c.id}}/trace.png"/>
    </div>
{% endif %}
-->
{% endfor %}



{% else %}
	{% if entry.revision_status == "REC" %}
	<h1>Entry {{entry.rmdb_id}} has been received and is currently under review.</h1>
	{% else %}
	<h1>Entry {{entry.rmdb_id}} has been received and will undergo review shortly.</h1>
	{% endif %}
	<p>Please contact <a href="mailto:rhiju@stanford.edu">rhiju@stanford.edu</a> for further information. </p>
{% endif %}

<!-- <form class="hidden" id="structureviewform" target="popup"
	onsubmit='popup = window.open("Secondary structure with bonuses","popup","width=450,height=450");' 
	action="/repository/render_structure" method="post">
	<input name="structure" type="text"/>
	<input name="sequence" type="text"/>
	<input name="title" type="text"/>
	<input name="colormap" type="text"/>
	<input name="seqpos" type="text"/>
	<input name="offset" type="text"/>
	<input type="submit" value="sumbit"/>
</form>-->
{% endblock %}


{% block script %}
	<script type="text/javascript">
		var json, idx = 0, n_rows, color_scale = 1;
	</script>
	<script type="text/javascript" src="/site_media/js/main_util.js"></script>
	<script type="text/javascript" src="/site_media/js/main_heatmap.js"></script>
	<script type="text/javascript" src="/site_media/js/main_barplot.js"></script>
	<script type="text/javascript" src="/site_media/js/main_setting.js"></script>
	<script type="text/javascript">
		$("#wait").ajaxStart(function() {$(this).fadeIn();})
			.ajaxStop(function() {$(this).fadeOut();});

		$(document).ready(function () {
			$.ajax({
				url: '/site_media/rdat_files/{{entry.rmdb_id}}/{{entry.rmdb_id}}.json',
				dataType: 'json',
				async: true,
				beforeSend: function(xhr) { 
					init_panel_size();
					$("#wait").fadeIn(); 
				},
				complete: function(xhr) { 
					setTimeout(function() {
						$("#left_panel").animate({"margin-left":"0px"},0).removeClass("visible").animate({"margin-left":"-"+$("#left_panel").css("width")}, 1000);
						$(".left_close").removeClass("visible").hide();
						$("#img_panel").animate({"margin-left":"0px"},0).removeClass("visible").animate({"margin-left":"-"+$("#img_panel").css("width")}, 1000);
						$("#set_panel").animate({"margin-right":"0px"},0).removeClass("visible").animate({"margin-right":"-"+$("#set_panel").css("width")}, 1000);
					}, 100);
					$("#wait").fadeOut(); 
				},
				success: function(data) {
					json = data; 
					n_rows = json.y_labels.length;
					draw_heatmap(json);
				}
			});

		});
	</script>
{% endblock %}
