{% extends "design/html/_framework.html" %}
{% load repository_extras %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
        {% if flag == 1 %}
            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                <b>SUCCESS</b>: Your MyRMDB account has been processed. Now you can <a href="/repository?login=1">sign in</a>.
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Thank you for registration.
            </div>
        {% endif %}

        {% if flag == 0 and error_msg %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                <b>ERROR</b>: The following messages were produced:
                <br/>
                <ul>
                    {% for msg in error_msg %}
                        <li>{{ msg }}</li>
                        {% if "Username" in msg %}
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#id_username").parent().addClass("has-error");
                            });
                        </script>
                        {% endif %}
                        {% if "Password" in msg %}
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#id_password").parent().addClass("has-error");
                                $("#id_repeatpassword").parent().addClass("has-error");
                            });
                        </script>
                        {% endif %}
                        {% if "First" in msg %}
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#id_firstname").parent().addClass("has-error");
                            });
                        </script>
                        {% endif %}
                        {% if "Last" in msg %}
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#id_lastname").parent().addClass("has-error");
                            });
                        </script>
                        {% endif %}
                        {% if "Institution" in msg %}
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#id_institution").parent().addClass("has-error");
                            });
                        </script>
                        {% endif %}
                        {% if "Department" in msg %}
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#id_department").parent().addClass("has-error");
                            });
                        </script>
                        {% endif %}
                        {% if "Email" in msg %}
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#id_email").parent().addClass("has-error");
                            });
                        </script>
                        {% endif %}

                    {% endfor %}
                </ul>
            </div>
            <hr/>
        {% endif %}
    </div>

    <div class="row col-md-12">
        <form method="post" action="/repository/register/">
            <h3>
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;
                MyRMDB Account Registration
            </h3>
            <br/>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Account Login</h2>
                        </div>
                        <div class="panel-body" id="col-1">
                            <div class="row col-md-12" data-toggle="popover" data-placement="bottom" title="User ID" data-content="It must be at least 3 characters long. Alphanumeric characters only. Previously used User IDs are not available.">
                                <div class="col-md-5">User Name: </div>
                                <div class="col-md-7">{{ reg_form.username }}</div>
                            </div>
                            <br/><br/><br/>
                            <div class="row col-md-12" data-toggle="popover" data-placement="bottom" title="Password" data-content="It must be at least 6 characters long. No limit on combinations.">
                                <div class="col-md-5">Password: </div>
                                <div class="col-md-7">{{ reg_form.password }}</div>
                            </div>
                            <br/><br/><br/>
                            <div class="row col-md-12" data-toggle="popover" data-placement="bottom" title="Password" data-content="Type your password for a second time. Both times must match.">
                                <div class="col-md-5"><i>Repeat</i> Password: </div>
                                <div class="col-md-7">{{ reg_form.repeatpassword }}</div>
                            </div>
                            <br/><br/><br/>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">Contact Information</h2>
                        </div>
                        <div class="panel-body" id="col-2">
                            <div class="row col-md-12" data-toggle="popover" data-placement="bottom" title="Contact Name" data-content="First name must be at least 3 characters, while last time must be at least 2 characters.">
                                <div class="col-md-2">First Name: </div>
                                <div class="col-md-4">{{ reg_form.firstname }}</div>
                                <div class="col-md-2">Last Name: </div>
                                <div class="col-md-4">{{ reg_form.lastname }}</div>
                            </div>
                            <br/><br/><br/>
                            <div class="row col-md-12" data-toggle="popover" data-placement="bottom" title="Affiliation" data-content="Institution and department names must be at least 4 characters long.">
                                <div class="col-md-2">Insititution: </div>
                                <div class="col-md-4">{{ reg_form.institution }}</div>
                                <div class="col-md-2">Department: </div>
                                <div class="col-md-4">{{ reg_form.department }}</div>
                            </div>
                            <br/><br/><br/>
                            <div class="row" data-toggle="popover" data-placement="bottom" title="Email" data-content="Please use valid email address.">
                                <div class="col-md-3">&nbsp;&nbsp;&nbsp;&nbsp;E-mail Address:</div>
                                <div class="col-md-8">{{ reg_form.email }}</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-md-12">
                <div class="pull-right">
                    <input type="submit" class="btn btn-inverse" value="&nbsp;Submit&nbsp;"/>
                    &nbsp;&nbsp;
                    <a href="/repository/register/" class="btn btn-default">&nbsp;&nbsp;Clear&nbsp;&nbsp;</a>
                </div>
            </div>
            <br/><br/><br/>
        </form>
    </div>

</div>
<br/>
{% endblock %}


{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.dropdown-toggle').removeClass("active");
            $("#nav_deposit").addClass("active");
            $("#nav_logo").css("text-decoration","none");

            $("#id_username").addClass("form-control");
            $("#id_password").addClass("form-control");
            $("#id_repeatpassword").addClass("form-control");
            $("#id_firstname").addClass("form-control");
            $("#id_lastname").addClass("form-control");
            $("#id_institution").addClass("form-control");
            $("#id_department").addClass("form-control");
            $("#id_email").addClass("form-control");

            $("#id_username, #id_password, #id_repeatpassword, #id_firstname, #id_lastname, #id_institution, #id_department, #id_email").on("focusout", function() {
                $(this).parent().removeClass("has-error");
            });



            var col_h = Math.max($("#col-1").height(), $("#col-2").height()) +25;
            $("#col-1").css("height", col_h);
            $("#col-2").css("height", col_h);
        });
    </script>

{% endblock %}
