{% extends "html/_framework.html" %}

{% block content %}

<a href="/repository/login">xxx</a>
<h1>Submitting entries to the RMDB</h1>
<p>New experimental data can be uploaded to the RMDB as a spreadsheet in the SNRNASM Isa-Tab format or in RDAT file format. Public release of the data requires passing review by the RMDB team; the data must include error estimates, information on estimated or known structure (at least at the level of secondary structure), and description of how the data were processed.</p>
<form class="niceform" enctype="multipart/form-data" action="/repository/submit" method="post">
{{ forms.non_field_errors }}
{% if other_errors %}
  <ul class="form_errors">
  {% for e in other_errors %}       
      <li>{{ e }}</li>
  {% endfor %}
  </ul>
{% endif %}

<table>
    <tr>
        <td >File format:</td>
        <td>{{ form.filetype }}</td>
    </tr>
    <tr>
        <td >File to upload:</td>
        <td>{{ form.file }}</td>
        <td class="form_errors">{{ form.file.errors }}</td>
    </tr>
    <tr>
        <td >Main associated publication title:</td>
        <td>{{ form.publication }}</td>
        <td class="form_errors">{{ form.publication.errors }}</td>
    </tr>
    <tr>
        <td >Pubmed ID:</td>
        <td>{{ form.pubmed_id }}</td>
        <td class="form_errors">{{ form.pubmed_id.errors }}</td>
    </tr>

    <tr>
        <td >Authors:</td>
        <td>{{ form.authors }}</td>
        <td class="form_errors">{{ form.authors.errors }}</td>
    </tr>
    <tr>
        <td ></td>
        <td><i>RMDB ID Must be of the format XXXXX_XXX_DDDD, where X are alphanumeric uppercase characters and D are digits.</i></td>
    </tr>
    <tr>
        <td >RMDB ID:</td>
        <td>{{ form.rmdb_id }}</td>
        <td class="form_errors">{{ form.rmdb_id.errors }}</td>
    </tr>
    <tr>
        <td >Description:</td>
        <td>{{ form.description }}</td>
        <td class="form_errors">{{ form.description.errors }}</td>
    </tr>
    <tr>
        <td >Experiment type</td>
        <td>{{ form.type }}</td>
    </tr>
</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
