{% extends "html/_framework.html" %}

{% block content %}
<div class="container theme-showcase" role="main">
  <div class="alert alert-success">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;&nbsp;
          <b>Thank you for downloading MAPseeker!</b>
        </p>
        <p>
          Your request for MAPseeker was successfully processed. Please use this link to download the zip file of source code. <a href="/site_media/code/mapseeker.zip" target = "_blank" class="btn btn-primary">&nbsp;&nbsp;Link&nbsp;&nbsp;</a>
        </p>
        <p>
          For tutorial and documentation of the MAPseeker, see
          <a href="/repository/analyze/docs/mapseeker" class="btn btn-warning">&nbsp;&nbsp;Tutorial&nbsp;&nbsp;</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

