{% extends "design/html/_framework.html" %}

{% block content %}
<div class="container theme-showcase" role="main">
  <div class="alert alert-success">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;&nbsp;
          <b>Thank you for downloading MAPseeker!</b>
        </p>
        <p>
          Your request for MAPseeker was successfully processed. If the download does not start automatically, please use this link to access the zip file of source code. 
          <a href="/site_media/code/mapseeker.zip" class="btn btn-primary" id="dl_zip" download>&nbsp;&nbsp;Link&nbsp;&nbsp;</a>
        </p>
        <p>
          For tutorial and documentation of the MAPseeker, see
          <a href="/repository/tools/docs/mapseeker" class="btn btn-warning">&nbsp;&nbsp;Tutorial&nbsp;&nbsp;</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
  <script type="text/javascript">
    $(document).ready(function () {
      $("#dl_zip").on("click", function() {$(window).unbind();});
      $("#dl_zip")[0].click();
    });
  </script>
{% endblock %}


