{% extends "design/html/_framework.html" %}

{% block content %}
<div class="container">
	<div class="col-md-9">
		<img src="/site_media/images/fg_under_construction.gif" style="width:800px;">
	</div>
	<div class="col-md-3">
		<h2>Page not ready~</h2>
		<p>Please check back soon!</p>
		<a href="/repository/" class="btn btn-primary text-center">Home</a>
	</div>
</div>
{% endblock %}


{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.dropdown-toggle').removeClass("active");
			$("#nav_analyze").addClass("active");
	    	$("#nav_logo").css("text-decoration","none");
		});
	</script>

{% endblock %}
