{% extends "html/_framework.html" %}
{% load repository_extras %}

{% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Format Validation</h2>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <ul>
                    <li>
                        <h3>Input</h3>
                        <p>
                            Use this form to validate that a file that describes RNA chemical footprinting experiments follows the <a href="/repository/deposit/specs">standards</a> of the format.
                        </p>
                        <p>
                            Other consistency checks such as sequence and data agreement are also made.
                        </p>
                        <br/>

                        <form enctype="multipart/form-data" action="/repository/deposit/validate/" method="post">
                            <div class="row">
                                <div class="col-md-12 form-group">
<!--                                     {{ form.file.errors }}
                                    {{ form.link.errors }}
                                    {{ form.description.errors }}
 -->                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="id_file" class="pull-right">Upload File:</label>
                                        </div>
                                        <div class="col-md-7 form-inline">
                                            <input id="id_disp" class="form-control" placeholder="No file chosen" disabled="disabled" style="cursor:text;"/>
                                            &nbsp;&nbsp;
                                            <div class="fileUpload btn btn-info">
                                                <span>&nbsp;&nbsp;Browse&nbsp;&nbsp;</span>
                                                {{ form.file }}
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="id_link" class="pull-right">
                                                <i style="color:gray;">OR</i>&nbsp;&nbsp;&nbsp;Specify an RMDB <i>#ID</i> or ISATAB <i>url</i>:
                                            </label>
                                        </div>
                                        <div class="col-md-7">
                                            {{ form.link }}
                                        </div>
                                    </div>
                                    <br/><br/>
                                    <div class="form-inline">
                                        <div class="col-md-5">
                                            <label label for="id_type" class="pull-right">Format:</label>
                                        </div>
                                        <div class="col-md-7">
                                            {{ form.type }}
                                        </div>
                                    </div>
                                    <br/><br/><br/>
                                    <div class="form-inline">
                                        <div class="col-md-12">
                                            <p class="pull-right">
                                                <input type="submit" value="&nbsp;&nbsp;Submit&nbsp;&nbsp;" class="btn btn-inverse clickable"/>
                                                &nbsp;&nbsp;
                                                <a class="btn btn-default clickable" href="/repository/deposit/validate">&nbsp;&nbsp;Clear&nbsp;&nbsp;</a>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>

                    {% if flag %}
                    <hr/>
                    <li>
                        <h3>Output</h3>
                        <br/>

                        {% if flag == 1 %}
                            <div class="alert alert-danger" role="alert">
                                <b>ERROR</b>: The following messages were produced:
                                <br/>
                                <ul>
                                    {% for v in valerrors %}
                                    <li>{{ v }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if flag == 2 %}
                            <div class="alert alert-success" role="alert">
                                <b>SUCCESS</b>: Your file has passed all tests.
                            </div>
                        {% endif %}

                        {% if flag == 3 %}
                            <div class="alert alert-warning" role="alert">
                                <p>
                                    <b>WARNING</b>: The following messages were produced:
                                </p>
                                <br/>
                                <ul>
                                    {% for m in messages %}
                                        <li>{{ m|warning_strip }} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.dropdown-toggle').removeClass("active");
            $("#nav_deposit").addClass("active");
            $("#nav_logo").css("text-decoration","none");

            $("#id_file").addClass("form-control");
            $("#id_link").addClass("form-control");
            $("#id_type").addClass("form-control");
            $("#id_file").on("change", function () {
                $("#id_disp").val($(this).val().replace("C:\\fakepath\\", ""));
            });
        });
    </script>

{% endblock %}