<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/site_media/css/rmdb.css" />
    <link rel="stylesheet" href="/site_media/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/site_media/css/rmdb-bootstrap.css" />
    <link rel='stylesheet' type='text/css' href="/site_media/jquery-ui-1.9.2/themes/base/jquery-ui.css" /> 
    <link rel="shortcut icon" href="/site_media/favicon.ico" />
    <link rel="icon" type-"image/gif" href="/site_media/animated_favicon1.gif" />
    <!--<script language="javascript" type="text/javascript" src="/site_media/js/niceforms.js"></script>-->
    <!--<script type="text/javascript" src="/site_media/js/jquery-1.4.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="/site_media/js/jquery.cycle.all.min.js"></script>-->
    <!--
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'> </script> 
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'> </script> 
    <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>-->
    <script type='text/javascript' src="/site_media/js/jquery.min.js"> </script> 
    <script type='text/javascript' src="/site_media/jquery-ui-1.9.2/ui/jquery-ui.js"> </script> 
    <script type="text/javascript" src="/site_media/js/jquery.cycle.all.latest.js"></script>
    <script type="text/javascript" src="/site_media/js/protovis-3.2/protovis-d3.2.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery.mousewheel.js"></script>
   <script type="text/javascript">
	$(document).ready(function(){
	browser = navigator.appName;
	if(browser.indexOf("Explorer") != -1){
	    $("#browser_warning").show();
            $(".svg_disabled").show();
            $(".svg_enabled").hide();
        }
	function preventDefault(e) {
	  e = e || window.event;
	  if (e.preventDefault)
	      e.preventDefault();
	  e.returnValue = false;  
	}
	function wheel(e) {
	  preventDefault(e);
	}
	function disable_scroll() {
	  if (window.addEventListener) {
	      window.addEventListener('DOMMouseScroll', wheel, false);
	  }
	  window.onmousewheel = document.onmousewheel = wheel;
	}

	function enable_scroll() {
	    if (window.removeEventListener) {
		window.removeEventListener('DOMMouseScroll', wheel, false);
	    }
	    window.onmousewheel = document.onmousewheel = null;  
	}
        var wheelDistance = function(evt){
		if (!evt) evt = event;
		var w=evt.wheelDelta, d=evt.detail;
		if (d){
			if (w) return w/d/40*d>0?1:-1; // Opera
			else return -d/3;              // Firefox;         TODO: do not /3 for OS X
		} else return w/120;             // IE/Safari/Chrome TODO: /3 for Chrome OS X
	};
	var wheelDirection = function(evt){
		if (!evt) evt = event;
		return (evt.detail<0) ? 1 : (evt.wheelDelta>0) ? 1 : -1;
	};
	$(".appletdiv").bind('mousewheel', function(evt, delta){
		var distance  = wheelDistance(evt);
		var direction = wheelDirection(evt);
		console.log("event.wheelDelta: "+evt.wheelDelta+"<br>event.detail: "+evt.detail+"<br>Normalized Wheel Distance: "+distance+"<br>Wheel Direction: "+direction);
	});
	$(".appletdiv").mouseover(function() {
            disable_scroll();
	});
	$(".appletdiv").mouseout(function() {
            enable_scroll();
	});
	$("#submitform").click(function() {
		    $("#advanced_search_form").submit();
		    return false;
	});
	$("#help").click(function(){ $("#helpdialog").removeClass("hidden"); $("#helpdialog").dialog({width:800, height:500});});
	$("#submitform").button();

	});
    </script>
    <title>RMDB</title>
    {% block head %}{% endblock %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36037648-1']);
      _gaq.push(['_trackPageview']);

      (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
 
</head>
    <script type="text/javascript">
    $(document).ready(function() {
	    $('.jqslideshow').cycle({
				fx:      'fade',
				next:   '#next2',
				prev:   '#prev2',
			        timeout:  0

					});
    });
    </script>


<script type="text/javascript">
//<![CDATA[
function slideSwitch() {
    var $active = $('#slideshow div.active');
    var $next =  $active.next().length ? $active.next()
        : $('#slideshow div:first');

    $active.addClass('last-active');

    $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
        });
}

$(function() {
    setInterval( "slideSwitch()", 5000 );
});
//]]>
</script>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container-fluid">
      <div class="navbar-header"> 
      <div class="navbar-collapse collapse" >
       <div class="navbar-brand">RMDB</div>
	{% block sidebar %}
	<ul class="nav navbar-nav">
	  <li class="active"><a href="/repository/">Home</a></li>
	  <li><a href="/repository/browse">Browse</a></li>
	  <li><a href="/repository/submit">Submit</a></li>
	  <li><a href="/repository/specs">Specifications</a></li>
	  <li><a href="/structureserver/">Structure Server</a></li>
	  <li><a href="/repository/tools">Tools</a></li>
	  <li><a href="/repository/contact">Contact us</a></li>
	</ul>
	{% endblock %}
	</div>
      </div>
	<div class="navbar-collapse collapse">
	   <ul class="nav navbar-nav navbar-right">
	    {% if user.is_authenticated %}
	    <li><a href="/repository/logout">Logout {{user.username}}</a></li>
	    {% else %}
	    <li><a href="/repository/login">Login</a></li>
	    <li><a href="/repository/register">Register</a></li>
	    {% endif %}
	    <li><a href="/repository/advanced_search">Advanced Search</a></li>
	   </ul>
          <form class="navbar-form navbar-right" action="/repository/search" method="get">
	   <div class="form-group">
            <input type="text" class="form-control" name="searchtext"/><input type="submit" class="btn btn-success" value="Search"/> 
           </div>
          </form>
	</div>
      </div>

       </div>
      </div>
    <div id="browser_warning" style="display:none" class="error_message">
	<p>Your browser is not currently supported by the RMDB. Please use <a href="http://www.mozilla.com">Mozilla Firefox</a> or <a href="http://www.google.com/chrome">Google Chrome</a> for full support. Alternatively, if you want to use Internet Explorer, you need to download the <a href=http://code.google.com/chrome/chromeframe/"">Google Chrome Frame</a> (compatible with IE 8, but not IE 9), or similar SVG-enabling, plugins.</p>
    </div>
    <br>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <footer class"bs-docs-footer" role="contentinfo">
      <div id="bottombar">
 	<p> Maintained by the <a href="http://stanford.edu/~rhiju">Das lab </a> </p>
      <p> Powered by <a href="http://www.djangoproject.com/">django</a></p>
    </div>
    </body>
</html>

