{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-md-4">
<h3>About RMDB</h3>
This database was originally an in-house repository of chemical mapping data collected by the <a href="http://www.stanford.edu/~rhiju">Das lab</a> at Stanford. To enable easy access to these data for the public, rapid visualization, and real-time reporting of data for projects like <a href="http://eterna.stanford.edu">Eterna</a> we have created the RMDB.
</div>
<div class="col-md-4">

<h3>Contact us</h3>
<p>
If you have any questions regarding this database or want to share/integrate your data with our repository, please do not hesitate to contact us:
</p>
<ul class="lists-unstyled">
<li><b>Rhiju Das:</b><p>Principal Investigator</p><p>rhiju at stanford dot edu</p></li>
<li><b>Pablo Cordero:</b><p>Site admin</p><p>tsuname at stanford dot edu</p></li>
</ul>
</div>
<div class="col-md-4">
<h3>Reporting bugs and requesting features</h3>
<p>
If you want to report a bug or think that a new feature is greatly needed in the RMDB, please contact us so that we may give you user access to the <a href="https://sites.google.com/site/rmdbwiki" >RMDB wiki</a>.
</p>
</div>
</div>
</div>
{% endblock %}
