{% extends "base.html" %}
{% load repository_extras %}
{% block content %}
{% block head %}
{% endblock %}
{% if entry.revision_status == 'PUB' %}
{% for c in constructs %}
{% if maxlen_flag %}

<ul class="error_message">
<li> This entry has more than 256 data row, only showing the first 256 </li>
</ul>
{% endif %}
<h1>{{ c.name }}</h1>
<!--<script type="text/javascript">
$(document).ready(function(){$("#nativeapplet")[0].focus();});
</script>-->
<script type="text/javascript">
$(function() {
		$( ".arrows button:first" ).button({
            icons: {
                primary: "ui-icon ui-icon-circle-triangle-w"
            },
            text: false
        }).next().button({
            icons: {
                primary: "ui-icon ui-icon-circle-triangle-e"
            },
            text: false
        })});
</script>
{% if c.show_slideshow and c.hist_data|length <= 50%}
<p class="help_text">Click the arrows to switch between plot types</p>
<p class="arrows"><button id="prev2">Previous</button> <button id="next2">Next</button></p>
{% endif %}
<div class="jqslideshow">
    <div>
	<h3>Assigned reactivities</h3>
	<div class="svg_enabled">
        <p class="help_text">Click on a sample (one per data row) to view the data superimposed on the native secondary structure</p>
        <p><b>Color Scale:</b></p>
        {{ c.area_peaks_max }} <img src="/site_media/img/graycolormap.gif"/> {{ c.area_peaks_min }}
        <br>
	<script type="text/javascript">
	var peaks = {% autoescape off %} {{ c.area_peaks }} {% endautoescape %};
	var data_array = peaks;
	/* Convert from tabular format to array of objects. */
        var structures = {% autoescape off %}{{ c.precalc_structures }} {% endautoescape %};
        var all_data = [],
	    rows = [],
            peakst = [],
            tmp = [];
        for(i=0;i<peaks.length;i++){
            for(j=0;j<peaks[i].length;j++){
		if(j == 0){
		    rows.push(peaks[i][j]);
                }
		else{
                    if(i == 0){
                        peakst.push([peaks[i][j]]);
                    }
                    else{
                        peakst[j-1].push(peaks[i][j]);
		        all_data.push(peaks[i][j]);
                    }
                }
	    }
        }
	var cols = peaks.shift();
	peakst = peakst.map(function(d){ return pv.dict(rows, function(){ return d[this.index];});});
	peaks = peaks.map(function(d){ return pv.dict(cols, function(){ return d[this.index];});});
	cols.shift();
	rows.shift()
        var ns = 0.7;
	/* The color scale ranges ns standard deviations in each direction. */
	var x = pv.mean(all_data),
	    s = pv.deviation(all_data),
	 fill = pv.dict(rows, function(f){ return pv.Scale.linear()
		//.by(function(d){ return d > x[f] + 2*s[f] ? x[f] + 2*s[f] : d; })
                .domain({{ c.area_peaks_min }}, x + ns*s)
		.range("white", "black");});

	/* The cell dimensions. */
	var w = 10, h = 10,
	    totwidth = Math.max(0, cols.length * w),
	    totheight = Math.max(150, peaks.length * h),
            spacing = Math.max(60, totheight - peaks.length * h);
	    
        var vis = new pv.Panel()
	    .width(totwidth)
	    .height(totheight)
	    .top(spacing / 2)
	    .left(150);

	vis.add(pv.Panel)
	    .data(rows)
	    .top(function(){ return this.index * 10;})
          .add(pv.Panel)
            .def("active", false)
	    .height(10)
	    .strokeStyle(function(){ if(this.active()){ return "blue";} else{ return "black";}})
	    .lineWidth(function(){ if(this.active()){ return 2;} else{ return 1;}})
	  .add(pv.Panel)
	    .data(peakst)
	    .left(function(){ return this.index * 10;})
	    .width(10)
            .event("mouseover", function(){ this.parent.active(true); return this.parent;})
            .event("mouseout", function(){ this.parent.active(false); return this.parent;})
	    .event("click", function(d, f){ 
		//The following lines are for viewing the secondary structure using another browser window
		$("[name=structure]").val("{{ c.structure }}");
		$("[name=sequence]").val("{{ c.sequence }}");
		$("[name=seqpos]").val("{{ c.seqpos }}");
		$("[name=offset]").val("{{ c.offset }}");
		$("[name=title]").val(f);
		$("[name=colormap]").val(data_array[this.parent.parent.index].slice(1));
		$("#structureviewform").submit()
		//The following lines are for viewing the secondary structure using an inset dialog window
/*		var struct = structures[this.parent.parent.index],
                    applet = $("#rnaapplet");
                $("#dialog").dialog({width:400, height:400}); 
                if(struct == "NA"){
		    $("#structure_info").text("Structure not available");
		    applet.attr("width", 1);
		    applet.attr("height", 1);
                    applet[0].setRNA("", "");
                }
                else {
		    $("#structure_info").text("");
                    applet.attr("width", 350);
                    applet.attr("height", 350);
                    applet[0].setRNA("{{ c.sequence }}", struct);
                }*/
             })
	    .fillStyle(function(d, f){ 
                if(d[f] > x[f] + ns*s[f])
                    val = x[f] + ns*s[f];
                else if(d[f] < x[f] -ns*s[f])
                    val = x[f] - ns*s[f];
                else
                    val = d[f];
                return fill[f](val);})
	    .title(function(d, f){ return d.Annotation + "," + f + ": " + d[f];})
	    .strokeStyle(function(){ if(this.parent.active()){ return "blue";} else{ return "black";}})
	    .lineWidth(1)
	    .antialias(false);

	vis.add(pv.Label)
	    .data(cols)
	    .left(function(){ return this.index * w + w / 2;})
	    .textAngle(-Math.PI / 2)
	    .textBaseline("middle");

	vis.add(pv.Label)
	    .data(peaks)
	    .top(function(){ return this.index * h + h / 2;})
	    .textAlign("right")
	    .textBaseline("middle")
	    .text(function(d){ return d.Annotation;});
	vis.render();
	</script>
        </div>
	<div class="svg_disabled">
	<img class="detailsimg" src="/site_media/construct_img/{{ c.id }}/values.png"/>
	</div>
    </div>
<!--
{% if entry.has_traces %}
    <div>
	<h3>Raw traces</h3>
	<img class="detailsimg" src="/site_media/construct_img/{{ c.id }}/trace.png"/>
    </div>
{% endif %}
-->
{% if entry.type == 'SS' and c.hist_data|length <= 50 %}
    {% for hdata, xmin, xmax, ymin, ymax, title in c.hist_data %}
    <div class="detailsitem">
	<div class="svg_enabled">
	<h3>Mean values and error estimates for row {{ forloop.counter }} - {{ title|wordbreak:80}}</h3>
        <script type='text/javascript+protovis'>
        var hdata = {% autoescape off %}{{ hdata }}{% endautoescape %};
        var spacing = Math.max(60, totheight - peaks.length * h); 
	var w = 860,
	h = 150,
	k = 3,
	x = pv.Scale.linear({{ xmin }}, {{ xmax }}).range(0, w),
	y = pv.Scale.linear({{ ymin }}, {{ ymax }}).range(0, h),
	barwidth = w / hdata.length;

	var vis = new pv.Panel()
	  .width(w)
	  .height(h)
	  .top(30)
	  .margin(20);

	var plot = vis.add(pv.Panel)
                      .bottom(30);
 
	/* Add the x-axis rules */ 
	plot.add(pv.Rule)
	    .data(x.ticks(40))
	    .left(x)
	    .strokeStyle("#eee")
	    .anchor("bottom")

        vis.add(pv.Label)
            .data(hdata)
            .left(function(d) x(d.position) + 5)
            .bottom(0)
	    .visible(function(d) !(d & 1))
	    .text(function(d) d.label)
	    .textAngle(-Math.PI / 2)
	    .textAlign("left")
    	    .textBaseline("middle");

	/* Add the y-axis rules */
	plot.add(pv.Rule)
	    .data(y.ticks())
	    .bottom(y)
	    .strokeStyle("#eee")
	    .anchor("left")
            .add(pv.Label)
	    .text(y.tickFormat);
/*
	var bars = plot.add(pv.Panel)
		  .data(hdata)
		  .left(function(d) x(d.position))
		  .bottom(function(d) y(0))

	/* Add bar areas */ 
	var bars = plot.add(pv.Panel)
                  .data(hdata)
		  .left(function(d) x(d.position) - barwidth / 2 + 5)
                  .add(pv.Panel)
                  .def("active", false)
                  .add(pv.Bar)
		  .bottom(function(d) y(0))
                  .width(barwidth)
		  .height(function(d) y(d.value))
	          .strokeStyle(function() this.parent.active() ?  "red":"black")
	//	  .event("mouseover", function() this.parent.active(true))
	//	  .event("mouseout", function() this.parent.active(false))
                  .fillStyle(function(d) pv.Scale.linear().domain(0,({{ ymax }} - 0.5)/2, {{ ymax }} - 0.5).range('white', 'orange','red')(d.value))

	/* Add y-error indicators */
	plot.add(pv.Rule)
	    .data(hdata)
	    .left(function(d) x(d.position) + 5)
	    .bottom(function(d) y(d.value - d.error))
	    .height(function(d) y(2 * d.error));
           
	vis.render();	
	</script>
	</div>
	<div class="svg_disabled">
	<img class="detailsimg"  src='/site_media/construct_img/{{ c.id }}/barplot{{ forloop.counter0 }}.png'/>
	</div>
    </div>
    {% endfor %}
{% endif %}
</div>
<div id="dialog" class="appletdiv" title="Secondary structure with bonuses" width="550" height="400">
	<applet id="rnaapplet" code="VARNA.class" codebase="{{ codebase }}" archive="VARNA.jar"
		width="1" height="1">
	<param name="sequenceDBN"  value="" />
	<param name="structureDBN" value="" />
	</applet>
        <h1 id="structure_info"></h1>
</div>
<!--
<div class="appletdiv" width="550" height="400">
{% if c.structure %}
<h3>Native structure</h3>
<p class="help_text">Best known structure as described in the literature, PDB, or by design.</p>
<p class="help_text">To zoom in and out, use the plus and minus keys. To move, use the arrow keys.</p>
	<applet id="nativeapplet" code="VARNA.class" codebase="{{ codebase }}" archive="VARNA.jar"
		width="500" height="400">
	<param name="sequenceDBN"  value="{{ c.sequence }}" />
	<param name="structureDBN" value="{{ c.structure }}" />
	<param name="offset" value="{{ c.offset }}" />
	<param name="bpStyle" value="simple" />
	<param name="baseInner" value="#FFFFFF" />
	<param name="baseOutline" value="#FFFFFF" />
	</applet>
        <h1 id="structure_info"></h1>
</div>
-->
{% endif %}

{% endfor %}

<h2>Details for entry {{ entry.rmdb_id }}</h2>
<p>Version: {{ entry.version }}</p>
<!--<p>You can download this entry in the following formats [ <a href="/site_media/rdat_files/{{ entry.rmdb_id }}/{{ entry.rmdb_id }}_{{ entry.version}}.rdat">rdat</a>-->
<p>You can download this entry in the following formats [ <a href="/site_media/rdat_files/{{ entry.rmdb_id }}/{{ entry.rmdb_id }}.rdat">rdat</a>
 {% if not maxlen_flag %} | <a href="/site_media/isatab_files/{{ entry.rmdb_id }}/{{ entry.rmdb_id }}_{{ entry.version}}.xls">isatab</a> {% endif %} ]</p>
</p>
{% if entry.description %}
<h3>Description</h3>
<p>{{ entry.description }}</p>
{% endif %}
{% if entry.pdb_ids %}
<h3>PDB entries associated with this entry</h3>
<ul>
{% for pdb_id in entry.pdb_ids %}
<li><a href="http://www.pdb.org/pdb/explore/explore.do?structureId={{ pdb_id }}">{{ pdb_id }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if comments %}
<h3>Comments</h3>
{% for c in comments %}
<p>{% autoescape off %} {{ c }} {% endautoescape %}.</p>
{% endfor %}
{% endif %}
{% if publication.pubmed_id %}
<h3>Publication</h3>
<p><i>{{ publication.authors }}</i>; {{ publication.title }}; <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ publication.pubmed_id }}">PMID:{{ publication.pubmed_id }}</a></p>
{% endif %}
<h3>Authors</h3>
<p>{{ entry.authors }}</p>
<h3>General Annotations</h3>
{% if entry.annotations %}
<table class="annotation_table">
<tr>
<td><b>annotation name</b></td>
<td><b>value</b></td>
</tr>
{% for a in entry.annotations %}
<tr>
<td><a href="http://rmdb.stanford.edu/repository/specs/{{ a.name }}">{{ a.name }}</a></td>
<td>{{ a.value }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No annotations</p>
{% endif %}
<h2>Constructs</h2>
<p>This entry describes data for the following constructs:</p>
{% for c in constructs %}
<p>
<b>Sequence:</b> 
{{ c.sequence|wordbreak:80 }}
</p>
{% if c.seqpos %}
<p>
<b>Sequence Positions:</b> 
<br>
{{ c.seqpos|wordbreak:40 }}
{% endif %}
</p>
<h4>Annotations for {{ c.name }}</h4>
{% if c.annotations %}
<table class="annotation_table">
<tr>
<td><b>annotation name</b></td>
<td><b>value</b></td>
</tr>
{% for a in c.annotations %}
<tr>
<td>{{ a.name }}</td>
<td>{{ a.value }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No annotations for this construct</p>
{% endif %}
<h4>Data annotations</h4>
{% if data_annotations_exist %}
<table class="annotation_table">
<tr>
<td><b>data row index</b></td>
<td><b>annotations</b></td>
</tr>
{% for d in c.datas %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>
      {% for a in d.annotations %}
        {% if forloop.last %}
          {{ a.name }}:{{ a.value }}
        {% else %}
          {{ a.name }}:{{ a.value }},
        {% endif %}
      {% endfor %}
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No data annotations</p>
{% endif %}

{% endfor %}
{% else %}
{% if entry.revision_status == 'REC' %}
<h1>Entry {{ entry.rmdb_id }} has been received and is currently under review.</h1>
{% else %}
<h1>Entry {{ entry.rmdb_id }} has been received and will undergo review shortly.</h1>
{% endif %}
<p>Please contact <a href="mailto:rhiju@stanford.edu">rhiju@stanford.edu</a> for further information. </p>
{% endif %}
<form class="hidden" id="structureviewform" target="popup"
    onsubmit="popup = window.open('Secondary structure with bonuses','popup','width=450,height=450');" action="/repository/render_structure" method="post">
<input name="structure" type="text"/>
<input name="sequence" type="text"/>
<input name="title" type="text"/>
<input name="colormap" type="text"/>
<input name="seqpos" type="text"/>
<input name="offset" type="text"/>
<input type="submit" value="sumbit"/>
</form>
{% endblock %}
