{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<img width="204pv" src="/site_media/img/rmdb_logo.png" >
<h2>A repository of RNA structure probing by chemical or enzymatic mapping</h2>
<p>The RNA Mapping Database is an archive that contains results of diverse structural mapping experiments performed on ribonucleic acids. Results submitted to the repository must be manually curated and annotated, ensuring that the data reported is reliable and of high quality. The ultimate goal of the RMDB is to provide a centralized, curated, data-sharing platform with visualization and structure prediction tools for rapid analysis and meta-analysis of these data.
</p>
<p>In the RMDB you can:
<ul>
<li><p><a href="browse">Browse</a> or quickly search (top right) the database for a particular RNA of interest.</p></li>
<li><p><a href="advanced_search">Mine</a> the data for particular structural or sequence motifs.</p></li>
<li><p><a href="/structureserver">Predict</a> the secondary structure of an RNA guided by structure mapping data.</p></li>
<li><p>Get started on <a href="specs">sharing your data</a> by reviewing the RDAT file format specification.</p></li>
</ul>
</p>
<p>The RMDB is currently housing {{ nentries }} entries, for more than {{ nconstructs }} sequences, comprising {{ ndatapoints }} datapoints.</p>
</div>
<table border="0">
<tr>
<td>
<div class="container">
<div class="row">
    <div class="col-md-3">
  	<h3>Standardizing chemical footprinting data</h3>
         <!--<img src="http://www.engineering.cornell.edu/news/engineering-magazine/archives/cem-spring-2009/images/1x8w.jpg" width="20%" height="50%"/>
         <img src="/site_media/img/arrow.png" width="10%" height="30%"/>-->
         <img src="/site_media/img/doc.png" width="30%"/>
	 <p>
	This site provides <a href="/repository/tools">tools</a> and <a href="/repository/specs">format specifications</a> to make sharing of these experimental data easier and faster.
	</p>
    </div>
    <div class="col-md-3">
        <h3>Want to register?</h3>
	<img src="/site_media/img/id.png"/>
        <p><a href="/repository/register">Register</a> to the site to submit your data to the database and more!</p>
    </div>
    <div class="col-md-3">
        <h3>Play the game!</h3>
	<img width="40%" height="25%" src="/site_media/img/eternalogo.png"/>
        <p>RNA structure can be fun as well. Join the <a href="http://eterna.stanford.edu">EteRNA</a> community in the quest for the perfect structure. Your contribution may end up in this database!</p>
    </div>
    <div class="col-md-3">
        <h3>Database integration</h3>
	<img src="/site_media/img/db.png"/>
        <p>Please <a href="/repository/contact">contact us</a> if your lab would like to share RNA structure mapping data through this database.</p>
    </div>

</div>
</div>
</td>
<!--<td>
<div id="rightlinks">
<h3>Useful links</h3>
<ul>
<li><a href="http://www.pdb.org">PDB</a></li>
<li><a href="http://eterna.stanford.edu">EteRNA</a></li>
<li><a href="http://ribosnitch.bio.unc.edu/snrnasm">SNRNASM</a></li>
<li><a href="http://varna.lri.fr">VARNA</a></li>
</ul>
</div>
</td>-->
</tr>
<tr>
<td>
<h2>Citation</h2>
<p>P Cordero, JB Lucks, R Das, "An RNA Mapping Database for curating RNA structure mapping experiments", 2012, doi: 10.1093/bioinformatics/bts554</p>
<br>
<h3>RMDB news</h3>
<ul>
{% for n in news %}
<li>
{% if n.reference %}
<b>{{ n.date }}:</b><a href="{{ n.reference }}">{{ n.title }}</a>
{% else %}
<b>{{ n.date }}:</b>{% autoescape off %}{{ n.title }}{% endautoescape %}
{% endif %}
</li>
{% endfor %}
</ul>
</td>
</tr>
</table>
<p><b>Download all RMDB entries</b>: You can download all entries indexed in the RMDB <a href="/site_media/rmdb_data.tgz">here</a></p>
{% endblock %}
