{% extends "_framework.html" %}
{% block content %}
<h1>Register to the RMDB</h1>
<form class="niceform"  method="post">
{% if other_errors %}
<ul class="error_message">
{% for e in other_errors %}
<li>{{ e }}</li>
{% endfor %}
</ul>
{% endif %}
<div class="form_errors">{{ form.non_field_errors }}</div>
<table>
    <tr>
        <td>Username:</td>
        <td>{{ form.username }}</td>
        <td class="form_errors">{{ form.username.errors }}</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>{{ form.password }}</td>
        <td class="form_errors">{{ form.password.errors }}</td>
    </tr>
    <tr>
        <td>Repeat Password:</td>
        <td>{{ form.repeatpassword }}</td>
        <td class="form_errors">{{ form.repeatpassword.errors }}</td>
    </tr>
    <tr>
        <td>First name:</td>
        <td>{{ form.firstname }}</td>
        <td class="form_errors">{{ form.firstname.errors }}</td>
    </tr>
    <tr>
        <td>Last name:</td>
        <td>{{ form.lastname }}</td>
        <td class="form_errors">{{ form.lastname.errors }}</td>
    </tr>
    <tr>
        <td>Institution:</td>
        <td>{{ form.institution }}</td>
        <td class="form_errors">{{ form.institution.errors }}</td>
    </tr>
    <tr>
        <td>Department:</td>
        <td>{{ form.department }}</td>
        <td class="form_errors">{{ form.department.errors }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ form.email }}</td>
        <td class="form_errors">{{ form.department.errors }}</td>
    </tr>
</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
