{% extends "html/_framework.html" %}

{% block content %}
<script type="text/javascript">
$(function(){
	$("#id_rdatfile").change(function() {
		    $("#structureform").submit();
		    return false;
	});
	$("#rmdbid_submit").click(function() {
		    $("#structureform").submit();
		    return false;
	});
	$("#submitform").click(function() {
		    $("#structureform").submit();
		    return false;
	});
	$("#submitform").button();
	$("#rmdbid_submit").button();
	$("textarea").resizable();
	$("#input-options").accordion();
	$("#bonus-options").accordion({
 		change: function(event, ui){
				$("#id_predtype").attr("value", ui.newHeader.attr("id"));
			}
				});
});
</script>
{% if other_errors %}
<ul class="form_errors">
{% for e in other_errors %}
<li> {{ e }} </i>
{% endfor %}
</ul>
{% endif %}

<h1>RMDB structure server</h1>
<p>
You can use this form to apply and to display pseudo-energy bonuses from 1D or 2D chemical mapping data to model RNA secondary structure. 
</p>
<p>
This server makes use of the current version of <a href="http://rna.urmc.rochester.edu/RNAstructure.html">RNAstructure</a>. Some of the methods used are described in the papers by <a href="http://www.pnas.org/content/106/1/97.short">Deigan et al. (2008)</a>, <a href="http://arxiv.org/abs/1103.5458"> Kladwang et al. (2011)</a>, and another <a href="http://arxiv.org/abs/1104.0979"> Kladwang et al. (2011)</a>.
</p>
<p>For more details and help on how to use this server <a href="#" id="help">click here</a>. </p>
<p>
For comments and suggestions, please contact Pablo Cordero (tsuname [at] stanford [dot] edu).
</p>
<ul class="error_message">
{% for v in valerrors %}
<li>{{ v }}</li>
{% endfor %}
</ul>
<form id="structureform" class="niceform" enctype="multipart/form-data" action="/structureserver/" method="post">
{% if rdatloaded %}
<h3 class="sectionheader">RDAT file information</h3>
<b>An RDAT file or RMDB entry has been loaded</b>
<div>
	<p class="form_description">Please review your file/entry data below.</p>
	{{ form.sequences.errors }}
	Sequences:
	<p>{{ form.sequences }}</p>
	{{ form.annotations.errors }}
	Data annotations:
	<p>{{ form.annotations }}</p>
</div>
{% else %}
<div class="hidden">
	Data annotations:
	<p>{{ form.annotations }}</p>
</div>
<h3 class="sectionheader">Input options</h3>
<b>Choose one of the input options</b>
<div id="input-options">
    <h3><a href="#">Manual input</a></h3>
    <div>
	<p class="form_description"> Manually input your RNA sequences</p>
        {{ form.sequences.errors }}
        Input your sequences (in FASTA format), in 5' to 3' order:
        <p>{{ form.sequences }}</p>
    </div>

    <h3><a href="#">Upload RDAT</a></h3>
    <div>
	<p class="form_description">Parse and upload data from an RDAT file. The data will be loaded into its relevant fields in this form for further inspection, before being submitted.</p>
        {{ form.rdatfile.errors }}
        Please upload your RDAT file:
        <p>{{ form.rdatfile }}</p>
        <p>Clip sequence {{ form.clipsequence }} (clips sequence only to positions where mapping data is available)</p>
    </div>
    <h3><a href="#">RMDB entry</a></h3>
    <div>
	<p class="form_description">Load an RMDB entry to the structure server.</p>
        {{ form.rmdbid.errors }}
        Please input an RMDB ID
        <p>{{ form.rmdbid }}</p>
        <p>Clip sequence {{ form.clipsequence }} (clips sequence only to positions where mapping data is available)</p>
        <button id="rmdbid_submit">Submit ID</button>
    </div>
</div>
{% endif %}
<div style="display:none">
Type of bonuses
<p>{{ form.predtype }}</p>
</div>

<h3 class="sectionheader">Bonus options</h3>
<b>Choose one of the bonus options</b>
<div id="bonus-options">
    <h3 id="1D"><a href="#">1D bonuses</a></h3>
    <div>
	<p class="form_description">Use these options to apply pseudoenergy bonuses per <b>single base</b>, as with classical mapping experiments. Bonuses must be in <a href="http://rna.urmc.rochester.edu/Text/File_Formats.html#SHAPE">RNAstructure format</a>.</p>
	<p class="form-description">To define more than one set of bonuses (i.e. for multiple sequences), separate each set with a line starting with <b>#</b>.</p>
        {{ form.slope_1d.errors }}
        {{ form.intercept_1d.errors }}
        {{ form.bonuses_1d.errors }}
        {{ form.modtype.errors }}
	<p >{{ form.raw_bonuses }} Apply raw bonuses (no pseudo-energy calculation)</p>
        <p >Modifier Type:
        {{ form.modtype }}</p>
        <p >Slope:
        {{ form.slope_1d }}</p>
        <p >Intercept:
        {{ form.intercept_1d }}</p>
        <p >Number of bootstraps:
        {{ form.nbootstraps_1d }}</p>
	<p>Input bonuses</p>
	{{ form.bonuses_1d }}
    </div>
    <h3 id="2D"><a href="#">2D bonuses</a></h3>
    <div>
	<p class="form_description">Use these options to apply pseudoenergy bonuses per <b>base pair</b>. Bonuses must be in the form of a matrix (see <a href="http://rna.urmc.rochester.edu/Text/File_Formats.html#Experimental">RNAstructure's help</a> for format examples)</p>
	<p class="form_description"><b>Note:</b> Bonuses will be applied to the first structure in the list only.</p>
        {{ form.slope_2d.errors }}
        {{ form.intercept_2d.errors }}
        {{ form.bonuses_2d.errors }}
        <p >Slope:
        {{ form.slope_2d }}</p>
        <p >Intercept:
        {{ form.intercept_2d }}</p>
	<p>Input bonuses</p>
	{{ form.bonuses_2d }}
        <p >Number of bootstraps:
        {{ form.nbootstraps_2d }}</p>
        <p>{{ form.applyzscores }} Filter by Z-scores</p>
    </div>
    <h3 id="NN"><a href="#">No bonuses</a></h3>
    <div>
	<p class="form_description">Predict the secondary structure with no pseudoenergies or experimental constraints.</p>
    </div>
</div>
<h3 class="sectionheader">Other options</h3>
<table>
<tr>
<td>Renormalize{{ form.normalize }} </td>
</tr>
<tr>
<td>{{form.temperature.errors }} 
Temperature {{ form.temperature }}C</td>
</tr>
<tr>
<td>{{form.refstruct.errors }} 
Reference Structure {{ form.refstruct }}</td>
</tr>
<table>
<!--
    <tr>
        {{ form.structures.errors }}
        <td >Input any secondary structures that you want to visualize
	    (if any, and in FASTA format, each entry being a secondary
	    structure in dot bracket notation):
        <p>{{ form.structures }}</p>
	</td>
    <tr>
        {{ form.bonusfile.errors }}
        <td >And provide the bonus file (see <a href='#'>here</a> for
	     docs on the format of bonus files):
        <p>{{ form.bonusfile }}</p></td>
    </tr>-->

 
</table>
<button id="submitform" type="submit">Submit</button>
</form>
<div id="helpdialog" class="hidden" title="Structure server help">
The purpose of the RMDB structure server is to help researchers formulate structural hypotheses based on chemical and enzymatic mapping of an RNA sequence of interest. The server uses the RNAstructure program by the Mathews lab to perform standard secondary structure prediction by free energy minimization. The algorithm is guided by the nearest neighbor rules along wiht bonuses/penalties imposed by the experimental data.
<h3>How to use this server</h3>
<p>Generating a secondary structure hypothesis in the RMDB structure server is a two step process: loading or typing the sequence and experimental data and choosing the type of bonuses to apply. Additional options including temperature and data normalization can be set before submitting to the server.</p>
<p>Inputting sequences and data can be done either by manually typing them (in FASTA and RNAstructure formats respectively) or by loading an RDAT file. RMDB entries can also be loaded into the server and can serve as guidelines on how the data input should look like when done manually. When an RDAT file or RMDB entry is loaded into the server, its sequences and data automatically populate the input forms. The sequences and data can then be reviewed or modified as desired before submitting.</p>
<p>Note that since the server uses RNAstructure as the backend, several particularties associated with the software apply to the input given and the resulting predictions (e.g. all nucleotides given in lowercase are forced to be single stranded).</p>
<h3>Description of parameters and options</h3>
<ul>
<li><i>1D bonuses</i>: Mapping experiments usually encode how much a particular nucleotide in the sequence is "single stranded" (either by exposure or enzyme recognition). This information can be used to apply bonuses/penalties in the energy function minimization process of secondary structure algorithms through a predefined pseudoenergy function: Ps[i] = -ln(slope*(data[i] + intercept)), where i is the nucleotide position. The slope and intercept can be tweaked to increase or diminish the pseudoenergy intensity. Current default values have been observed to work well with two benchmark sets of RNA molecules, documented in and , but users should keep in mind the that these values may not work optimally with other RNA sequences.</li>
<li><i>2D bonuses</i>: Mutate-and-map experiments can also be used to guide secondary structure prediction. Changes observed in residue exposure while mutating a sequence nucleotide by nucleotide can be applied as direct bonsues/penalties to the energy function. In this case, the pseudoenergy function becomes: Ps[i, j] = slope*data[i,j] + intercept, where i and j are nucleotide positions. Since the bonuses are given to each pair of positions in the sequence, the bonus matrix that is input should be a square matrix and its dimensions should coincide with the number of nucleotides in the sequence. Input bonsuses can be further refined by normalizing them as per row Z-scores, eliminating data variation per mutant probed.</li>
<li><i>Bootstrapping</i>: Generates N data mockups by sampling the mapping values with replacement M times, where N is the number of bootstraps specified and M is the length of the RNA sequence. N secondary structure hypotheses are then opbained by running RNAstructure with each of the mockups. Each helix appearing in the secondary structure predicted with the full data is then counted in the mockup predictions and its frequency is reported. This procedure gives a confidence value to each helix.</li>
<li><i>Benormalizing</i>: When the Renormalize box is checked, a box plot normalization is performed (eliminating outliers outside 1.5 times of the interquartile range) to the data before converting them to pseudoenergies.</li>
</ul>
<h3>Viewing Results</h3>
<p>When submitting to the structure server, the resulting secondary structure hypotheses of each sequence submitted is drawn as a Java applet using the VARNA program. If a reference structure was specified, base pairs that were missed or incorrectly predicted with respect to this structure are shown. The reference structure can be further changed to test several other hypotheses.</p>
</div>
{% endblock %}
