{% extends "base.html" %}
{% block content %}
<p>
You can use this form to validate that a file that describes RNA chemical footprinting experiments follows the standards of the format.
Other consistency checks such as sequence and data agreement are also made.
</p>
<ul color="red">
{% for v in valerrors %}
<li>{{ v }}</li>
{% endfor %}
</ul>
<form class="niceform" enctype="multipart/form-data" action="/repository/tools/validate/" method="post">
<table>
    <tr>
        {{ form.file.errors }}
        <td >File to upload:</td>
        <td>{{ form.file }}</td>
    </tr>

   <tr>
        {{ form.link.errors }}
        <td >Or specify an RMDB ID or ISATAB URL:</td>
        <td>{{ form.link }}</td>
    </tr>

    <tr>
        {{ form.description.errors }}
        <td >Format</td>
        <td>{{ form.type }}</td>
    </tr>
 
</table>
<input type="submit" value="Submit" />
</form>
{% if messages %}
<p>
The following messages were produced:
<ul>
{% for m in messages %}
<li>{{ m }} </li>
{% endfor %}
</ul>
</p>
{% endif %}
{% endblock %}
