
SECRET_KEY=’50_char_secret_key’
ALLOWED_HOSTS=['*']

DATABASE_URL=mysql://username:password@localhost/database
EMAIL_URL=smtps://username@email.com:password@smtp.gmail.com:port

APACHE_USER=username
APACHE_PASSWORD=password
