
SECRET_KEY=’50_char_secret_key’
GITHOOK_SECRET='20_hex_webhook_secret'

ALLOWED_HOSTS=['*']
SERVER_NAME='host'
SSL_HOST='host.domain'

DATABASE_URL=mysql://username:password@localhost/database
EMAIL_URL=smtps://username@email.com:password@smtp.gmail.com:port

APACHE_USER=username
APACHE_PASSWORD=password

DJANGO_USER=username
DJANGO_PASSWORD=password

ADMIN_NAME=name
ADMIN_EMAIL=email
EXTRA_NOTIFY=1
EXTRA_NAME=name
EXTRA_EMAIL=email

RMDB_GMAIL=username@gmail.com
