{% extends "media/html/_public.html" %}

{% block content %}

<div class="" id="categories">
	<div class="row">
		<div class="col-lg-2 col-md-2 hidden-sm hidden-xs" id="side">
			<div id="side_con">
				<div class="panel panel-warning" id="sidebar" data-spy="affix">
					<div class="panel-heading">
						<h3 class="panel-title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;Sections</h3>
					</div>
					<div class="panel-body scroll_nav">
						<ul class="nav" role="tablist" id="scroll_nav">
							<li class="li-success">
								<a id="sec-install" href="#install">
									<span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp;&nbsp;<b>Installation</b>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="pull-right" id="main">
			<div class="container theme-showcase" style="padding-right:25px;" role="main">
				<h2>
					<span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp;
					Tutorial: MAPseeker
				</h2>
				<br/>
				<p class="cap">
					MAPseeker leverages multiple chemical modification strategies to give information-rich structural data on pools of RNAs. It address several potential sources of bias, by eliminating PCR steps, improving ligation efficiencies of ssDNA adapters, and avoiding problematic heuristics in prior algorithms. This greatly facilitates RNA mapping labs to transition from using electrophoretic to next-generation sequencing methods.
				</p>
				<br/>
			</div>

			<div class="container theme-showcase li-success" role="main" style="padding-right:25px;" id="install">
	            <div class="panel panel-success" >
	            	<div class="panel-heading">
	            		<span class="lead"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp;&nbsp;<b>Installation</b></span>
	            	</div>
	            </div>
		        </br>
	            <div class="row">
	            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			            <p>
			            	The toolset GitHub repository: <a href="https://github.com/DasLab/map_seeker" target="_blank"><code>DasLab/map_seeker</code>&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> is private. MAPseeker source code is available for non-commercial use: 
			            	<a href="/tools/license/mapseeker/" class="btn btn-info pull-right">&nbsp;<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;&nbsp;Download&nbsp;</a>
			            </p>
			            <div class="row">
				            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
								<p><pre>git clone https://github.com/DasLab/map_seeker.git</pre></p>
				            </div>
				        </div>
						<p>
							For commercial use, please <a href="/help/about/#contact" class="btn btn-warning pull-right">&nbsp;<span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;Contact Us&nbsp;</a>
						</p>
					</div>
		        </div>
		    </div>


		</div>
	</div>
</div>

{% endblock %}


{% block script %}
	<script type="text/javascript" src="/site_media/js/public/{{DEBUG_DIR}}tutorial{{DEBUG_STR}}.js"></script>  
	<script type="text/javascript">
		$(document).ready(function() {
			$('.dropdown-toggle').removeClass("active");
			$("#nav_tool").addClass("active");
	    	$("#nav_logo").css("text-decoration","none");
		});
	</script>

{% endblock %}
