{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div id="content-main">
		<table class="table-overview applist">
			<tr>
                <th scope="row"><b><i class="icon-globe"></i> Link</th>
                <td><a href="/server-status/" class="addlink icon">http://daslab.stanford.edu/server-status/</a></td>
                <td><i class="icon-lock"></i> Apache Autherization Required</td>
              </tr>
		</table>
		
		
	</div>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function() {
			// $("#iframe").css("width", parseInt($("#content").css("width")) - 50);
			// $("#iframe").css("height", $("#footer").position().top - $("#content").position().top - 175);
			$("ul.breadcrumb").append('<li class="active"><span style="color: #000;" class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Site Documentation</li>');
		});
	</script>

{% endblock %}

