{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block extrajs %}
  <script type="text/javascript" src="/site_media/js/admin/{{DEBUG_DIR}}home{{DEBUG_STR}}.js"></script>
{% endblock %}

{% block content %}
  <div id="content-main" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h4 class="italic-title"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;{% trans 'System Status' %}</h4>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="/admin/sys_stat/" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Refresh&nbsp;&nbsp;</a>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr class="active">
              <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Back End</th>
              <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
              <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;Front End</th>
              <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
              <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;Utility</th>
              <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="label label-primary">linux</span></td><td id="id_linux"></td>
              <td><span class="label label-warning">jquery</span></td><td id="id_jquery"></td>
              <td><span class="label label-inverse">ssh</span></td><td id="id_ssh"></td>
            </tr>
            <tr>
              <td><span class="label label-info">python</span></td><td id="id_python"></td>
              <td><span class="label label-warning">bootstrap</span></td><td id="id_bootstrap"></td>
              <td><span class="label label-inverse">git</span></td><td id="id_git"></td>
            </tr>
            <tr>
              <td><span class="label label-info">virtualenv</span></td><td id="id_virtualenv"></td>
              <td><span class="label label-teal">django-suit</span></td><td id="id_django_suit"></td>
              <td><span class="label label-inverse">nano</span></td><td id="id_nano"></td>
            </tr>
            <tr>
              <td><span class="label label-dark-green">django</span></td><td id="id_django"></td>
              <td><span class="label label-teal">django-adminplus</span></td><td id="id_django_adminplus"></td>
              <td><span class="label label-brown">gdrive</span></td><td id="id_gdrive"></td>
            </tr>
            <tr>
              <td><span class="label label-green">django-crontab</span></td><td id="id_django_crontab"></td>
              <td><span class="label label-teal">django-filemanager</span></td><td id="id_django_filemanager"></td>
              <td><span class="label label-brown">zip</span></td><td id="id_zip"></td>
            </tr>
            <tr>
              <td><span class="label label-green">django-environ</span></td><td id="id_django_environ"></td>
              <td><span class="label label-magenta">d3</span></td><td id="id_d3"></td>
              <td><span class="label label-light-blue">boto</span></td><td id="id_boto"></td>
            </tr>
            <tr>
              <td><span class="label label-violet">mysql</span></td><td id="id_mysql"></td>
              <td><span class="label label-magenta">zero-clipboard</span></td><td id="id_zclip"></td>
              <td><span class="label label-light-blue">pygithub</span></td><td id="id_pygit"></td>
            </tr>
            <tr>
              <td><span class="label label-orange">numpy</span></td><td id="id_numpy"></td>
              <td><span class="label label-magenta">gviz-api</span></td><td id="id_gvizapi"></td>
              <td><span class="label label-light-blue">requests</span></td><td id="id_request"></td>
            </tr>
            <tr>
              <td><span class="label label-orange">scipy</span></td><td id="id_scipy"></td>
              <td><span class="label label-dark-red"></span></td><td id="id_x"></td>
              <td><span class="label label-light-blue">simplejson</span></td><td id="id_simplejson"></td>
            </tr>
            <tr>
              <td><span class="label label-orange">matplotlib</span></td><td id="id_matplotlib"></td>
              <td><span class="label label-success">yui-compressor</span></td><td id="id_yui"></td>
              <td><span class="label label-light-blue">xlwt</span></td><td id="id_xlwt"></td>
            </tr>
            <tr>
              <td><span class="label label-dark-red">numba</span></td><td id="id_numba"></td>
              <td><span class="label label-success">curl</span></td><td id="id_curl"></td>
              <td><span class="label label-danger">openssl</span></td><td id="id_ssl"></td>
            </tr>
            <tr>
              <td><span class="label label-dark-red">llvm</span></td><td id="id_llvm"></td>
              <td><span class="label label-dark-blue">Primerize</span></td><td id="id_primerize"></td>
              <td><span class="label label-danger">apache</span></td><td id="id_apache"></td>
            </tr>
            <tr>
              <td><span class="label label-default">pip</span></td><td id="id_pip"></td>
              <td><span class="label label-dark-blue">RDATKit</span></td><td id="id_rdatkit"></td>
              <td><span class="label label-dark-red">mod-wsgi</span></td><td id="id_wsgi"></td>
            </tr>
            <tr><td colspan="6" style="padding: 0px;"></td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <table class="table table-hover">
          <thead>
            <tr class="active">
              <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></th>
              <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span class="glyphicon glyphicon-fullscreen"></span>&nbsp;&nbsp;Size (Used | Available)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="/site_media/images/icons/gdrive.png" height="14px" />&nbsp;&nbsp;Google Drive</td>
              <td id="id_drive_space">
                <div class="progress" style="margin-bottom: 0px;">
                  <div class="progress-bar progress-bar-danger"></div>
                  <div class="progress-bar progress-bar-success"></div>
                </div>
              </td>
            </tr>
            <tr><td colspan="2" style="padding: 0px;"></td></tr>
            <tr>
              <td><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;Disk Space</td>
              <td id="id_disk_space">
                <div class="progress" style="margin-bottom: 0px;">
                  <div class="progress-bar progress-bar-danger"></div>
                  <div class="progress-bar progress-bar-success"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Memory</td>
              <td id="id_memory">
                <div class="progress" style="margin-bottom: 0px;">
                  <div class="progress-bar progress-bar-danger"></div>
                  <div class="progress-bar progress-bar-success"></div>
                </div>
              </td>
            </tr>
            <tr class="active">
              <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></th>
              <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;Usage (1 | 5 | 15 min)</th>
            <tr>
              <td><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;CPU</td><td id="id_cpu"></td>
            </tr>
            <tr><td colspan="2" style="padding: 0px;"></td></tr>
          </tbody>
        </table>
        <table class="table table-hover">
          <tbody>
            <tr class="active">
              <td colspan="2" style="border-top:none;"><span class="glyphicon glyphicon-console"></span>&nbsp;&nbsp;<b>Path</b></td>
            </tr>
            <tr><td colspan="2" style="padding: 0px;"></td></tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;
                <span class="label label-primary">BASE_DIR</span>
              </td>
              <td id="id_base_dir"></td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;
                <span class="label label-success">MEDIA_ROOT</span>
              </td>
              <td id="id_media_root"></td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;
                <span class="label label-danger">STATIC_ROOT</span>
              </td>
              <td id="id_static_root"></td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-indent-left"></span>&nbsp;&nbsp;
                <span class="label label-violet">Primerize</span>
              </td>
              <td id="id_primerize_path"></td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;
                <span class="label label-orange">RDATKit</span>
              </td>
              <td id="id_rdatkit_path"></td>
            </tr>
            <tr><td colspan="2" style="padding: 0px;"></td></tr>
          </tbody>
        </table>        

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <table class="table table-hover">
          <thead>
            <tr class="active">
              <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></th>
              <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><span class="glyphicon glyphicon-share"></span> Size</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-adjust"></span>&nbsp;&nbsp;Local Backup</td><td id="id_backup"></td>
            </tr>
            <tr class="active">
              <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></th>
              <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><span class="glyphicon glyphicon-scale"></span>&nbsp;&nbsp;Status</th>
            </tr>
            <tr>
              <td id="id_week_backup"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;Weekly Backup</td>
              <td id="id_week_backup_stat"></td>
            </tr>
            <tr>
              <td id="id_week_upload"><span class="glyphicon glyphicon-floppy-open"></span>&nbsp;&nbsp;Sync to Google Drive</td>
              <td id="id_week_upload_stat"></td>
            </tr>
            <tr><td colspan="2" style="padding: 0px;"></td></tr>
          </tbody>
        </table>

        <table class="table table-hover">
          <tbody>
            <tr class="active">
              <td colspan="2" style="border-top:none;"><span class="glyphicon glyphicon-certificate"></span>&nbsp;&nbsp;<b>SSL Certificate</b></td>
            </tr>
            <tr><td colspan="2" style="padding: 0px;"></td></tr>
            <tr>
              <td><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;<span class="label label-success">Issuer</span></td>
              <td>InCommon RSA Server CA</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;<span class="label label-warning">Expiration Date</span></td>
              <td id="id_ssl_exp"></td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;<span class="label label-primary">Key Size</span></td>
              <td>2048 bits (e 65537)</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;<span class="label label-danger">Algorithm</span></td>
              <td>SHA256withRSA</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;<span class="label label-info">Protocols</span></td>
              <td><span class="label label-orange">TLS</span> 1.2</td>
            </tr>
            <tr><td colspan="2" style="padding: 0px;"></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}


{% block sidebar %}
  <div id="content-related" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="module" id="recent-actions-module">
      <h4 class="italic-title"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;{% trans 'My Actions' %}</h4>

      {% load log %}
      {% get_admin_log 10 as admin_log for_user user %}
      {% if not admin_log %}
        <!-- <p>{% trans 'None available' %}</p> -->
        <div class="alert alert-danger">
          <p class="lead" style="font-weight:bold;">
            Your login account <span class="label label-warning">{{user}}</span> lacks the <span class="label label-success">superuser</span> permission.
            <br>
          </p>
          <p class="lead">You do not have access to site content editing.</p>
        </div>
        <div class="alert alert-success">
          <p class="lead" style="font-weight:bold;">Please use the <span class="label label-warning">daslab</span> shared account for administrative tasks.</p>
        </div>
      {% else %}
        <ul class="list-group">
          {% for entry in admin_log %}
            <li class="list-group-item {% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}text-error{% endif %}">

              <span class="label label-{% if entry.is_addition %}success{% endif %}{% if entry.is_change %}primary{% endif %}{% if entry.is_deletion %}danger{% endif %}"><span class="glyphicon glyph{% if entry.is_addition %}icon-plus-sign{% endif %}{% if entry.is_change %}icon-edit{% endif %}{% if entry.is_deletion %}icon-trash{% endif %}"></span></span>

              {% spaceless %}
                {% if entry.is_addition %}{% trans 'added'|capfirst %}{% endif %}
                {% if entry.is_change %}{% trans 'changed'|capfirst %}{% endif %}
                {% if entry.is_deletion %}{% trans 'deleted'|capfirst %}{% endif %}

                {% if entry.content_type %}
                  <span class="mini quiet">{% filter capfirst %}
                    {% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                  <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
              {% endspaceless %}&nbsp;

              {% if entry.is_deletion or not entry.get_admin_url %}
                <span class="color-grey">{{ entry.object_repr }}</span>
              {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}


