{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div id="content-main" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
				<table class="table table-overview applist">
					<tr>
		                <th scope="row"><b><span class="glyphicon glyphicon-globe"></span> Link</th>
		                <td class="active"><a href="/server-status/" target="_blank" class="addlink icon">https://{{host_name}}/server-status/</a></td>
		                <td class="active"><span class="glyphicon glyphicon-lock"></span> Apache Authorization Required</td>
		              </tr>
				</table>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
				<span class="pull-right"><u>(Page Refreshes Every 3 <i>s</i>)</u></span>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div style="padding:20px;">
					<h3 id="apache_title">Apache Server Status</h3>

					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="thumbnail" style="margin:0px 20px 0 px 0px; padding:20px; float:none;">
								<table class="table table-hover" style="margin-bottom:0px;">
									<thead>
										<tr><th class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></th><th class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></th></tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-right"><span class="label label-inverse">Current Time</span></td>
											<td id="apache_current_time"></td>
										</tr>
										<tr>
											<td class="text-right"><span class="label label-primary">Build Time</span></td>
											<td id="apache_build_time"></td>
										</tr>
										<tr>
											<td class="text-right"><span class="label label-primary">Restart Time</span></td>
											<td id="apache_restart_time"></td>
										</tr>
										<tr>
											<td class="text-right"><span class="label label-success">Up Time</span></td>
											<td id="apache_up_time"></td>
										</tr>
							            <tr><td colspan="2" style="padding: 0px;"></td></tr>
									</tbody>
								</table>
								<table class="table table-hover" style="margin-bottom:0px;">
									<thead>
										<tr>
											<th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th><th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
											<th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th><th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
											<th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th><th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-right"><span class="label label-info">Total Access</span></td>
											<td id="apache_total_access"></td>
											<td class="text-right"><span class="label label-orange">Server Load</span></td>
											<td colspan="3" id="apache_server_load"></td>
										</tr>
										<tr>
											<td class="text-right"><span class="label label-danger">CPU Load</span></td>
											<td id="apache_cpu_load"></td>
											<td class="text-right"><span class="label label-danger">CPU Usage</span></td>
											<td colspan="3" id="apache_cpu_usage"></td>
										</tr>
										<tr>
											<td class="text-right"><span class="label label-warning">Traffic</span></td>
											<td colspan="5" id="apache_traffic"></td>
										</tr>
										<tr>
											<td class="text-right"><span class="label label-warning">Total Traffic</span></td>
											<td id="apache_total_traffic"></td>
											<td class="text-right"><span class="label label-green">MPM</span></td>
											<td id="apache_mpm"></td>
											<td class="text-right"><span class="label label-default	">Port</span></td>
											<td id="apache_port"></td>
										</tr>
							            <tr><td colspan="6" style="padding: 0px;"></td></tr>
									</tbody>
								</table>
								<table class="table table-hover" style="margin-bottom:0px;">
									<tbody>
										<tr>
											<td class="text-right"><span class="label label-dark-blue">Cache Type</span></td>
											<td id="apache_ssl_cache"></td>
											<td class="text-right"><span class="label label-dark-green">Shared Memory</span></td>
											<td id="apache_ssl_mem"></td>
											<td class="text-right"><span class="label label-teal">Entry</span></td>
											<td id="apache_ssl_entry"></td>
										</tr>
									</tbody>
								</table>
								<table class="table table-hover" style="margin-bottom:0px;">
									<tbody>
										<tr>
											<td class="text-right"><span class="label label-brown">Session Subcache</span></td>
											<td id="apache_ssl_subcache"></td>
											<td class="text-right"><span class="label label-magenta">Session Index</span></td>
											<td id="apache_ssl_index"></td>
										</tr>
							            <tr><td colspan="8" style="padding: 0px;"></td></tr>
									</tbody>
								</table>
								<table class="table table-hover" style="margin-bottom:0px;">
									<tbody>
										<tr>
											<td class="text-right"><span class="label label-default">apache</span></td>
											<td id="apache_ver"></td>
											<td class="text-right"><span class="label label-violet">wsgi</span></td>
											<td id="apache_wsgi"></td>
											<td class="text-right"><span class="label label-violet">ssl</span></td>
											<td id="apache_ssl"></td>
										</tr>
							            <tr><td colspan="8" style="padding: 0px;"></td></tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="well" style="margin:0px 0px 0 px 20px; padding:20px;">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<table class="table table-hover" style="margin-bottom:0px;">
											<thead>
												<tr>
													<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></th><th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
													<th class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></th><th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-right"><span class="label label-dark-red">Processing</span></td>
													<td id="apache_process"></td>
													<td class="text-right"><span class="label label-teal">Idle</span></td>
													<td id="apache_idle"></td>
												</tr>
									            <tr><td colspan="4" style="padding: 0px;"></td></tr>
											</tbody>
										</table>
									</div>
								</div>

								<code id="apache_worker" style="word-wrap: wrap;">....w___wwww</code>
								<table class="table table-hover" style="margin-bottom:0px;">
									<thead>
										<tr>
											<th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></th><th class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></th>
											<th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></th><th class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><span class="label label-inverse">_</span></td><td> Waiting for Connection</td>
											<td><span class="label label-default">S</span></td><td> Starting up</td>
										</tr>
										<tr>
											<td><span class="label label-violet">R</span></td><td> Reading Request</td>
											<td><span class="label label-info">W</span></td><td> Sending Reply</td>
										</tr>
										<tr>
											<td><span class="label label-success">K</span></td><td> Keepalive (read)</td>
											<td><span class="label label-warning">D</span></td><td> DNS Lookup</td>
										</tr>
										<tr>
											<td><span class="label label-danger">C</span></td><td> Closing Connection</td>
											<td><span class="label label-orange">L</span></td><td> Logging</td>
										</tr>
										<tr>
											<td><span class="label label-green">G</span></td><td> Gracefully Finishing</td>
											<td><span class="label label-brown">I</span></td><td> Idle Cleanup of Worker</td>
										</tr>
										<tr>
											<td><span class="label label-primary">.</span></td><td> Open Slot with NO Current Process</td>
											<td></td><td></td>
										</tr>
							            <tr><td colspan="4" style="padding: 0px;"></td></tr>
									</tbody>
								</table>
							</div>	
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="well" style="margin:0px 0px 0 px 20px; padding:20px;">
								<table class="table table-hover" style="margin-bottom:0px;">
									<thead>
										<tr>
											<th data-toggle="tooltip" data-placement="top" title="Child Server Number - Generation">Srv</th>
											<th data-toggle="tooltip" data-placement="top" title="OS Process ID">PID</th>
											<th data-toggle="tooltip" data-placement="top" title="Number of Accesses This Connection / This Child / This Slot">Acc</th>
											<th data-toggle="tooltip" data-placement="top" title="Mode of Operation">Mode</th>
											<th data-toggle="tooltip" data-placement="top" title="CPU Usage (Seconds)">CPU</th>
											<th data-toggle="tooltip" data-placement="top" title="Time since Beginning of Most Recent Request (Seconds)">SS</th>
											<th data-toggle="tooltip" data-placement="top" title="Time Required to Process Most Recent Request (Milliseconds)">Req</th>
											<th data-toggle="tooltip" data-placement="top" title="Size Transferred by This Connection (Kilobytes)">Conn</th>
											<th data-toggle="tooltip" data-placement="top" title="Size Transferred by This Child (Megabytes)">Child</th>
											<th data-toggle="tooltip" data-placement="top" title="Total Size Transferred by This Slot (Megabytes)">Slot</th>
											<th>Client</th><th>Virtual Host</th><th>Request</th>
										</tr>
									</thead>
									<tbody id="apache_client"></tbody>
								</table>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block extrajs %}
  <script type="text/javascript" src="/site_media/js/admin/{{DEBUG_DIR}}apache{{DEBUG_STR}}.js"></script>
{% endblock %}

