
{% extends "media/html/_public.html" %}
{% load widget_tweaks %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div>

                <div class="alert alert-info">Please enter your old password, for security's sake, and then enter your
                    new
                    password twice so we can verify you typed it in correctly.
                </div>


                <fieldset class="module aligned wide">

                    <div class="control-group">
                        <div class="control-label">
                            <label for="id_old_password" class="required" style="font-weight: bold;">Old
                                password:</label>
                        </div>

                        <div class="controls">
                            {% render_field form.old_password class+="form-control" %}
                            <div class="help-inline" style="color:red;font-size:85%;">{{ form.old_password.errors }}</div>
                        </div>

                    </div>

                    <div class="control-group">
                        <div class="control-label">
                            <label for="id_new_password1" class="required" style="font-weight: bold;">New
                                password:</label>
                        </div>

                        <div class="controls" data-toggle="popover" data-placement="bottom" title="Password" data-content="It must be at least 6 characters long. No limit on combinations.">
                            {% render_field form.new_password1 class+="form-control" %}
                            <div class="help-inline" style="color:red;font-size:85%;">{{ form.new_password1.errors }}</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-label">
                            <label for="id_new_password2" class="required" style="font-weight: bold;">Password
                                (again):</label>
                        </div>
                        <div class="controls" data-toggle="popover" data-placement="bottom" title="Password" data-content="It must be at least 6 characters long. No limit on combinations.">
                            {% render_field form.new_password2 class+="form-control" %}
                            <div class="help-inline" style="color:red;font-size:85%;">{{ form.new_password2.errors }}</div>
                            <div class="help-inline" style="color:red;font-size:85%;">{{ message }}</div>
                        </div>
                    </div>

                </fieldset>
                <br/>

                <div class="submit-row submit-row-bottom">
                    <input type="submit" value="Change my password" class="default btn btn-info form-control">
                </div>
                <br/>
                <br/>

                <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
</form>
{% endblock %}


