{% extends "media/html/_public.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
            <a href="/edit_profile/" class=" btn btn-high btn-green pull-right" ><span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;Continue Edit Profile</a>
        </div>
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
    </div>
        <br/>
    <div class="row" style="text-align:center">
        <h1>Success!</h1>
        <p>{% trans 'Your password was changed.' %} </p>
        </div>


{% endblock %}