{% extends "media/html/_public.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="alert alert-success" style="text-align:center">
                    <h1>Success!</h1>
                    <p>{% trans 'Your password was changed.' %} </p>
                    <br/>
                    Continue&nbsp;<a href="/edit_profile/" class=" btn btn-info btn-xs"><span
                    class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;Edit Profile</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
        </div>


{% endblock %}