{% extends "media/html/_public.html" %}


{% block content %}
  <div class="row bgimg2-lg" style="padding:50px 0px; min-height:400px;">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="panel_left">
      <img src="/site_media/images/bg_500.png" height="auto" style="max-width:100%;" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="panel_right">
      <h2 style="margin-bottom:20px;">
        <span class="label label-danger">Misfolding</span>
      </h2>
      <p style="font-weight:bold; font-size:16px;">
        <b>
          Non-native local structure was detected.
          <br/>
          Non-functional conformation was formed.
          <br/>
          Chaperone protein is on the way.
        </b>
      </p>
      <br/>
      <p><i>In other words,</i></p>
      <h3><span class="label label-danger">500: Internal Server Error</span></h3>
      <p>
        <code>Sorry!</code>
        <br/>
        The server encountered an internal error and was unable to complete your request. The admin has been noticed and will look into it. Please come back and try again later.
      </p>
    </div>
  </div>  
{% endblock %}
