{% extends "media/html/_framework.html" %}

{% block content %}
<div class="container">
    {% if msg_y %}
    <ul class="alert alert-warning">
        {% for v in msg_y %}
        <li>{{ v }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if msg_r %}
    <ul class="alert alert-danger">
        {% for v in msg_r %}
        <li>{{ v }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <h3>
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>&nbsp;&nbsp;
        Predict Secondary Structures
    </h3>
    <br/>
    <div class="col-md-9">
        <p class="cap">Structural Server provides a easy-to-use platform for RNA secondary structure predictions using pseudo-energy bonuses from 1D or 2D chemical mapping data. The server accepts files in <a href="/deposit/specs"><mark>RDAT</mark></a> format, either directly from existing RMDB entries, or from user upload.</p>
        <p>The server makes use of the <a href="http://rna.urmc.rochester.edu/RNAstructure.html">RNAstructure&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> package for minimum free energy (MFE) structure modeling. Currently, both <code>Fold</code> and <code>ShapeKnots</code> excutables are supported.</p>
        <p>Some of the methods used are described in the following papers:
            <blockquote class="h5">
                <p>
                    Kladwang W., <i>et al.</i> (<b>2011</b>). <a href="http://www.nature.com/nchem/journal/v3/n12/full/nchem.1176.html" target="_blank" rel="noopener noreferrer external"><u>A Two-Dimensional Mutate-and-Map Strategy for Non-Coding RNA Structure.</u>&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Nature Chemistry</i> <b>3</b>: 954-962.
                </p>
                <p>
                    Kladwang W., <i>et al.</i> (<b>2011</b>). <a href="http://pubs.acs.org/doi/abs/10.1021/bi200524n" target="_blank" rel="noopener noreferrer external"><u>Understanding the Errors of SHAPE-Directed RNA Structure Modeling.</u>&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Biochemistry</i> <b>50(37)</b>: 8049-8056.
                </p>
                <p>
                    Deigan K., <i>et al.</i> (<b>2009</b>). <a href="http://www.pnas.org/content/106/1/97.short" target="_blank" rel="noopener noreferrer external"><u>Accurate SHAPE-Directed RNA Structure Determination.</u>&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Proceedings of the National Academy of Sciences of the United States of America</i> <b>106(1)</b>: 97-102.
                </p>
            </blockquote>
        </p>
        <p>For tutorial and documentation of the Structural Server, see
            <a href="/tools/docs/predict" class="btn btn-warning">&nbsp;&nbsp;Tutorial&nbsp;&nbsp;</a>
        </p>
    </div>

    <div class="col-md-3">
        <div class="well">
            <p><b>Server Versions:</b></p>
            <div class="row">
                <div class="col-md-6 text-right"><code>RNAstucture</code></div>
                <div class="col-md-6"><mark id="ver_rna"></mark></div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right"><code>RDAT_Kit</code></div>
                <div class="col-md-6"><mark id="ver_rdat"></mark></div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right"><code>Python</code></div>
                <div class="col-md-6"><mark id="ver_py"></mark></div>
            </div>
        </div>
    </div>
</div>
<br/>

<div class="row">
    <form id="structureform" enctype="multipart/form-data" method="post" action="/analyze/predict/">
        {% csrf_token %}
        <div class="col-md-5">
            <div class="panel panel-primary" id="col-1">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>&nbsp;&nbsp;
                        Input
                    </h2>
                </div>
                <div class="panel-body">
                    <p class="lead">Choose one of the input methods:</p>
                    <div class="row">
                        <div class="col-md-12 btn-group" role="tablist">
                            <div class="col-md-4">
                                <a href="#panelManual" class="btn btn-danger" id="buttonManual" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span>&nbsp;&nbsp;Manual Input</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#panelRDAT" class="btn btn-warning" id="buttonRDAT" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp;&nbsp;Upload RDAT</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#panelRMDB" class="btn btn-success" id="buttonRMDB" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;Retrieve RMDB</a>
                            </div>
                        </div>
                    </div>
                    <hr/>

                    <div class="row tab-content">
                        <div role="tabpanel" class="fade in tab-pane active" id="panelManual">
                            <div class="col-md-12">
                            {% if rdatloaded %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <p><b>Sequences</b>: (in FASTA format)</p>
                                        {{ secstr_form.sequences }}
                                    </div>
                                    <div class="col-md-4">
                                        <p><b>Data Annotations</b>:<p>
                                        {{ secstr_form.annotations }}
                                    </div>
                                </div>
                            {% else %}
                                <p><b>Sequences</b>: (in FASTA format)</p>
                                {{ secstr_form.sequences }}
                            {% endif %}
                            </div>
                        </div>
                        <div role="tabpanel" class="fade tab-pane" id="panelRDAT">
                            <div class="col-md-12">
                                <p>Data from RDAT file will be loaded into fields for inspection before submission.</p>
                                <br/>
                                <div class="row">
                                    <div class="col-md-3">Upload File:</div>
                                    <div class="col-md-6">
                                        <input id="id_rdatdisp" class="form-control" placeholder="No file chosen" disabled="disabled" style="cursor:text;"/>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="fileUpload btn btn-info">
                                            <span>&nbsp;&nbsp;Browse&nbsp;&nbsp;</span>
                                            {{ secstr_form.rdatfile }}
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-3">Trim Sequences:</div>
                                    <div class="col-md-9">
                                        <div class="checkbox">
                                            <label>
                                                {{ secstr_form.clipsequence }} Trims sequences down to regions where mapping data is available
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-inverse pull-right clickable" value="&nbsp;Upload&nbsp;"/>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="fade tab-pane" id="panelRMDB">
                            <div class="col-md-12">
                                <p>Data from RMDB entry will be loaded into fields for inspection before submission.</p>
                                <br/>
                                <div class="row">
                                    <div class="col-md-3">RMDB ID:</div>
                                    <div class="col-md-6">{{ secstr_form.rmdbid }}</div>
                                    <div class="col-md-3"><input type="submit" class="btn btn-inverse clickable" value="&nbsp;Retrieve&nbsp;"/></div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-3">Trim Sequences:</div>
                                    <div class="col-md-9">
                                        <div class="checkbox">
                                            <label>
                                                {{ secstr_form.clipsequence }} Trims sequences down to regions where mapping data is available
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" id="col-2">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;
                        Additional Options
                    </h2>
                </div>
                <div class="panel-body">
                    <p><b>Reference Structure</b>:</p>
                    {{ secstr_form.refstruct }}

                    <br/>
                    <div class="col-md-7">    
                        <div class="row">
                            <div class="col-md-6 text-right"><b>Temperature</b>:</div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    {{ secstr_form.temperature }}
                                    <span class="input-group-addon">&deg;C</span>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6 text-right"><b># of Bootstrap</b>:</div>
                            <div class="col-md-6">{{ secstr_form.nbootstraps }}</div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6 text-right"><b>Executable</b>:</div>
                            <div class="col-md-6">{{ secstr_form.executable }}</div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <b>Renormalize</b>:
                        <div class="checkbox">
                            <label>
                                {{ secstr_form.normalize }} 
                                &nbsp;&nbsp;&nbsp;&nbsp;Apply box-plot scaling
                            </label>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
        <div class="col-md-7">
            <div class="panel panel-violet" id="col-3">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp;&nbsp;
                        Chemical Mapping Data
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="col-md-12 form-inline">
                        <p><b>Type of Bonus</b>:&nbsp;&nbsp;&nbsp;&nbsp;{{ secstr_form.predtype }}</p>
                    </div>
                    <hr/>

                    <div class="col-md-12" id="bonus1D">
                        <h3 class="alert alert-info">1D Bonus</h3>
                        <ul>
                            <li>Use these options to apply pseudoenergy bonuses per <b>single base</b>, as with classical mapping experiments. Bonuses must be in <a href="http://rna.urmc.rochester.edu/Text/File_Formats.html#SHAPE">RNAstructure format&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>.</li>
                            <li>To define more than one set of bonuses (i.e. for multiple sequences), separate each set with a line starting with <b>#</b>.</li>
                        </ul>
                        <br/>

                        <div class="col-md-8">
                            <p><b>Input Bonuses</b>:</p>
                            {{ secstr_form.bonuses_1d }}
                        </div>
                        <div class="col-md-4">
                            <br/><br/><br/>
                            <div class="row">
                                <div class="col-md-6 text-right"><b>Modifier Type</b>:</div>
                                <div class="col-md-6">{{ secstr_form.modtype }}</div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6 text-right"><b>Slope</b>:</div>
                                <div class="col-md-6">{{ secstr_form.slope_1d }}</div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6 text-right"><b>Intercept</b>:</div>
                                <div class="col-md-6">{{ secstr_form.intercept_1d }}</div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6 text-right"><b>Apply Raw</b>:</div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        <label>
                                            {{ secstr_form.raw_bonuses }}
                                            Apply raw bonuses as-is (no pseudo-energy calculation)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>


                    <div class="col-md-12" id="bonus2D">
                        <h3 class="alert alert-info">2D Bonus</h3>
                        <ul>
                            <li>Use these options to apply pseudoenergy bonuses per <b>base pair</b>. Bonuses must be in the form of a matrix (see <a href="http://rna.urmc.rochester.edu/Text/File_Formats.html#Experimental">RNAstructure's help&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> for format examples)</li>
                            <li><b>Note:</b> Bonuses will be applied to the first structure in the list only.</li>
                        </ul>
                        <br/>

                        <div class="col-md-8">
                            <p><b>Input Bonuses</b>:</p>
                            {{ secstr_form.bonuses_2d }}
                        </div>
                        <div class="col-md-4">
                            <br/><br/><br/>
                            <div class="row">
                                <div class="col-md-6 text-right"><b>Slope</b>:</div>
                                <div class="col-md-6">{{ secstr_form.slope_2d }}</div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6 text-right"><b>Intercept</b>:</div>
                                <div class="col-md-6">{{ secstr_form.intercept_2d }}</div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6 text-right"><b>Z-score</b>:</div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        <label>
                                            {{ secstr_form.applyzscores }}
                                            Apply Z-score filter
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                    
                    <div class="col-md-12" id="bonusNN">
                        <h3 class="alert alert-info">No Bonus</h3>
                        <ul>
                            <li>Predict the secondary structure with no pseudoenergies or experimental constraints.</li>
                        </ul>
                    </div>

                    <div class="col-md-12">
                        <br/>
                        <span class="pull-right">
                            <input type="submit" class="btn btn-inverse" value="&nbsp;Submit&nbsp;"/>
                            &nbsp;&nbsp;
                            <a href="/deposit/submit/" class="btn btn-default">&nbsp;&nbsp;Clear&nbsp;&nbsp;</a>
                        </span>
                    </div>

                </div>
            </div>
        </div> 
        
    </form>

    <div id="stat" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalStat" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content panel-warning">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="stat_label">
                        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                        &nbsp;&nbsp;RMDB Development
                    </h4>
                </div>
                <div class="modal-body panel-body">
                    <div class="col-md-9">
                        <img src="/site_media/images/fg_under_construction.gif" style="width:400px;">
                    </div>
                    <div class="col-md-3">
                        <h2>Page not ready~</h2>
                        <p>Please check back soon!</p>
                        <a href="/" class="btn btn-primary text-center">Home</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<br/>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.dropdown-toggle').removeClass("active");
            $("#nav_deposit").addClass("active");
            $("#nav_logo").css("text-decoration","none");

            $("#id_sequences").addClass("form-control");
            $("#id_rmdbid").addClass("form-control");
            $("#id_rdatfile").addClass("form-control");
            $("#id_annotations").addClass("form-control");
            $("#id_predtype").addClass("form-control");

            $("#id_modtype").addClass("form-control");
            $("#id_intercept_1d").addClass("form-control");
            $("#id_slope_1d").addClass("form-control");
            $("#id_bonuses_1d").addClass("form-control");
            $("#id_nbootstraps").addClass("form-control");
            $("#id_intercept_2d").addClass("form-control");
            $("#id_slope_2d").addClass("form-control");
            $("#id_bonuses_2d").addClass("form-control");

            $("#id_temperature").addClass("form-control");
            $("#id_executable").addClass("form-control");
            $("#id_refstruct").addClass("form-control");

            $("#id_rdatfile").on("change", function () {
                $("#id_rdatdisp").val($(this).val().replace("C:\\fakepath\\", ""));
            });

            $("#id_sequences").attr("rows",5);
            $("#id_bonuses_1d").attr("rows",15);
            $("#id_bonuses_2d").attr("rows",15);
            $("#id_refstruct").attr("rows",5);
            $("#id_sequences").css("font-family","monospace");
            $("#id_refstruct").css("font-family","monospace");
            $("#id_executable").on("change", function() {
                if ($(this).val() == "Fold") {
                    $("#id_nbootstraps").val(Math.min(100, $("#id_nbootstraps").val()));
                } else {
                    $("#id_nbootstraps").val(Math.min(10, $("#id_nbootstraps").val()));
                }
            });

            $("#id_predtype").on("change", function() {
                $("#bonus1D, #bonus2D, #bonusNN").hide();
                if ($(this).val() == "NN") {
                    $("#bonusNN").show();
                    $("#id_normalize").attr("disabled", true);
                    $("#id_normalize").attr("checked", false);
                    $("#id_nbootstraps").attr("disabled", true);
                } else {
                    if ($(this).val() == "2D") {
                        $("#bonus2D").show();
                    } else {
                        $("#bonus1D").show();
                    }
                    $("#id_normalize").attr("disabled", false);
                    $("#id_nbootstraps").attr("disabled", false);
                }
                $("#id_executable").trigger("change");
            });
            $("#bonus1D, #bonus2D, #bonusNN").hide();
            $("#id_predtype").trigger("change");

            // $("#id_rmdb_id, #id_authors").on("focusout", function() {
            //     $(this).parent().removeClass("has-error");
            // });

            $.ajax({
                url: '/api/index/rnastr_ver/',
                dataType: 'json',
                async: true,
                success: function(data) { 
                    $("#ver_rna").text(data.ver_rna); 
                    $("#ver_rdat").text(data.ver_rdat); 
                    $("#ver_py").text(data.ver_py); 
                }
            });

            $("#stat").modal("show");
        });
    </script>

{% endblock %}


