{% extends "media/html/_public.html" %}
{% load repository_extras %}

{% block content %}
<div class="container">
    <div class="row col-md-12">
        {% if flag == 2 %}
            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                <b>SUCCESS</b>: Your RMDB entry has been submitted.
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br/>
                <p>
                    Entry <i>RMDB ID</i>: <b><u>{{ entry.rmdb_id }}</u></b> , <i>Version</i>: <b><u>{{ entry.version }}</u></b>
                    <br/>
                    Entry <i>Experiment Type</i>: <u>{{ entry.type|get_exp_type }}</u>
                    <br/>
                    Entry <i>Owner</i>: <u>{{ entry.owner }}</u>, <i>Authors</i>: <u>{{ entry.authors }}</u>
                    <br/>
                    Entry <i>Statistics</i>: <i># of Constructs</i>: <u>{{ entry.constructcount }}</u>, <i># of Data Points</i>: <u>{{ entry.datacount }}</u>
                    <br/><br/>
                    Entry <i>Status</i>: 
                    <span class="lead">{% autoescape off %}{{ entry.revision_status|get_rev_stat }}{% endautoescape %}</span>
                    {% if entry.revision_status == 'REV' %}
                        <br/>
                        ** Your submission has been acknowledged by the RMDB team. We will review your entry shortly. For any questions, please feel free to <a href="/help/about#contact">contact</a> us.
                    {% else %}
                        <br/>
                        ** To visit your entry, click here: <a class="btn btn-danger" href="/detail/{{ entry.rmdb_id }}">Detail</a>.
                    {% endif %}
                </p>
            </div>
        {% endif %}

        {% if flag == 1 and error_msg %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                <b>ERROR</b>: The following messages were produced:
                <br/>
                <ul>
                    {% for msg in error_msg %}
                        <li>{{ msg }}</li>
                        {% if "Authors" in msg %}
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#id_authors").parent().addClass("has-error");
                            });
                        </script>
                        {% endif %}
                        {% if "RMDB_ID" in msg %}
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#id_rmdb_id").parent().addClass("has-error");
                            });
                        </script>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <hr/>
        {% endif %}
    </div>

    <div class="row col-md-12">
        <form enctype="multipart/form-data" method="post" action="/deposit/submit/">
            {% csrf_token %}
            <h3>
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>&nbsp;&nbsp;
                Submit RMDB Entry
            </h3>
            <div class="row">
                <div class="col-md-11">
                    <p>New experimental data can be uploaded to the RMDB as a spreadsheet in either the SNRNASM <a href="http://ribosnitch.bio.unc.edu/snrnasm/" target="_blank"><mark>ISATAB</mark>&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> format or <a href="/deposit/specs"><mark>RDAT</mark></a> format.</p>
                    <p>Data must be reviewed and approved by RMDB team before public release. It should meet the following requirements:</p>
                    <ul>
                        <li>Includes error estimates;</li>
                        <li>Contains information on estimated or known structure (at least at the level of secondary structure);</li>
                        <li>Provides description of how the data were processed.</li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <br/><br/><br/><br/>
                    <a href="/deposit/validate/" class="btn btn-warning pull-right">&nbsp;&nbsp;Validate&nbsp;&nbsp;</a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;
                                RDAT File
                            </h2>
                        </div>
                        <div class="panel-body" id="col-1">
                            <div class="row col-md-12">
                                <div class="col-md-2">Format:</div>
                                <div class="col-md-3">{{ form.filetype }}</div>
                                <div class="col-md-3">Experiment Type:</div>
                                <div class="col-md-4">{{ form.type }}</div>
                            </div>
                            <br/><br/><br/>
                            <div class="row col-md-12" data-toggle="popover" data-placement="bottom" title="RMDB ID" data-content="It must be of the format XXXXX_YYY_DDDD, where X and Y are alphanumeric uppercase characters and D are digits. X can be 5-7 length, Y can be 3-4 and D can only be 4. Example: RNAPZ6_DMS_0001.">
                                <div class="col-md-3">RMDB_ID:</div>
                                <div class="col-md-9">{{ form.rmdb_id }}</div>
                            </div>
                            <br/><br/>
                            <div class="row col-md-12">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="id_use_name"> Use file name as <span class="label label-inverse">RMDB_ID</span>
                                    </label>
                                </div>
                                </div>
                            </div>
                            <br/><br/><br/>
                            <div class="row col-md-12">
                                <div class="col-md-3">Upload File:</div>
                                <div class="col-md-9 form-inline">
                                    <input id="id_disp" class="form-control" placeholder="No file chosen" disabled="disabled" style="cursor:text;"/>
                                    &nbsp;&nbsp;
                                    <div class="fileUpload btn btn-info">
                                        <span>&nbsp;&nbsp;Browse&nbsp;&nbsp;</span>
                                        {{ form.file }}
                                    </div>
                                </div>
                            </div>
                            <br/><br/><br/>
                            <div class="row col-md-12">
                                <div class="col-md-3">Description: (<i>optional</i>)</div>
                                <div class="col-md-9">{{ form.description }}</div>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;
                                Associated Publication
                            </h2>
                        </div>
                        <div class="panel-body" id="col-2">
                            <div class="col-md-12">
                                <p>Please specify authorship. The other publication information fields are optional. If left blank, <samp>N/A</samp> will be filled in as default.</p>
                            </div>
                            <br/><br/><br/><br/>
                            <div class="row col-md-12">
                                <div class="col-md-5">Authors:</div>
                                <div class="col-md-7">{{ form.authors }}</div>
                            </div>
                            <br/><br/><br/>
                            <div class="row col-md-12">
                                <div class="col-md-5">Pubmed ID: (<i>optional</i>)</div>
                                <div class="col-md-7">{{ form.pubmed_id }}</div>
                            </div>
                            <br/><br/><br/>
                            <div class="row col-md-12">
                                <div class="col-md-5">Publication Title: (<i>optional</i>)</div>
                                <div class="col-md-7">{{ form.publication }}</div>
                            </div>
                            <br/><br/><br/>
                            <div class="col-md-12">
                                <p>If this entry <code>supercedes</code> another <span class="label label-inverse">RMDB_ID</span>, please contact the admin for manual annotation.</p>
                            </div>
                            <br/><br/><br/>
                            <div class="col-md-12">
                                <span class="pull-right">
                                    <input id="btn_submit" type="submit" class="btn btn-inverse" value="&nbsp;Submit&nbsp;"/>
                                    &nbsp;&nbsp;
                                    <a href="/deposit/submit/" class="btn btn-default">&nbsp;&nbsp;Clear&nbsp;&nbsp;</a>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="stat" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalStat" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content panel-warning">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="stat_label">
                        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                        &nbsp;&nbsp;Entry Submission
                    </h4>
                </div>
                <div class="modal-body panel-body">
                    <div class="col-md-12">
                        <div class="row">
                            <p><b>Please wait while we are processing your entry submission:</b></p>
                            <ul>
                                <li id="step_1">Checking and uploading RDAT file ...</li>
                                <li id="step_2">Updating database entry ...</li>
                                <li id="step_3">Generating json data files ...</li>
                                <li id="step_4">Generating image files ...</li>
                                <li id="step_5">Running secondary structure predictions ...</li>
                            </ul>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br/>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.dropdown-toggle').removeClass("active");
            $("#nav_deposit").addClass("active");
            $("#nav_logo").css("text-decoration","none");

            $("#id_file").addClass("form-control");
            $("#id_filetype").addClass("form-control");
            $("#id_type").addClass("form-control");
            $("#id_rmdb_id").addClass("form-control");
            $("#id_description").addClass("form-control");
            $("#id_pubmed_id").addClass("form-control");
            $("#id_authors").addClass("form-control");
            $("#id_publication").addClass("form-control");

            $("#id_file").on("change", function () {
                $("#id_disp").val($(this).val().replace("C:\\fakepath\\", ""));
                $("#id_use_name").trigger("click");
            });
            $("#id_description").attr("rows",5);
            $("#id_use_name").on("click", function () {
                $("#id_rmdb_id").val($("#id_disp").val().replace(".rdat", ""));
                $(this).attr("checked", false);
            });

            $("#id_rmdb_id, #id_authors").on("focusout", function() {
                $(this).parent().removeClass("has-error");
            });

            var col_h = Math.max($("#col-1").height(), $("#col-2").height()) + 35;
            $("#col-1").css("height", col_h);
            $("#col-2").css("height", col_h);

            $("#btn_submit").on("click", function() {
                $("#stat").modal("show");
                // setInterval(function() {
                //     console.log("check");
                //     $.ajax({
                //         url:'/site_data/tmp.txt',
                //         type: 'GET',
                //         dataType:'text',
                //         async: false,
                //         success: function(data) {
                //             console.log("got it");
                //             console.log(data);
                //         }
                //     });                    
                // }, 500);
            });
        });
    </script>

{% endblock %}

