{% extends "media/html/_public.html" %}
{% load repository_extras %}
{% load widget_tweaks %}

{% block head %}
    <script type='text/javascript' src='/site_media/js/fornac/scripts/fornac.js'></script>
    <link rel="stylesheet" href="/site_media/js/fornac/styles/fornac.css" />
    <link rel="stylesheet" href="/site_media/css/{{DEBUG_DIR}}svg{{DEBUG_STR}}.css" />
{% endblock %}


{% block content %}
<div id="left_panel" class="side_panel well">
	<div role="tabpanel" class="tabbable tabs-right">
		<ul class="nav nav_tabs side_tab" role="tablist" id="left-buttons">
			<li class="left_close panel_close">
				<a class="text-center"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
			</li>
			<br/>
			<li role="presentation" class="left_tab left_group active">
				<a href="#tab_left_1" aria-controls="tab_left_1" role="tab" data-toggle="tab">Annotation</a>
			</li>
			<br/>
			<li role="presentation" class="left_tab left_group">
				<a href="#tab_left_4" aria-controls="tab_left_4" role="tab" data-toggle="tab">Reactivity</a>
			</li>
			<br/>
			<li class="left_close panel_close">
				<a class="text-center"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
			</li>
		</ul>
		<br/>

		<div class="tab-content" style="margin-top:-20px;">
			<div role="tabpanel" class="tab-pane active fade in side_block" id="tab_left_1">
				<ul class="nav nav-tabs tab-top" role="tablist">
					<li role="presentation" class="active"><a href="#gen" aria-controls="gen" role="tab" data-toggle="tab">General</a></li>
					<li role="presentation"><a href="#ann" aria-controls="ann" role="tab" data-toggle="tab">Annotations</a></li>
                </ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active tab-inner" id="gen">
                        <a target="_blank" href="https://rmdb.stanford.edu/deposit/specs/#construct">
                            <img class="pull-right" src="/site_media/images/sidebar_link.png" style="width: 4%;height: auto;"/>
                        </a>
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="col-lg-3 col-md-3 col-sm-4 col-xs-4"></th>
									<th class="col-lg-9 col-md-9 col-sm-8 col-xs-8"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="lead text-right"><span class="label label-default" style="background:#000;">RMDB_ID</span></td>
									<td class="lead">
										{% autoescape off %}
						                <span class="label label-default">{{rmdb_id|color_rmdb_id}}</span>
						                {% endautoescape %}
						            </td>
						        </tr>
								<tr>
									<td class="lead text-right align-center"><span class="label label-primary">NAME</span></td>
									<td class="lead" id="tag_name_panel"></td>
						        </tr>
								<tr>
									<td class="lead text-right"><span class="label label-primary">COMMENT</span></td>
									<td id="tag_comments"></td>
						        </tr>

								<tr>
									<td class="lead text-right"><span class="label label-primary">SEQUENCE</span></td>
									<td id="tag_sequence_len"></td>
						        </tr>
								<tr>
									<td class="lead text-right"><span class="label label-primary">STRUCTURE</span></td>
									<td id="tag_structure_len"></td>
						        </tr>
								<tr>
									<td class="lead text-right"><span class="label label-primary">SEQPOS</span></td>
									<td id="tag_seqpos"></td>
						        </tr>
								<tr>
									<td class="lead text-right"><span class="label label-primary">OFFSET</span></td>
									<td id="tag_offset"></td>
						        </tr>
								<tr>
									<td class="lead text-right"><span class="label label-success">REACTIVITY</span></td>
									<td id="tag_data"></td>
						        </tr>
								<tr>
									<td class="lead text-right"><span class="label label-success">REACTIVITY_ERROR</span></td>
									<td id="tag_data_err"></td>
						        </tr>
						        <tr>
									<td class="lead text-right"><span class="label label-success">XSEL</span></td>
									<td id="tag_xsel"></td>
						        </tr>

								<tr>
									<td class="lead text-right align-center"><span class="label label-default">RDAT_VERSION</span></td>
									<td id="tag_rdat_ver"></td>
						        </tr>
						        
								<tr>
									<td class="lead text-right align-center"><span class="label label-violet">Stats</span></td>
									<td>
										<p>
											<i>Version:</i> <mark id="tag_version"></mark>
											<br/>
											<i># of Construct:</i> <code id="tag_n_construct"></code>
											<br/>
											<i># of Data Point:</i> <code id="tag_n_data"></code>
											<br/>
											<i>Last Modified:</i> <mark id="tag_creation_date"></mark>
											<br/>
											<i>Revision Status:</i>
											<span id="tag_rev_stat"></span>
										</p>
									</td>
						        </tr>
								<tr>
									<td class="lead text-right align-center"><span class="label label-violet">Owner</span></td>
									<td id="tag_owner"></td>
						        </tr>
						        <tr><td colspan="2" style="padding:0px;"></td></tr>
						    </tbody>
						</table>
					</div>

					<div role="tabpanel" class="tab-pane tab-inner" id="ann">
                        <a target="_blank" href="https://rmdb.stanford.edu/deposit/specs/#annotation">
                            <img class="pull-right" src="/site_media/images/sidebar_link.png" style="width: 4%;height: auto;"/>
                        </a>
						<table class="table table-hover" style="word-wrap:break-word;word-break:break-word;">
							<thead>
								<tr>
									<th class="col-lg-3 col-md-3 col-sm-4 col-xs-4"></th>
									<th class="col-lg-3 col-md-3 col-sm-4 col-xs-4"></th>
									<th class="col-lg-6 col-md-6 col-sm-4 col-xs-4"></th>
								</tr>
							</thead>
							<tbody>
								<tr id="tag_annotation">
									<td class="lead text-right align-center"><span class="label label-primary">ANNOTATION</span></td>
									<td class="lead text-right align-center"><span class="label label-danger">experimentType</span></td>
									<td class="lead" id="tag_type"></td>
						        </tr>
								<tr id="tag_data_annotation">
									<td class="lead text-right align-center"><span class="label label-primary">DATA_ANNOTATION</span></td>
									<td></td>
									<td id="tag_data_switch"></td>
						        </tr>
						        <tr><td colspan="3" style="padding:0px;"></td></tr>
							</tbody>
						</table>						
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane active fade in side_block" style="margin-top: 10px" id="tab_left_4">
                <div class="row">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<p class="btn-group-vertical" role="group" style="padding-left:10px;">
							<button id="svg_top" class="btn btn-default">
								<span class="glyphicon glyphicon-fast-backward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
							<button id="svg_up" class="btn btn-default">
								<span class="glyphicon glyphicon-backward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
						</p>
						<p>
							<input type="text" class="form-control" id="page_num" style="width:60px; text-align: center;" />
						</p>
						<p class="btn-group-vertical" role="group" style="padding-left:10px;">
							<button id="svg_down" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-forward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
							<button id="svg_bottom" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-fast-forward" aria-hidden="true" style="transform:rotate(90deg);"></span>
							</button>
						</p>
						<p class="btn-group-vertical" role="group" style="padding-left:10px;">
							<a id="svg_save" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
							</a>
							<button id="svg_setting" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							</button>
							<button id="svg_clear" class="btn btn-default right-block">
								<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
							</button>
						</p>
					</div>
					<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" id="svg_parent"><svg class="chart"></svg></div>
				</div>

                <!-- RNA Structure -->
                <div id="rna_structure_panel" style="margin-right: 40px">
                    <div class="row">
                        <div class="form-inline">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <label label for="id_type" class="pull-right">Reactivity Sets:</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <select class="" id="tag_reactivity_sets">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="rna-structure"></div>
                </div>

                <div class="row" id="tag_browse" style="margin-right: 20px; margin-left: 10px">
                    <a target="_blank" href="https://rmdb.stanford.edu/deposit/specs/#annotation">
                                <img class="pull-right" src="/site_media/images/sidebar_link.png" style="width: 4%;height: auto;"/>
                            </a>
					<table class="table table-hover" style="word-wrap:break-word;word-break:break-word;">
						<tr id="tag_barplot">
							<td class="lead text-right align-center">
                                <span class="label label-primary">DATA_ANNOTATION</span>
                            </td>
							<td></td>
							<td></td>

				        </tr>
						<tr>
							<th class="col-lg-2 col-md-2 col-sm-3 col-xs-4"></th>
							<th class="col-lg-2 col-md-2 col-sm-3 col-xs-4"></th>
							<th class="col-lg-8 col-md-8 col-sm-6 col-xs-4"></th>
						</tr>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="set_panel" class="view_panel">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p>
			<a class="text-center" id="close-set" style="color:#fff;">
				<span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
			</a>
		</p>
		<br/>
		<div class="panel panel-info" >
			<div class="panel-heading">
				<h3 class="panel-title"><b>Settings</b></h3>
			</div>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="show_seq">
                <span class="cr"><span class="cr-icon glyphicon glyphicon-ok"></span></span>
                &nbsp;Show sequences overlay
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="show_area_pred" disabled>
				<span class="cr"><span class="cr-icon glyphicon glyphicon-ok"></span></span>
                &nbsp;Show reactivity prediction
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="show_color_seq">
				<span class="cr"><span class="cr-icon glyphicon glyphicon-ok"></span></span>
                &nbsp;Show nucleotides in color:
				<span id="seqA">A</span>,
				<span id="seqU">U</span>,
				<span id="seqG">G</span>,
				<span id="seqC">C</span>.
			</label>
		</div>
		<label>Adjust heatmap contrast:</label>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
				<input type="range" id="color_slide">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
				<input type="number" class="form-control" id="color_text">
			</div>
		</div>
		<br/>
		<div class="panel panel-orange" >
			<div class="panel-heading">
				<h3 class="panel-title"><b>Help</b></h3>
			</div>
		</div>
		<ul>
			<li>Hover: Show data point information tooltip.</li>
			<li>Click: Show data row barplot and annotation in panel.</li>
			<br/>
			<li>Left Panel: Stats, Annotations, and Structural Predictions.</li>
			<li>Right Panel: Settings and Help.</li>
		</ul>
	</div>


</div>




<div class="container">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9" id="panel_tit">
			<h2 id="tag_name_main"></h2>
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<h2 style="margin-top:0px;">
						{% autoescape off %}
					    <span class="label label-default">{{rmdb_id|color_rmdb_id}}</span>
					    {% endautoescape %}
					</h2>
					<br class="hidden-lg hidden-md" />
				</div>
				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
					<div class="btn-group pull-right" role="group">
						<div class="btn-group" id="tag_supercede"></div>

						<div class="btn-group" id="hist_ver_btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="hist_dropdown">
								<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								&nbsp;&nbsp;History&nbsp;
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu nav nav-pills nav-stacked" role="menu" id="hist_ver_list"></ul>
						</div>

						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="dl_dropdown">
								<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
								&nbsp;&nbsp;Download&nbsp;
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu nav nav-pills nav-stacked" role="menu">
								<li class="li-info"><a id="dl_rdat" download>
									<span class="glyphicon glyphicon-compressed" aria-hidden="true"></span>
									&nbsp;&nbsp;RDAT
								</a></li>
								{% if is_isatab %} 
								<li class="li-brown"><a id="dl_isatab" download>
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									&nbsp;&nbsp;ISATAB
								</a></li>
								{% endif %} 
							</ul>
						</div>

						<button type="button" class="btn btn-default" aria-expanded="false" id="btn-set">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							&nbsp;&nbsp;Settings&nbsp;
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
	        <p class="well center-block" style="text-align:center;" id="panel_leg">
	        	<b>Color Scale:</b>
	        	<br/>
	        	<img src="/site_media/images/fg_gray_colormap.gif"/>
	        	<br/>
	        	<span class="pull-left" id="peak_max"></span>
	        	<span class="pull-right" id="peak_min"></span>
	        	<br/>
	        </p>
		</div>
	</div>
</div>


{% if status == "PUB" %}
<div class="container">
    {% if actual_status != 'PUB' %}
    <p class="lead">This entry is currently unpublished, but you have the privilege to see it.
	<p><img id="img_prv_rev" class="center-block"/></p>
	<p class="lead">To change the status, go to
        <a href="/entry_manage/entry_edit/{{ rmdb_id }}/{{ entry_id }}"><code> Edit Entry </code></a>
    </p>
    <br/>
    {% endif %}

	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<br class="hidden-lg hidden-md" />

			<div class="panel panel-violet">
				<div class="panel-heading">
					<h3 class="panel-title">
						<b>Construct</b>
						<span class="pull-right">
							<a id="show_preview">
								<span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
							</a>
						</span>
					</h3>
				</div>
				<div class="panel-body" id="panel_con">
					<table class="table table-hover" style="word-wrap:break-word;word-break:break-word;">
						<thead>
							<tr>
								<th class="col-lg-2 col-md-2 col-sm-3 col-xs-3"></th>
								<th class="col-lg-10 col-md-10 col-sm-9 col-xs-9"></th>
							</tr>							
						</thead>
						<tbody>
							<tr>
								<td class="lead text-right"><span class="label label-primary">SEQUENCE</span></td>
								<td><p><b><samp id="tag_sequence"></samp></b></p></td>
					        </tr>
							<tr>
								<td class="lead text-right"><span class="label label-primary" >STRUCTURE</span></td>
								<td><p><b><samp id="tag_structure"></samp></b></p></td>
					        </tr>
					        <tr><td colspan="2" style="padding:0px;"></td></tr>
						</tbody>
					</table>
				</div>
			</div>	
		</div>

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title"><b>Citation</b></h3>
				</div>
				<div class="panel-body" id="panel_cit">
					<p><span class="lead"><span class="label label-brown">Entry</span></span></p>
					<p>
						<i id="tag_author"></i>. 
						<br/>
						<b id="tag_title"></b>.
                    </p>
                    <p><span class="lead" id="show_publication"><span class="label label-brown">Publication</span></span></p>
                    <p>
                        <a target="_blank" rel="noopener noreferrer external" id="link_pubmed">
							PMID: <span id="tag_pubmed"></span>
							<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
						</a>
                        <br>
                        {% autoescape off %}
                            {{ pubmed_info|citation_format }}
                        {% endautoescape %}
                    </p>

					<p><span class="lead" id="show_description"><span class="label label-brown">Description</span></span></p>
					<p id="tag_description"></p>
					<p style="padding-top:5px;" id="show_pdb">
						<span class="lead"><span class="label label-default">PDB_ID</span></span>:
						<span id="tag_pdb"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row heatmap-container" id="main" style="margin-left: 70px;"></div>

<!--
{% if entry.has_traces %}
    <div>
	<h3>Raw traces</h3>
	<img class="detailsimg" src="/site_media/construct_img/{{c.id}}/trace.png"/>
    </div>
{% endif %}
-->
<div id="preview" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPrv" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content panel-warning">
			<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="prv_label">
					<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
					&nbsp;&nbsp;Entry Preview
				</h4>
			</div>
			<div class="modal-body panel-body">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<img id="img_prv" class="center-block"/>
						<br/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% else %}
<div class="container">
	<h1 id="header_stat"></h1>
	<br/>
	<!--<p class="lead">This entry has been received and is currently under review by the RMDB team. Once approved by the admin, the entry will be released to the public. On average, the review process should take no longer than 2 days.</p>-->
    <p class="lead">This entry is currently unpublished.
	<p><img id="img_prv_rev" class="center-block"/></p>
	<p class="lead">For any questions, please feel free to <a href="/help/about/#contact"><code>contact</code></a> us.</p>

	{% if user.is_superuser %}
	<hr/>
	<h3>Admin Options</h3>
	<div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>&nbsp;&nbsp;
                        Download
                    </h2>
                </div>
                <div class="panel-body" id="col-1">
					<ul class="nav nav-pills nav-stacked" role="menu">
						<li class="li-info"><a href="" id="dl_rdat_rev" download>
							<span class="glyphicon glyphicon-compressed" aria-hidden="true"></span>
							&nbsp;&nbsp;RDAT
						</a></li>
						{% if is_isatab %} 
						<li class="li-brown"><a href="" id="dl_isatab_rev" download>
							<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
							&nbsp;&nbsp;ISATAB
						</a></li>
						{% endif %} 
					</ul>

                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>&nbsp;&nbsp;
                        Change Status
                    </h2>
                </div>
                <div class="panel-body" id="col-2">
					<form enctype="multipart/form-data" method="post" action="/deposit/review/">
						{% csrf_token %}
	                	<div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
	                		<p>Once submit, the revision status will be updated.</p>
	                		<p>If switched to <span class="label label-success">Published</span>, json data files will be generated.</p>
	                	</div>
	                	<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
	                		{% render_field rev_form.new_stat class+="form-control" %}
	                		<br/>
	                		<button id="btn_submit" type="submit" class="btn btn-inverse pull-right">&nbsp;<span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Submit&nbsp;</button>
	                		{% render_field rev_form.rmdb_id class+="hidden" %}
	                	</div>
				    </form>
                </div>
            </div>
        </div>
    </div>


	{% endif %}
</div>
{% endif %}

<!-- <form class="hidden" id="structureviewform" target="popup"
	onsubmit='popup = window.open("Secondary structure with bonuses","popup","width=450,height=450");' 
	action="/repository/render_structure" method="post">
	<input name="structure" type="text"/>
	<input name="sequence" type="text"/>
	<input name="title" type="text"/>
	<input name="colormap" type="text"/>
	<input name="seqpos" type="text"/>
	<input name="offset" type="text"/>
	<input type="submit" value="sumbit"/>
</form>-->
{% endblock %}


{% block script %}
	<script type="text/javascript">
		if (isCDN) {
			document.write('<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/' + ver_d3 + '/d3.min.js"><\/script>');
		} else {
			document.write('<script type="text/javascript" src="/site_media/js/d3.min.js"><\/script>');
		}
	</script>
	<script type="text/javascript">
		var json, tags, idx = 0, tag_idx = 0, n_rows, color_scale = 1, flag = 0;
		var rmdb_id = "{{rmdb_id}}", status = "{{status}}", version;
		if (status !== "PUB") {
			version = "{{version}}";
		}
	</script>

    <script type='text/javascript'>
        "use strict";

        $('#tag_reactivity_sets').on('change', function (e) {
            load_rna_structure();
        });

    </script>

	{% if not DEBUG_DIR %}
	<script type="text/javascript" src="/site_media/js/public/view_util.js"></script>
	<script type="text/javascript" src="/site_media/js/public/view_tags.js"></script>
	<script type="text/javascript" src="/site_media/js/public/view_heatmap.js"></script>
	<script type="text/javascript" src="/site_media/js/public/view_barplot.js"></script>
	<script type="text/javascript" src="/site_media/js/public/view_setting.js"></script>
	<script type="text/javascript" src="/site_media/js/public/view.js"></script>
	{% else %}
	<script type="text/javascript" src="/site_media/js/public/{{DEBUG_DIR}}view{{DEBUG_STR}}.js"></script>
	{% endif %}

{% endblock %}
