{% extends "media/html/_public.html" %}
{% load repository_extras %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                <h3>
                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>&nbsp;&nbsp;
                    Submit RMDB Entry
                </h3>
                <p>New experimental data can be uploaded to the RMDB as a spreadsheet in either the SNRNASM <a
                        href="http://ribosnitch.bio.unc.edu/snrnasm/" target="_blank"
                        rel="noopener noreferrer external">
                    <mark>ISATAB</mark>&nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                    format or <a href="/deposit/specs/">
                        <mark>RDAT</mark>
                    </a> format.
                </p>
                <p>Data should meet the following requirements:</p>
                <ul>
                    <li>Includes error estimates;</li>
                    <li>Contains information on estimated or known structure (at least at the level of secondary
                        structure);
                    </li>
                    <li>Provides description of how the data were processed.</li>
                </ul>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                <br/><br/>
                <p class="pull-right">
                    <a href="/deposit/specs/" class="btn btn-primary pull-right">&nbsp;<span
                            class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Specs&nbsp;</a></p>
                <br/>
                <a href="/deposit/validate/" class="btn btn-danger pull-right">&nbsp;<span
                        class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Validate&nbsp;</a>
                </p>
            </div>
        </div>
        <br/>

        <form enctype="multipart/form-data" method="post" action="/deposit/submit/" id="upload_form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;
                                RDAT File
                            </h2>
                        </div>
                        <div class="panel-body" id="col-1">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5">Format:</div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{% render_field form.file_type class+="form-control" %}</div>
                                <br class="hidden-lg hidden-md"/>
                                <br class="hidden-lg hidden-md"/>
                                <div class="hidden-lg hidden-md col-sm-1 col-xs-1"></div>
                                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">Experiment Type:</div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{% render_field form.exp_type class+="form-control" %}</div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5">Status:</div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">{% render_field form.entry_status class+="form-control" %}</div>
                                <br class="hidden-lg hidden-md"/>
                                <br class="hidden-lg hidden-md"/>
                                <!--<div class="hidden-lg hidden-md col-sm-1 col-xs-1"></div>
                                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">Co_owners:</div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6"></div>-->
                            </div>
                            <br/>
                            <div class="row" data-toggle="popover" data-placement="bottom" title="RMDB ID"
                                 data-content="It must be of the format XXXXX_YYY_DDDD, where X and Y are alphanumeric uppercase characters and D are digits. X can be 5-7 length, Y can be 3-4 and D can only be 4. Example: RNAPZ6_DMS_0001.">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">RMDB_ID:</div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                                    <div class="input-group">
                                        {% render_field form.rmdb_id class+="form-control" %}
                                        <span class="input-group-btn">
                                    <button class="btn btn-warning" type="button" id="id_useid">&nbsp;<span
                                            class="glyphicon glyphicon-console"></span>&nbsp;&nbsp;Use File Name&nbsp;</button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">Upload File:</div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                                    <!--<div class="input-group">
                                    <input class="form-control" type="text" id="id_disp" name="disp" placeholder="No file chosen" disabled="disabled" style="cursor:text;"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button" id="id_browse">&nbsp;<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Browse&nbsp;</button>
                                    </span>
                                </div>
                                {% render_field form.file class+="hidden" %}-->
                                    {% render_field form.file class="filestyle" data-btnClass="btn-primary" data-placeholder="No File Selected" %}

                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">Description: (<i>optional</i>)</div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">{% render_field form.description class+="form-control" rows="6" %}</div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;
                                Associated Publication
                            </h2>
                        </div>
                        <div class="panel-body" id="col-2">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p>Please specify authorship. The other publication information fields are optional.
                                        If left blank, <samp>N/A</samp> will be filled in as default.</p>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Authors:</div>
                                <div class="col-md-7 col-md-7 col-sm-7 col-xs-7">{% render_field form.authors class+="form-control" %}</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Pubmed ID: (<i>optional</i>)</div>
                                <div class="col-md-7 col-md-7 col-sm-7 col-xs-7">{% render_field form.pubmed_id class+="form-control" %}</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Publication Title: (<i>optional</i>)
                                </div>
                                <div class="col-md-7 col-md-7 col-sm-7 col-xs-7">{% render_field form.publication class+="form-control" %}</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p>If this entry <code>supercedes</code> another <span class="label label-inverse">RMDB_ID</span>,
                                        please contact the admin for manual annotation.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="panel panel-orange">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;
                                Co-owners
                            </h2>
                        </div>
                        <div class="panel-body" id="col-3">
                            {% if rmdb_usr.principal_investigator.all %}
                            <div class="row" style="padding-left:1em">Principal Investigator:
                                {% for p_inves in rmdb_usr.principal_investigator.all %}
                                    <span class="btn btn-default btn-sm" style="pointer-events: none">&nbsp;{{ p_inves }}</span>
                                {% endfor %}</div>
                            <br/>
                            {% endif %}

                            <!-- add co-owners -->
                            {{ formset.management_form }}

                            {% for co_owner_form in formset %}
                                <div class="co-owner-formset" data-toggle="popover" data-placement="bottom" title="Co-owners"
                                     data-content="You can add Co-owners using their account name, and they will have edit privileges on this entry. Anyone who has the entry edit privileges can edit Co-owners in the Entry Management.">
                                    Username: {{ co_owner_form.co_owner }}&nbsp;
                                </div>
                            {% endfor %}
                            <br/>
                            <br/>
                            <div class="help" style="color:red;font-size:90%;">{{ formset.non_form_errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <p class="pull-right">
                        <button type="submit" class="btn btn-success clickable" id="btn_submit">&nbsp;<span
                                class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;Submit&nbsp;
                        </button>
                        &nbsp;&nbsp;
                        <a class="btn btn-default clickable" href="/deposit/submit/">&nbsp;<span
                                class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Clear&nbsp;</a>
                    </p>
                </div>
            </div>


        </form>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr/>
                {% if flag == 2 %}
                    <div class="alert alert-success" role="alert">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                        <img src="/site_data/thumbnail/{{ entry.rmdb_id }}.gif"
                             style="float:right; width:200px; padding-right:10px;">
                        <b>SUCCESS</b>: Your RMDB entry has been submitted.
                        <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br/>
                        <p>Entry <span class="label label-inverse">RMDB ID</span>: <span class="lead"><span
                                class="label label-default">{% autoescape off %}
                            {{ entry.rmdb_id|color_rmdb_id }}{% endautoescape %}</span></span>, <u>Version</u>:
                            <mark>{{ entry.version }}</mark>
                        </p>
                        <p>Entry <span class="label label-danger">experimentType</span>:
                            {% autoescape off %}{{ entry.type|get_exp_type }}{% endautoescape %}</p>
                        <p>Entry <span class="label label-violet">Owner</span>: <kbd>{{ entry.owner }}</kbd>,
                            {% if entry.co_owners.all %}
                                <span class="label label-orange">Co-owners</span>:
                                {% for co_owner in entry.co_owners.all %}
                                    <i>{{ co_owner }},</i>
                                {% endfor %}
                            {% endif %}
                            <span class="label label-brown">Authors</span>: <i>{{ entry.authors }}</i>
                        </p>
                        <p>Entry <span class="label label-violet">Stats</span>: <u># of Constructs</u>:
                            <code>{{ entry.construct_count }}</code>, <u># of Data Points</u>:
                            <code>{{ entry.data_count }}</code></p>
                        <br/>
                        <p>Entry <u>Status</u>: <span class="lead">{% autoescape off %}
                            {{ entry.status|get_rev_stat }}{% endautoescape %}</span></p>
                        <br/>
                        <p>
                            <b>**</b>
                            {% if entry.status != 'PUB' %}
                                Your submission is currently hidden from the public. You can change it anytime by
                                <a href="/entry_manage">&nbsp;<span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Entry
                                    Management&nbsp;</a>.
                            {% else %}
                                To visit your entry, click here:
                                <a class="btn btn-danger" href="/detail/{{ entry.rmdb_id }}">&nbsp;<span
                                        class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;Detail&nbsp;</a>.
                            {% endif %}
                        </p>
                    </div>
                {% elif flag == 1 and error_msg %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                        <b>ERROR</b>: The following messages were produced:
                        <br/>
                        <ul>
                            {% for msg in error_msg %}
                                <li>{{ msg }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <!--<div id="wait" class="modal" aria-hidden="true"></div>-->

        <div id="stat" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalStat" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content panel-warning">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="stat_label">
                            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                            &nbsp;&nbsp;Entry Submission
                        </h4>
                    </div>
                    <div class="modal-body panel-body">
                        <div class="col-md-12">
                            <div class="row">
                                <p><b>Please wait while we are processing your entry submission:</b></p>
                                <ul>
                                    <li id="step_1">Checking and uploading RDAT file ...</li>
                                    <li id="step_2">Updating database entry ...</li>
                                    <li id="step_3">Generating json data files ...</li>
                                    <li id="step_4">Generating image files ...</li>
                                    <li id="step_5">Running secondary structure predictions ...</li>
                                </ul>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br/>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="/site_media/js/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery.formset.js"></script>

    <script>
        $('.co-owner-formset').formset({
            addText: '<br/><button class="btn btn-info btn-sm">Add Co-owner</button>',
            deleteText: '<span class="glyphicon glyphicon-remove-sign"></span><p></p>',
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').removeClass("active");
            $("#nav_deposit").addClass("active");
            $("#nav_logo").css("text-decoration", "none");
            //$("#wait").fadeOut(500);

            //$("#id_browse").on("click", function(event) {
            //    event.preventDefault();
            //    $("#id_file").trigger("click");
            //});
            //$("#id_file").on("change", function () {
            //    console.log($(this).val());
            //    $("#id_disp").val($(this).val().replace("C:\\fakepath\\", ""));
            //});
            $("#id_useid").on("click", function () {
                $("#id_rmdb_id").val($("#id_file").val().replace("C:\\fakepath\\", "").replace(".rdat", ""));
            });

            var col_h = Math.max($("#col-1").height(), $("#col-2").height()) + 35;
            $("#col-1").css("height", col_h);
            $("#col-2").css("height", col_h);

            $("#upload_form").on("submit", function () {
                console.log("submit the form");
                $("#stat").modal("show");
                //$("#wait").fadeIn(500);
            });


            //$("#btn_submit").on("click", function() {
            //$("#stat").modal("show");
            // setInterval(function() {
            //     console.log("check");
            //     $.ajax({
            //         url:'/site_data/tmp.txt',
            //         type: 'GET',
            //         dataType:'text',
            //         async: false,
            //         success: function(data) {
            //             console.log("got it");
            //             console.log(data);
            //         }
            //     });
            // }, 500);
            //});
        });
    </script>

{% endblock %}

