{% extends "media/html/_public.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container">

    <div class="row">
        <h3>
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;
            MyRMDB Account Registration
        </h3>
        <br/>
        <form method="post" action="/register/">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;Account Login</h2>
                        </div>
                        <div class="panel-body" id="col-1">
                            <div class="row" data-toggle="popover" data-placement="bottom" title="User ID" data-content="It must be at least 3 characters long. Alphanumeric characters only. Previously used User IDs are not available.">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <span class="pull-right"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;User Name:</span>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">{% render_field reg_form.username class+="form-control" %}</div>
                            </div>
                            <br/>
                            <div class="row" data-toggle="popover" data-placement="bottom" title="Password" data-content="It must be at least 6 characters long. No limit on combinations.">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <span class="pull-right"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Password:</span>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">{% render_field reg_form.password class+="form-control" %}</div>
                            </div>
                            <br/>
                            <div class="row" data-toggle="popover" data-placement="bottom" title="Password" data-content="Type your password for a second time. Both times must match.">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <span class="text-right pull-right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Repeat Password:</span>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">{% render_field reg_form.repeat_password class+="form-control" %}</div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Contact Information</h2>
                        </div>
                        <div class="panel-body" id="col-2">
                            <br/>
                            <div class="row" data-toggle="popover" data-placement="bottom" title="Contact Name" data-content="First name must be at least 3 characters, while last name must be at least 2 characters.">
                                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                                    <span class="pull-right"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;First Name:</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-7 col-xs-7">
                                    {% render_field reg_form.first_name class+="form-control" %}
                                    <br class="hidden-lg hidden-md" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                                    <span class="pull-right"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;Last Name:</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-7 col-xs-7">
                                    {% render_field reg_form.last_name class+="form-control" %}
                                    <br class="hidden-lg hidden-md" />
                                </div>
                                <!--<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>-->
                            </div>
                            <br/>
                            <div class="row" data-toggle="popover" data-placement="bottom" title="Affiliation" data-content="Institution and department names must be at least 4 characters long.">
                                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                                <span class="pull-right"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Insititution:</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-7 col-xs-7">
                                    {% render_field reg_form.institution class+="form-control" %}
                                    <br class="hidden-lg hidden-md" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                                    <span class="pull-right"><span class="glyphicon glyphicon-tower"></span>&nbsp;&nbsp;Department:</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-7 col-xs-7">
                                    {% render_field reg_form.department class+="form-control" %}
                                    <br class="hidden-lg hidden-md" />
                                </div>
                                <!--<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>-->
                            </div>
                            <br/>
                            <div class="row" data-toggle="popover" data-placement="bottom" title="Email" data-content="Please use valid email address.">
                                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                                    <span class="pull-right"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;E-mail Address:</span>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-7 col-xs-7">{% render_field reg_form.email class+="form-control" %}</div>
                                <!--<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>-->
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="panel panel-orange">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;
                                Principal Investigator
                            </h2>
                        </div>
                        <div class="panel-body" id="col-3">
                            <!-- edit co-owners -->
                            {{ formset.management_form }}

                            {% for p_inves_form in formset %}
                                <div class="p-investigator-formset" data-toggle="popover" data-placement="bottom" title="Principal Investigator"
                                     data-content="For long-term maintenance of the entry, you can put the account name of your principal investigator, who will by default have edit privileges on your entries. You can change this later in the Edit Profile page.">
                                    Username: {{ p_inves_form.p_inves }}&nbsp;
                                </div>
                            {% endfor %}
                            <br/>
                            <br/>
                            <div class="help" style="color:red;font-size:90%;">{{ formset.non_form_errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-inverse">&nbsp;<span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;Submit&nbsp;</button>
                        &nbsp;
                        <a href="/register/" class="btn btn-default">&nbsp;<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Clear&nbsp;</a>
                    </div>
                </div>
            </div>
        </form>
        <br/><br/>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% if flag == 1 %}
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                    <b>SUCCESS</b>: Your MyRMDB account has been processed. Thank you for registration. Now you can 
                    <a href="/login/" class="btn btn-inverse">
                        <span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;Sign In&nbsp;
                    </a>.
                </div>
            {% endif %}

            {% if flag == 0 and error_msg %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                    <b>ERROR</b>: The following messages were produced:
                    <br/>
                    <ul>
                        {% for msg in error_msg %}
                            <li>{{ msg }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

</div>
<br/>
</div>
{% endblock %}


{% block script %}
    <script type="text/javascript" src="/site_media/js/jquery.formset.js"></script>

    <script>
        $('.p-investigator-formset').formset({
            addText: '<br/><button class="btn btn-info btn-sm">Add More</button>',
            deleteText: '<span class="glyphicon glyphicon-remove-sign"></span><p></p>',
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.dropdown-toggle').removeClass("active");
            $("#nav_deposit").addClass("active");
            $("#nav_logo").css("text-decoration","none");

            var col_h = Math.max($("#col-1").height(), $("#col-2").height()) + 20;
            $("#col-1").css("height", col_h);
            $("#col-2").css("height", col_h);
        });
    </script>

{% endblock %}
</div>