{% extends "media/html/_public.html" %}
{% load widget_tweaks %}

{% block content %}
    {% if validlink %}
        <div class="container">
            <div class="bgimg2-lg center-block text-center" style="padding:50px 0px; min-height:400px;">
                <h2><span class="label label-violet">Change password</span></h2>
                <form method="post">
                    {% csrf_token %}
                    <div style="margin-top:25px; width:300px;" class="center-block text-center">
                        <div class="input-group" data-toggle="popover" data-placement="bottom" title="Password"
                             data-content="It must be at least 6 characters long. No limit on combinations.">
                            <span class="input-group-addon" style="color:#000;"><span
                                    class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                            {% render_field form.new_password1 class+="form-control" placeholder="New Password" %}
                        </div>
                        <div class="help-inline" style="color:red;font-size:85%;">{{ form.new_password1.errors }}</div>
                    </div>
                    <div style="margin-top:25px; width:300px;" class="center-block text-center">
                        <div class="input-group" data-toggle="popover" data-placement="bottom" title="Password"
                             data-content="It must be at least 6 characters long. No limit on combinations.">
                            <span class="input-group-addon" style="color:#000;"><span
                                    class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                            {% render_field form.new_password2 class+="form-control" placeholder="New Password Confirmation" %}
                        </div>
                        <div class="help-inline" style="color:red;font-size:85%;">{{ form.new_password2.errors }}</div>
                    </div>
                    <p style="margin-top:20px;">
                        <button type="submit" value="" class="btn btn-primary clickable">
                            &nbsp;<span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;Submit&nbsp;
                        </button>
                    </p>
                </form>
            </div>
        </div>
    {% else %}
        <div class="row">
            <br/>
            <div class="row">
                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="alert alert-danger" style="text-align:center">
                        <h2>Invalid!</h2>
                        <p>The password reset link was invalid, possibly because it has already been used.
                            Please request a new password reset.</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}
