{% extends "media/html/_public.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="bgimg2-lg center-block text-center" style="padding:50px 0px; min-height:400px;">
            <h2><span class="label label-violet">Password reset</span></h2>
            <b><p style="padding-top:10px;" class="center-block text-center">
                Forgotten your password? <br/>Enter your username or email address below (not both), and we'll email
                instructions for setting a
                new one.
            </p></b>
            <form method="post" id="send_email_form">
                {% csrf_token %}
                <div style="margin-top:25px; width:300px;" class="center-block text-center">
                    <div class="input-group">
                        <span class="input-group-addon" style="color:#000;"><span class="glyphicon glyphicon-user"
                                                                                  aria-hidden="true"></span></span>
                        {% render_field form.username class+="form-control" placeholder="Username" %}
                    </div>
                </div>
                <div style="margin-top:25px; width:300px;" class="center-block text-center">
                    <div class="input-group">
                        <span class="input-group-addon" style="color:#000;"><span class="glyphicon glyphicon-envelope"
                                                                                  aria-hidden="true"></span></span>
                        {% render_field form.email class+="form-control" placeholder="Email Address" %}
                    </div>
                </div>

                {% if form.errors %}
                    <br/>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="help-inline" style="color:red;font-size:85%;">{{ error|escape }}</div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="help-inline" style="color:red;font-size:85%;">{{ error|escape }}</div>
                    {% endfor %}
                {% endif %}

                <p style="margin-top:20px;">
                    <button type="submit" value="" class="btn btn-primary clickable">
                        &nbsp;<span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;Reset&nbsp;
                    </button>
                </p>
            </form>
        </div>
    </div>

    <!-- loading -->
    <div id="stat" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalStat" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content panel-warning">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="stat_label">
                        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                        &nbsp;&nbsp;Sending the email...
                    </h4>
                </div>
                <div class="modal-body panel-body">
                    <div class="col-md-12">
                        <div class="row">
                            <p><b>Please wait while we are sending the reset link.</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script type="text/javascript">
        $("#send_email_form").on("submit", function () {
            $("#stat").modal("show");
        });
    </script>
{% endblock %}