{% extends "media/html/_public.html" %}

{% block content %}
    <div class="row">
        <br/>
        <div class="row">
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="alert alert-success" style="text-align:center">
                    <h2>Success!</h2>
                    <p>Your password has been set. You may go ahead and
                        <a href="/login/" class="btn btn-inverse btn-xs">
                            <span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;Sign In&nbsp;
                        </a>. now.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
        </div>
    </div>

{% endblock %}